<div class="f-rtl">
    <div class="title">סועדים</div>
    <div class="flex body">
        <table class="fixedWidth" [ngClass]="{'hLarge':hSize==='large', 'hxLarge':hSize==='xlarge'}">
            <tr>
                <td></td>
                <td>סה"כ</td>
                <td *ngFor="let shift of dataByShifts">{{shift.name}}</td>
            </tr>            
            <tr>
                <td>מכירות סועדים</td>
                <td>{{totalSalesPPA | curr:'0'}}</td>
                <td *ngFor="let shift of dataByShifts">{{shift.salesPPA | curr:'0'}}</td>
            </tr>
            <tr>
                <td>סועדים</td>
                <td>{{totalDiners | number : '1.0-0'}}</td>
                <td *ngFor="let shift of dataByShifts">{{shift.diners | number : '1.0-0'}}</td>
            </tr>
            <tr>
                <td>PPA</td>
                <td>{{totalPPA | curr}}</td>
                <td *ngFor="let shift of dataByShifts">{{shift.ppa | curr}}</td>
            </tr>
        </table>
    </div>
</div>