<div class="f-rtl">
    <div class="title">סועדים</div>
    <div class="flex body">
        <table class="fixedWidth" [ngClass]="{'hLarge':hSize==='large', 'hxLarge':hSize==='xlarge'}">
            <tr>
                <td></td>
                <td *ngFor="let shift of dataByShifts">{{shift.name}}</td>
            </tr>
            <tr>
                <td>סועדים</td>
                <td *ngFor="let shift of dataByShifts">{{shift.diners | number : '1.0-0'}}</td>
            </tr>
            <tr>
                <td>PPA</td>
                <td *ngFor="let shift of dataByShifts">{{shift.ppa | currency:'ILS':'symbol':'1.2-2'}}</td>
            </tr>
        </table>
    </div>
</div>