<div class="flex d-col a-stretch">
  <dx-load-indicator class="as-center" *ngIf="!dxGrid.show" rtlEnabled="true"></dx-load-indicator>
  <dx-data-grid
    *ngIf="dxGrid.show"
    (onRowClick)="rowClickHandler($event)"
    [dataSource]="dxGrid.dataSource"
    [columnAutoWidth]="true"
    [rtlEnabled]="true"
    [showColumnLines]="false"

    noDataText="No Data"
    i18n-noDataText="@@noData"

    rowTemplate="rowTemplateName"

    >
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-sorting
      ascendingText="Sort Ascending"
      i18n-ascendingText="@@sortAscending"

      descendingText="Sort Descending"
      i18n-descendingText="@@sortDescending"

      clearText="Clear Sort"
      i18n-clearText="@@clearSort"
      >
    </dxo-sorting>

    <dxi-column
      caption="Day"
      i18n-caption="@@day"
      dataField="dateFormatted"></dxi-column>
    <dxi-column
      caption='Total'
      i18n-caption="@@total"
      dataField="sales"
      dataType="number"
      ></dxi-column>
      <!-- [format]="{ style: 'currency', currency: 'ILS', currencyDisplay: 'symbol', minimumFractionDigits: 0, maximumFractionDigits: 0 }" -->
    <dxi-column
      caption="Diners"
      i18n-caption="@@diners"
      dataField="dinersPPA"
      format="#,###"></dxi-column>
    <dxi-column
      caption="PPA"
      i18n-caption="@@ppa"
      dataField="ppa"
      ></dxi-column>
      <!-- [format]="{ style: 'currency', currency: 'ILS', minimumFractionDigits: 2, maximumFractionDigits: 2 }" -->

    <tbody *dxTemplate="let data of 'rowTemplateName'">
      <tr class="dx-row dx-data-row dx-row-lines">
        <td style="text-align: right;">{{data.data.dateFormatted}}</td>
        <td style="text-align: right;">
          <div class="flex">
            <div class="flex">{{data.data.sales | curr:'0'}}</div>
            <div
              *ngIf="data.data.dailyTrends.trends.sales.status==='ready'"
              class="flex d-col a-center trend"
              [ngClass]="data.data.dailyTrends.trends.sales.val > 0 ? 'up' : 'down'">
              <div class="flex label">
                <div class="flex letter" i18n="@@cardLetter">{ data.data.dailyTrends.trends.sales.letter, select, A {A} Y {Y} }</div>
                <mat-icon>play_arrow</mat-icon>
              </div>
              <div class="figure">{{data.data.dailyTrends.trends.sales.val | percent:'1.1-1'}}</div>
            </div>
          </div>
        </td>

        <td style="text-align: right;">
          <div class="flex">
            <div class="flex">{{data.data.dinersPPA | number : '1.0-0'}}</div>
            <div *ngIf="data.data.dailyTrends.trends.diners.status==='ready'" class="flex d-col a-center trend" [ngClass]="data.data.dailyTrends.trends.diners.val > 0 ? 'up' : 'down'">
              <div class="flex label">
                <div class="flex letter" i18n="@@cardLetter">{ data.data.dailyTrends.trends.diners.letter, select, A {A} Y {Y} }</div>
                <mat-icon>play_arrow</mat-icon>
              </div>
              <div class="figure">{{data.data.dailyTrends.trends.diners.val | percent:'1.1-1'}}</div>
            </div>
          </div>
        </td>

        <td style="text-align: right;">
          <div class="flex">
            <div class="flex">{{data.data.ppa | curr}}</div>
            <div
              *ngIf="data.data.dailyTrends.trends.ppa.status==='ready'"
              class="flex d-col a-center trend"
              [ngClass]="data.data.dailyTrends.trends.ppa.val > 0 ? 'up' : 'down'">
              <div class="flex label">
                <div class="flex letter" i18n="@@cardLetter">{ data.data.dailyTrends.trends.ppa.letter, select, A {A} Y {Y} }</div>
                <mat-icon>play_arrow</mat-icon>
              </div>
              <div class="figure">{{data.data.dailyTrends.trends.ppa.val | percent:'1.1-1'}}</div>
            </div>
          </div>
        </td>

      </tr>
    </tbody>

  </dx-data-grid>
</div>