/deep/.month-grid {
    .dx-datagrid .dx-row.dx-header-row > td, .dx-datagrid .dx-row.dx-data-row > td {
        font-size: 14px;
    }
}

.bg-success-dark {
  background-color: #1f8437;
}

.bg-danger-dark {
  background-color: #a02632;
}

.progress {
  height: 20px;
}

.progress-bar {
  font-size: 14px;
}

.month-grid {

  .category-picker {
    .icon {
      position: relative;
      top: 6px;
      right: 12px;
    }

    .material-icons {
      position: relative;
      top: 4px;
    }

    .btn {
      width: 20%;
      padding: 12px 4px;
      font-size: 14px;
    }
  }
  .progress {
    overflow: visible;

    .progress-bar-ticker {
      position: relative;
      height: 20px;
      top: -2px;
    }
  }
}

.trend {
    transform: scale(0.7);//scaling compared to the card trend components

    .figure {
        font-size: 16px;
        line-height: 0.8;
    }

    .label {
        line-height: 1;
        mat-icon {
            font-size: 30px;
        }
        .letter {
            font-size: 15px;
        }
    }

    &.up {
        .label {
            color: #30e430;
            text-shadow: #eeffee 0px 0px 2px;
            .letter {
                transform: translateX(-3px) translateY(4px);
            }
            mat-icon {
                transform: rotateZ(-90deg) translateY(-3px) translateX(-6px);
            }
        }
    }
    &.down {
        .label {
            color: #ff2121;
            text-shadow: #f48f8f 0px 0px 2px;
            order: 2;
            .letter {
                transform: translateX(-1px) translateY(2px);
            }
            mat-icon {
                transform: rotateZ(90deg) translateY(-4px) translateX(-6px);
            }
        }
    }
}