<div class="card p-0 month-grid" xmlns="http://www.w3.org/1999/html">
    <div class="col-12 p-0">
        <ul class="list-group p-0" *ngIf="days">
            <li class="list-group-item p-0 m-0">
                <div class="col-12 mx-0 p-0">
                    <div class="row m-2" style="direction: rtl">
                        <div class="category-picker">
                            <span class="btn btn-lg btn-outline-info" [ngClass]="getTextColor('sales')"
                                  (click)="changeCategory('sales')">{{tmpTranslations.get('monthViewFilters.sales')}}</span>
                            <span class="btn btn-lg btn-outline-info" [ngClass]="getTextColor('cancellations')"
                                  (click)="changeCategory('cancellations')">{{tmpTranslations.get('monthViewFilters.cancellations')}}</span>
                            <span class="btn btn-lg btn-outline-info" [ngClass]="getTextColor('operational')"
                                  (click)="changeCategory('operational')">{{tmpTranslations.get('monthViewFilters.operational')}}</span>
                            <span class="btn btn-lg btn-outline-info" [ngClass]="getTextColor('retention')"
                                  (click)="changeCategory('retention')">{{tmpTranslations.get('monthViewFilters.retention')}}</span>
                            <span class="btn btn-lg btn-outline-info" [ngClass]="getTextColor('employee')"
                                  (click)="changeCategory('employee')">{{tmpTranslations.get('monthViewFilters.employee')}}</span>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="average-picker">
                            <span class="btn btn-lg btn-outline-secondary"
                                  [ngClass]="avgPeriodComparator === 'month' ? 'active' : ''"
                                  (click)="changeAvgPeriodComparator('month')" i18n="@@fourWeek">4 Week</span>
                            <span class="btn btn-lg btn-outline-secondary"
                                  [ngClass]="avgPeriodComparator === 'year' ? 'active' : ''"
                                  (click)="changeAvgPeriodComparator('year')" i18n="@@previousYear">Prev. Year</span>
                            <span class="btn btn-lg btn-outline-secondary disabled" i18n="@@projection">Projection</span>
                        </div>
                    </div>
                </div>
            </li>
            <li *ngFor="let day of days" class="list-group-item" style="height: 62px;">
                <div class="row flex a-center" (click)="rowClickHandler(day)"
                     style="cursor: pointer">
                    <div class="col-3 px-1" style="max-width: 18% !important;">
                        <div>{{day.date | date: 'dd'}} {{day.date | date: 'EEE'}}</div>
                    </div>
                    <div class="col-8 px-1" style="max-width: 63% !important;">
                        <div class="progress rounded-0" style="width: 85%; height: 6px;">
                            <div class="progress-bar progress-bar-animated rounded-0" role="progressbar"
                                 style="width: 100%; background-color: #e9ecef"></div>
                        </div>
                        <div class="progress rounded-0" [style.width]="getValueInPercentage(day) <= 100 ? '85%' : (85 + ((getProgressBarWidth(day) - 100)) * 0.85) + '%'">
                            <div class="progress-bar progress-bar-animated rounded-0" [ngClass]="getProgressBarBackground(day)" role="progressbar" [style.width]="getValueInPercentage(day) >= 100 ? '100%' : getProgressBarWidth(day) + '%'" style="font-size: 16px;">{{getValueInPercentage(day)}}%</div>
                        </div>
                        <div class="progress rounded-0" style="width: 85%; height: 6px;">
                            <div class="progress-bar progress-bar-animated rounded-0" role="progressbar"
                                 style="width: 100%; background-color: #e9ecef"></div>
                        </div>
                    </div>
                    <div class="col-3 px-1" style="max-width: 19% !important;">
                        <span *ngIf="category === 'sales'"
                              [innerHtml]="getGaugeValue(day) | currency:'0':'':'':false"></span>
                        <span *ngIf="category !== 'sales'">{{getGaugeValue(day) | pct : 1 }}</span>
                    </div>
                </div>
                <div *ngIf="day.isExcluded" class="row">
                    <div iv class="col-12 px-1">
                        <span class="font-weight-light text-info" style="font-size: 14px; position:relative;top:-4px;">{{day.holiday}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>