<div class="card p-0 month-grid">
    <div class="col-12 p-0">
        <ul class="list-group p-0">
            <li class="list-group-item p-0 m-0">
                <div class="col-12 font-weight-bold mx-0 p-0" style="font-size: 18px;">
                    <div class="row mx-0 p-0 justify-content-center">
                        <div class="btn-group w-100">
                            <span class="btn btn-light rounded-0 w-25 border" [ngClass]="getTextColor('sales')" (click)="changeCategory('sales')"><i class="material-icons">attach_money</i></span>
                            <span class="btn btn-light w-25 border" [ngClass]="getTextColor('cancellations')" (click)="changeCategory('cancellations')"><i class="material-icons">cancel</i></span>
                            <span class="btn btn-light w-25 border" [ngClass]="getTextColor('operational')" (click)="changeCategory('operational')"><i class="material-icons">build</i></span>
                            <span class="btn btn-light w-25 border" [ngClass]="getTextColor('retention')" (click)="changeCategory('retention')"><i class="material-icons">card_giftcard</i></span>
                            <span class="btn btn-light rounded-0 w-25 border" [ngClass]="getTextColor('employee')" (click)="changeCategory('employee')"><i class="material-icons">pregnant_woman</i></span>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="btn-group w-100">
                            <span class="btn btn-lg btn-light rounded-0 w-50 border" [ngClass]="avgPeriodComparator === 'year' ? 'active' : ''" (click)="changeAvgPeriodComparator('year')">שנה קודמת</span>
                            <span class="btn btn-lg btn-light rounded-0 w-50 border" [ngClass]="avgPeriodComparator === 'month' ? 'active' : ''" (click)="changeAvgPeriodComparator('month')">4 שב'</span>
                        </div>
                    </div>
                </div>
            </li>
            <li *ngFor="let day of days" class="list-group-item" >
                <div class="row flex a-center" (click)="rowClickHandler(day)" style="cursor: pointer">

                    <div class="col-3">
                        {{day.date | date: 'dd'}} {{day.date | date: 'EEE'}}
                    </div>
                    <div class="col-6">
                        <div class="progress rounded-0">
                            <div [style.width]="getProgressBarWidth(day) + '%'"
                                 class="progress-bar rounded-0" [ngClass]="getProgressBarBackground()" role="progressbar"
                                 >
                            </div>
                            <div [style.width]="'3px'" class="progress-bar-ticker progress-bar rounded-0 bg-dark" role="progressbar"></div>
                            <div [style.width]="getRemainingWidth(day) + '%'"
                                 class="progress-bar rounded-0" [ngClass]="getProgressBarBackground()" role="progressbar"
                                 >
                            </div>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <span *ngIf="category === 'sales'">{{getGaugeValue(day) | curr:'0':'':'':false}}</span>
                        <span *ngIf="category !== 'sales'">{{getGaugeValue(day) | pct }}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>