<div class="flex d-col orderBill" *ngIf="order">    
    <div class="flex">
        <div>מלצר</div>
        &nbsp;
        <div>{{order.users.waiter.fullName}}</div>
    </div>
    <div class="flex">
        <div>אחראי</div>
        &nbsp;
        <div>{{order.users.owner.fullName}}</div>
    </div>
    <div class="flex">
        <div>שולחן</div>
        &nbsp;
        <div>{{orderOld.table}}</div>
    </div>
    <div class="flex">
        <div>מספר סועדים</div>
        &nbsp;
        <div>{{orderOld.dinersNum}}</div>
    </div>


    <!-- XXXXXXXXXXXXXX ng include stuff -->

    
</div>