.dx-calendar-navigator a.disable i {
    color: rgba(128, 128, 128, 0.5);
}

.month-selector button {
    height: 50px;
    min-width: 60px;
}

.month-picker {
    font-size: 17px;
    border-color: #fff;
    width: 80%
}