<!-- <dx-calendar 
  [min]="minDateValue" 
  [max]="maxDateValue" 
  [(value)]="currentValue" 
  zoomLevel="month" 
  [showTodayButton]="true"
  [rtlEnabled]="true" 
  minZoomLevel='year' 
  maxZoomLevel='year'
  >
</dx-calendar> -->

<!-- <div class="flex widget">
  <button type="button" (click)="prevMonth()"><</button>
  <div>{{currentValue | amDateFormat:'MMM YYYY'}}</div>
  <button type="button" (click)="nextMonth()">></button>
</div> -->

<div class="flex widget">
  <div class="dx-widget dx-calendar-navigator">
    <a 
     (click)="prevMonth()"
      class="dx-button dx-button-normal dx-widget dx-button-has-icon dx-calendar-navigator-previous-view dx-calendar-navigator-previous-month"
      role="button" aria-label="chevronleft">
      <div class="dx-button-content">
        <i class="dx-icon dx-icon-chevronleft"></i>
      </div>
    </a>
    <a class="dx-calendar-caption-button dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="">
      <div class="dx-button-content">
        <span class="dx-button-text">{{currentValue | date:'MMMM yyyy'}}</span>
      </div>
    </a>
    <a 
     (click)="nextMonth()"
      class="dx-button dx-button-normal dx-widget dx-button-has-icon dx-calendar-navigator-next-view dx-calendar-navigator-next-month"
      role="button" aria-label="chevronright">
      <div class="dx-button-content">
        <i class="dx-icon dx-icon-chevronright"></i>
      </div>
    </a>
  </div>
</div>