@import '../../../../tabit/styles/config/frame';
@import '../../../../tabit/styles/config/colors';

.selected {
  background-color: #BDBDBD;
}

.month-picker-dialog {
  font-family: 'Assistant', sans-serif;
}

::ng-deep.card {
  margin-bottom: 5px;
  font-family: 'Assistant', sans-serif;
}

::ng-deep.mat-bottom-sheet-container {
  touch-action: pan-y;
  user-select: none;
  -webkit-user-drag: none;
  max-height: 100vh;
}

::ng-deep.cdk-overlay-pane {
  top: $toolbarHeight;
  @media #{$iphone-X-portrait-mq} {
    top: $iphone-X-notch-px + $toolbarHeight;
  }
  @media #{$iphone-6-7-8-portrait-mq} {
    top: $iphone-6-7-8-status-bar-px + $toolbarHeight;
  }
  @media #{$iphone-6-7-8-plus-portrait-mq} {
    top: $iphone-6-7-8-plus-status-bar-px + $toolbarHeight;
  }
  @media #{$ipad-portrait-mq} {
    top: $ipad-status-bar-px + $toolbarHeight;
  }
  height: 100vh;
  max-height: 100vh;
  position: relative !important;
}

.month-picker-backdrop {
  opacity: 0;
}