.selected {
    background-color: #BDBDBD;
}

.month-picker-dialog {
  font-family: 'Assistant', sans-serif;
}

::ng-deep.card {
  margin-bottom: 5px;
  font-family: 'Assistant', sans-serif;
}

::ng-deep.mat-bottom-sheet-container {
    height: 100vh;
    max-height: 100vh !important;
}