<div class="flex j-sb a-center dialog-toolbar" (click)="bottomSheetRef.dismiss();">
    <div class="flex j-start ps15" style="width:15%">
        <button mat-icon-button style="height: 70px; width: 70px;">
            <mat-icon>{{env.tbtLocale==='he-IL' ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}}</mat-icon>
        </button>
    </div>
    <div class="flex d-col aj-center" style="width:70%;">
        <div class="flex a-center" style="color:white">
            <div>{{ownersDashboardService.toolbarConfig.center.caption}}</div>
        </div>
        <div *ngIf="!incTax" style="color:white;font-size:12px;">(<span i18n="owners-dashboard@@excludingVAT">Data excluding VAT</span>)
        </div>
        <div *ngIf="incTax" style="color:white;font-size:12px;">(<span i18n="owners-dashboard@@includingVAT">Data including VAT</span>)
        </div>
    </div>
    <div class="flex j-end pe15" style="width:15%"></div>
</div>
<div class="dialog-content-fixed">
    <div class="dialog-content">
        <mat-list>
            <div class="month-picker-dialog">
                <app-card *ngFor="let month of months" (click)="select($event, month)" [cardData]="month.summary" class="picker-card-container" ></app-card>
            </div>
        </mat-list>
    </div>
</div>
