// .totalRow {
//     font-weight: bold;
// }

// .accountTypeRow {
//     font-weight: bold;
// }
// .accountRow td:first-child {
//     // text-indent: 10px;
//     font-weight: normal;
// }

td {
  word-wrap: break-word;
}

.table-information-row {
  font-size: 16px;
  font-weight: 400 !important;
}