<div class="flex d-col">
    <div class="title">
        <span [translate]="'day.operationalErrors'">Operational Errors</span>&nbsp;-&nbsp;<span [translate]="'day.operationalErrorsByServer'">Item Returns, OTH and Discounts by Server</span>
    </div>
    <mat-accordion>
        <mat-expansion-panel [expanded]="category === 'operational'">
            <mat-expansion-panel-header [ngClass]="getCssColorClass()">
                <mat-panel-title>
                    {{operationalErrorsData.length}}&nbsp;<span [translate]="'day.actionsWorth'">Actions worth</span>&nbsp;{{totalValue | curr:'0'}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="chf-tbl chf-tbl-smaller chf-tbl-row-oriented">
                <tr class="table-information-row">
                    <td colspan="6">
                        <div><span [translate]="'day.percentageFromSales'">Percentage</span>: <span>{{dayFromDatabase?.operationalPrc / 100 | pct : 1}}</span></div>
                        <div><span [translate]="'day.fourWeekAvg'">4W' Avg</span>: <span>{{dayFromDatabase?.avgNweeksOperationalPrc / 100 | pct : 1}}</span></div>
                    </td>
                </tr>
                <tr class="header">
                    <td (click)="sort('waiter')">
                        <div class="flex a-center">
                            <div><span [translate]="'day.server'"></span><span><br />({{'manager' | translate}})</span></div>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='waiter' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='waiter' && sortDir==='asc'">arrow_drop_up</mat-icon>
                        </div>
                    </td>
                    <td (click)="sort('orderNumber')">
                        <div class="flex a-center">
                            <div>
                                <span [translate]="'day.order'">Order</span><br />
                                (<span [translate]="'day.table'">Table</span>)
                            </div>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='tableId' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='tableId' && sortDir==='asc'">arrow_drop_up</mat-icon>
                        </div>
                    </td>
                    <td (click)="sort('item')">
                        <div class="flex a-center">
                            <div [translate]="'day.item'">Item</div>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='item' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='item' && sortDir==='asc'">arrow_drop_up</mat-icon>
                        </div>
                    </td>
                    <td (click)="sort('operational')">
                        <div class="flex a-center j-end">
                            <div [translate]="'day.amount'">Amount</div>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='operational' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='operational' && sortDir==='asc'">arrow_drop_up</mat-icon>
                        </div>
                    </td>
                    <td (click)="sort('subType')">
                        <div class="flex a-center">
                            <div [translate]="'day.type'">Type</div>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='subType' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='subType' && sortDir==='asc'">arrow_drop_up</mat-icon>
                        </div>
                    </td>
                    <td (click)="sort('reasonId')">
                        <div class="flex a-center">
                            <div [translate]="'day.reason'">Reason</div>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='reasonId' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='reasonId' && sortDir==='asc'">arrow_drop_up</mat-icon>
                        </div>
                    </td>
                </tr>
                <tr
                        class="dayReportDataRow"
                        *ngFor="let tuple of operationalErrorsData"
                        (click)="orderClicked(tuple.orderNumber)"
                        [ngClass]="{'lastViewed': lastViewed == tuple.orderNumber}"
                >
                    <td>{{tuple.waiter}}<span style="font-size: 12px; display: block">{{tuple.approvedBy}}</span></td>
                    <td>
                        <span>
                            {{tuple.orderNumber}}
                        </span>
                        <br>
                        <span *ngIf="tuple.tableId">
                             ({{tuple.tableId}})
                        </span>
                    </td>
                    <td class="break">{{tuple.item}}</td>
                    <td class="ar">{{tuple.operational | curr:'0'}}</td>
                    <td [translate]="tuple.subType"></td>
                    <td>{{tuple.reasonId}}</td>
                </tr>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
</div>