<div class="flex d-col">
    <div class="title">
        <ng-container i18n="@@retention">Retention</ng-container>&nbsp;-&nbsp;<ng-container i18n="@@retentionByServer">Manual Operations by Server</ng-container>
    </div>
    <mat-accordion>
        <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{retentionData.length}}&nbsp;<ng-container i18n="@@actionsWorth">Actions worth</ng-container>&nbsp;{{totalValue | curr:'0'}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="chf-tbl chf-tbl-smaller chf-tbl-row-oriented">
                <tr class="header">
                    <td (click)="sort('waiter')">
                        <div class="flex a-center">
                            <div i18n="@@server">Server</div>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='waiter' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='waiter' && sortDir==='asc'">arrow_drop_up</mat-icon>
                        </div>
                    </td>
                    <td (click)="sort('tableId')">
                        <div class="flex a-center">
                            <div>
                                <ng-container i18n="@@table">Table</ng-container><br>
                                (<ng-container i18n="@@order">Order</ng-container>)
                            </div>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='tableId' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='tableId' && sortDir==='asc'">arrow_drop_up</mat-icon>
                        </div>
                    </td>
                    <td (click)="sort('item')">
                        <div class="flex a-center">
                            <div i18n="@@item">Item</div>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='item' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='item' && sortDir==='asc'">arrow_drop_up</mat-icon>
                        </div>
                    </td>
                    <td (click)="sort('retention')">
                        <div class="flex a-center j-end">
                            <div i18n="@@amount">Amount</div>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='retention' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='retention' && sortDir==='asc'">arrow_drop_up</mat-icon>
                        </div>
                    </td>
                    <td (click)="sort('subType')">
                        <div class="flex a-center">
                            <div i18n="@@type">Type</div>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='subType' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='subType' && sortDir==='asc'">arrow_drop_up</mat-icon>
                        </div>
                    </td>
                    <td (click)="sort('reasonId')">
                        <div class="flex a-center">
                            <div i18n="@@reason">Reason</div>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='reasonId' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='reasonId' && sortDir==='asc'">arrow_drop_up</mat-icon>
                        </div>
                    </td>
                </tr>
                <tr
                        *ngFor="let tuple of retentionData"
                        (click)="orderClicked(tuple.orderNumber)"
                        [ngClass]="{'lastViewed': lastViewed == tuple.orderNumber}"
                        class="dayReportDataRow"
                >
                    <td dir="rtl">{{tuple.waiter}}<span style="font-size: 12px; display: block">{{tuple.approvedBy}}</span></td>
                    <td>
                        <span *ngIf="tuple.tableId!==''">
                            {{tuple.tableId}}
                        </span>
                        <span *ngIf="tuple.tableId===''" i18n="@@orderTypeSelect2">
                            {
                                tuple.orderType.id,
                                select,
                                seated {Seated}
                                counter {Counter}
                                ta {TA}
                                delivery {Delivery}
                                other {Other}
                                returns {Returns}
                                mediaExchange {Media Exchange}
                            }
                        </span>
                        <br>
                        <span>
                            ({{tuple.orderNumber}})
                        </span>
                    </td>
                    <td class="break">{{tuple.item}}</td>
                    <td class="ar">{{tuple.retention | curr:'0'}}</td>
                    <td i18n="@@orderSubTypeSelect">{
                        tuple.subType,
                        select,
                        Discounts {Discounts}
                        OTH {OTH}
                        Promotions {Promotions}
                        Returns {Returns}
                        Voids {Voids}
                        Unknown {Unknown}
                        }
                    </td>
                    <td>{{tuple.reasonId}}</td>
                </tr>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
</div>