<div class="flex f-rtl d-col">
    <dx-load-indicator class="as-center" *ngIf="loading" rtlEnabled="true"></dx-load-indicator>
    <div class="flex d-col" *ngIf="!loading">
        <div class="title">
            <ng-container i18n="@@retention">retention</ng-container>&nbsp;-&nbsp;<ng-container i18n="@@retentionByWaiter">bla bla</ng-container>
        </div>
        <div class="title">
            {{retentionData.length}}&nbsp;<ng-container i18n="@@actionsWorth">Actions worth</ng-container>&nbsp;{{totalValue | curr:'0'}}
        </div>
        <div class="flex d-col body">
            <table class="fixedWidth">
                <tr class="header">
                    <td i18n="@@waiter">Waiter</td>
                    <td style="width:42px" i18n="@@table">Table</td>
                    <td style="width:42px" i18n="@@order">Order</td>
                    <td i18n="@@item">Item</td>
                    <td style="width:42px" i18n="@@amount">Amount</td>
                    <td i18n="@@type">Type</td>
                    <td i18n="@@reason">Reason</td>
                </tr>
                <tr 
                    class="" 
                    *ngFor="let tuple of retentionData"
                    (click)="orderClicked(tuple.orderNumber)"
                     [ngClass]="{'lastViewed': lastViewed===tuple.orderNumber}"
                    >
                    <td>{{tuple.waiter}}</td>
                    <td 
                        *ngIf="tuple.tableId!==''">{{tuple.tableId}}</td>
                    <td 
                        *ngIf="tuple.tableId==='' && tuple.orderType && tuple.orderType.id" 
                        i18n="@@orderTypeSelect2">{ tuple.orderType.id, select, seated {Seated} counter {Counter} ta {TA} delivery {Delivery} other {Other} returns {Returns} mediaExchange
                        {Media Exchange} }</td>
                    <td>{{tuple.orderNumber}}</td>
                    <td>{{tuple.item}}</td>
                    <td>{{tuple.retention | curr:'0'}}</td>
                    <td>{{tuple.subType}}</td>
                    <td>{{tuple.reasonId}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>