/* horizontal sizing */
* {
    &.hLarge {
        font-size: 90%;
    }
    &.hxLarge {
        font-size: 80%;
    }
    &.hxxLarge {
        font-size: 70%;
    }
}

.pa5 {padding: 5px; }
.pa10 {padding: 10px; }
.pa15 {padding: 15px; }
.pa20 {padding: 20px; }
.pa25 {padding: 25px; }


.pl5 {padding-left: 5px; }
.pl10 {padding-left: 10px; }
.pl15 {padding-left: 15px; }
.pl20 {padding-left: 20px; }
.pl25 {padding-left: 25px; }
.pl30 {padding-left: 30px; }
.pr5 {padding-right: 5px; }
.pr10 {padding-right: 10px; }
.pr15 {padding-right: 15px; }
.pr20 {padding-right: 20px; }
.pr25 {padding-right: 25px; }
.pr30 {padding-right: 30px; }



.ml5 {margin-left: 5px!important; }
.ml10 {margin-left: 10px!important; }
.ml15 {margin-left: 15px!important; }
.ml20 {margin-left: 20px!important; }
.ml25 {margin-left: 25px!important; }
.ml30 {margin-left: 30px!important; }
.ml35 {margin-left: 35px!important; }
.ml40 {margin-left: 40px!important; }
.mr5 {margin-right: 5px!important; }
.mr10 {margin-right: 10px!important; }
.mr15 {margin-right: 15px!important; }
.mr20 {margin-right: 20px!important; }
.mr25 {margin-right: 25px!important; }
.mr30 {margin-right: 30px!important; }
.mr35 {margin-right: 35px!important; }
.mr40 {margin-right: 40px!important; }
.mt5 {margin-top: 5px!important; }
.mt10 {margin-top: 10px!important; }
.mt15 {margin-top: 15px!important; }
.mt20 {margin-top: 20px!important; }
.mt25 {margin-top: 25px!important; }
.mt30 {margin-top: 30px!important; }
.mb5 {margin-bottom: 5px!important; }
.mb10 {margin-bottom: 10px!important; }
.mb15 {margin-bottom: 15px!important; }
.mb20 {margin-bottom: 20px!important; }
.mb25 {margin-bottom: 25px!important; }
.mb30 {margin-bottom: 30px!important; }

.ph5 {padding-left: 5px; padding-right: 5px; }
.ph10 {padding-left: 10px; padding-right: 10px; }
.ph15 {padding-left: 15px; padding-right: 15px; }
.ph20 {padding-left: 20px; padding-right: 20px; }
.ph25 {padding-left: 25px; padding-right: 25px; }
.ph30 {padding-left: 30px; padding-right: 30px; }

.pv5 {padding-top: 5px; padding-bottom: 5px; }
.pv10 {padding-top: 10px; padding-bottom: 10px; }
.pv15 {padding-top: 15px; padding-bottom: 15px; }
.pv20 {padding-top: 20px; padding-bottom: 20px; }
.pv25 {padding-top: 25px; padding-bottom: 25px; }
.pv30 {padding-top: 30px; padding-bottom: 30px; }

.mh3 {margin-left: 3px; margin-right: 3px; }
.mh5 {margin-left: 5px; margin-right: 5px; }
.mh10 {margin-left: 10px; margin-right: 10px; }
.mh15 {margin-left: 15px; margin-right: 15px; }
.mh20 {margin-left: 20px; margin-right: 20px; }
.mh25 {margin-left: 25px; margin-right: 25px; }
.mh30 {margin-left: 30px; margin-right: 30px; }


// direction (ltr/rtl) sensitive approach
// decoding: p = padding, m = margin, b = start, e = end, e.g., ps5 will add 5 pixels padding on the "start", which for ltr its padding-left and for rtl its padding-right
body[dir="ltr"] {
    .ps5 {padding-left: 5px; }
    .ps10 {padding-left: 10px; }
    .ps15 {padding-left: 15px; }
    .ps20 {padding-left: 20px; }
    .ps25 {padding-left: 25px; }
    .ps30 {padding-left: 30px; }
    .ps35 {padding-left: 35px; }
    .ps40 {padding-left: 40px; }
    .pe5 {padding-right: 5px; }
    .pe10 {padding-right: 10px; }
    .pe15 {padding-right: 15px; }
    .pe20 {padding-right: 20px; }
    .pe25 {padding-right: 25px; }
    .pe30 {padding-right: 30px; }
    .pe35 {padding-right: 35px; }
    .pe40 {padding-right: 40px; }
    .ms5 {margin-left: 5px!important; }
    .ms10 {margin-left: 10px!important; }
    .ms15 {margin-left: 15px!important; }
    .ms20 {margin-left: 20px!important; }
    .ms25 {margin-left: 25px!important; }
    .ms30 {margin-left: 30px!important; }
    .ms35 {margin-left: 35px!important; }
    .ms40 {margin-left: 40px!important; }
    .me5 {margin-right: 5px!important; }
    .me10 {margin-right: 10px!important; }
    .me15 {margin-right: 15px!important; }
    .me20 {margin-right: 20px!important; }
    .me25 {margin-right: 25px!important; }
    .me30 {margin-right: 30px!important; }
    .me35 {margin-right: 35px!important; }
    .me40 {margin-right: 40px!important; }
    .posStart {left: 0}
    .posEnd {right: 0}
}
body[dir="rtl"] {
    .ps5 {padding-right: 5px; }
    .ps10 {padding-right: 10px; }
    .ps15 {padding-right: 15px; }
    .ps20 {padding-right: 20px; }
    .ps25 {padding-right: 25px; }
    .ps30 {padding-right: 30px; }
    .ps35 {padding-right: 35px; }
    .ps40 {padding-right: 40px; }
    .pe5 {padding-left: 5px; }
    .pe10 {padding-left: 10px; }
    .pe15 {padding-left: 15px; }
    .pe20 {padding-left: 20px; }
    .pe25 {padding-left: 25px; }
    .pe30 {padding-left: 30px; }
    .pe35 {padding-left: 35px; }
    .pe40 {padding-left: 40px; }
    .ms5 {margin-right: 5px!important; }
    .ms10 {margin-right: 10px!important; }
    .ms15 {margin-right: 15px!important; }
    .ms20 {margin-right: 20px!important; }
    .ms25 {margin-right: 25px!important; }
    .ms30 {margin-right: 30px!important; }
    .ms35 {margin-right: 35px!important; }
    .ms40 {margin-right: 40px!important; }
    .me5 {margin-left: 5px!important; }
    .me10 {margin-left: 10px!important; }
    .me15 {margin-left: 15px!important; }
    .me20 {margin-left: 20px!important; }
    .me25 {margin-left: 25px!important; }
    .me30 {margin-left: 30px!important; }
    .me35 {margin-left: 35px!important; }
    .me40 {margin-left: 40px!important; }
    .posStart {right: 0}
    .posEnd {left: 0}
}


/*borders*/



$border-style: 1px solid rgba(0, 0, 0, 0.12);
.border,
.b {
    border: $border-style;
}

.border-top,
.bt {
    border-top: $border-style;
}

.border-right,
.br {
    border-right: $border-style;
}

.border-bottom,
.bb {
    border-bottom: $border-style;
}

.border-left,
.bl {
    border-left: $border-style;
}

.border-horizontal,
.bh {
    border-left: $border-style;
    border-right: $border-style;
}

.border-vertical,
.bv {
    border-top: $border-style;
    border-bottom: $border-style;
}


.b-far{
	border-right: $border-style;
}
.rtl .b-far{
	border-right-width: 0;
	border-left: $border-style;
}


.b-near{
	border-left: $border-style;
}
.rtl .b-near{
	border-left-width: 0;
	border-right: $border-style;
}


.b-light {
  border-color: #edf1f2;
}

.b-dark {
  border-color: #333;
}
.b-darkgray{
	border-color:#aaa;
}
.b-white {
  border-color: #fff;
}

.b-black {
  border-color: #000;
}


// Border-radius helpers
@for $i from 1 through 12 {

    .brad-#{$i} {
        border-radius: #{$i + 'px'}
    }
}

.text-xl {
  font-size: 23px !important;
}
.text-xxl {
  font-size: 30px;
}
.text-lg {
  font-size: 18px;
}

.text-md {
  font-size: 16px;
}

.text-base {
  font-size: 14px;
}

.text-sm {
  font-size: 13px;
}

.text-xs {
  font-size: 12px;
}

.text-near {
    text-align:left;
}
.text-far{
    text-align:right;
}
.pull-near {
    float:left;
}
.pull-far{
    float:right;
}

.text-muted{
    opacity:0.7;
}

.rtl {
    .icon-chevron-left:before {
        content: "\e717";
    }
    .icon-chevron-right:before {
        content: "\e716";
    }

    .icon-arrow-right.flip:before {
        content: "\e641";
    }
    .icon-arrow-left.flip:before {
        content: "\e646";
    }

    .text-near {
        text-align:right;
    }
    .text-far{
        text-align:left;
    }
    .pull-near {
        float:right;
    }
    .pull-far{
        float:left;
    }
}


/*cancelers*/

.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.no-radius {
    border-radius: 0 !important;
}
.no-shadow{
    box-shadow:none !important;
}
.no-body-scroll{
    overflow:hidden !important;
}
.no-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
.cur-pointer{
    cursor:pointer;
}

/*postion utilities*/

.pos-rlt {
  position: relative;
}

.pos-stc {
  position: static !important;
}

.pos-abt {
  position: absolute;
}

.pos-fix {
  position: fixed;
}

.v-middle {
  vertical-align: middle !important;
}
.v-top {
  vertical-align: top !important;
}
.v-bottom {
  vertical-align: bottom !important;
}

.vabsmiddle {
	margin:0 auto;
	position: relative;
	top: 50%;
	-webkit-transform:translateY(-50%);
		transform: translateY(-50%);
}

.hbox {
  display: table;
  width: 100%;
  height: 100%;
  border-spacing: 0;
  table-layout: fixed;
  > .hcol {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
  }
}





