mat-expansion-panel {
  border-radius: 0px !important;
}

.widget , .title {
  border-radius: 5px 5px 0 0;
}
.list-group-item {
  border-radius: 0px !important;
}

.card {
  border-radius: 0px !important;
}

.card , .shadow-card, .rounded-0 {
  border-radius: 5px 5px 0 0 !important;
}

