<div class="flex f-rtl d-col">
    <dx-load-indicator class="as-center" *ngIf="loading" rtlEnabled="true"></dx-load-indicator>
    <div class="flex d-col" *ngIf="!loading">
        <div class="title" i18n="@@categories">Categories</div>
        <div class="flex body">
            <table class="fixedWidth" *ngIf="data">
                
                <tr style="font-weight:bold;">
                    <td i18n="@@category">Category</td>
                    <td i18n="@@sales2">Sales</td>
                </tr>
                
                <tr>
                    <td i18n="@@total">Total</td>
                    <td>{{data.totalSales | curr:'0'}} ({{1 | percent:'1.2-2'}})</td>
                </tr>
    
                <tr *ngFor="let tuple of data.bySubDepartment">
                    <td>{{tuple.subDepartment}}</td>
                    <td>{{tuple.sales | curr:'0'}} <span style="font-size:smaller">({{tuple.pct | percent:'1.2-2'}})</span></td>
                </tr>
    
            </table>
        </div>
    </div>
</div>