<div class="flex d-col">
    <dx-load-indicator class="as-center" *ngIf="loading"></dx-load-indicator>
    <div class="flex d-col" *ngIf="!loading">
        <div class="title" i18n="@@categories">Categories</div>
        <div class="flex body">
            <table class="chf-tbl chf-tbl-row-oriented chf-tbl-x-smaller" *ngIf="data">

                <tr class="header">
                    <td i18n="@@category" (click)="sort('category')">
                        <div class="flex a-center">
                            <div i18n="@@">Category</div>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='category' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='category' && sortDir==='asc'">arrow_drop_up</mat-icon>
                        </div>
                    </td>
                    <td i18n="@@daily" (click)="sort('thisBd')">
                        <div class="flex a-center j-end">
                            <div i18n="@@">Daily</div>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='thisBd' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='thisBd' && sortDir==='asc'">arrow_drop_up</mat-icon>
                        </div>
                    </td>
                    <td i18n="@@thisWeek" (click)="sort('thisWeek')">
                        <div class="flex a-center j-end">
                            <div i18n="@@">This Week</div>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='thisWeek' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='thisWeek' && sortDir==='asc'">arrow_drop_up</mat-icon>
                        </div>
                    </td>
                    <td i18n="@@thisMonth" (click)="sort('thisMonth')">
                        <div class="flex a-center j-end">
                            <div i18n="@@">This Month</div>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='thisMonth' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='thisMonth' && sortDir==='asc'">arrow_drop_up</mat-icon>
                        </div>
                    </td>
                    <td i18n="@@thisYear" (click)="sort('thisYear')">
                        <div class="flex a-center j-end">
                            <div i18n="@@">This Year</div>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='thisYear' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='thisYear' && sortDir==='asc'">arrow_drop_up</mat-icon>
                        </div>
                    </td>
                </tr>

                <tr *ngFor="let o of data.bySubDepartment">
                    <td>{{o.subDepartment}}</td>
                    <td class="ar">
                        <div *ngIf="o['data']['thisBd']">
                            <div>{{o['data']['thisBd']['sales'] | curr:'0'}}</div>
                            <div style="font-size:smaller">({{o['data']['thisBd']['pct'] | pct:'1'}})</div>
                        </div>
                    </td>
                    <td class="ar">
                        <div *ngIf="o['data']['thisWeek']">
                            <div>{{o['data']['thisWeek']['sales'] | curr:'0'}}</div>
                            <div style="font-size:smaller">({{o['data']['thisWeek']['pct'] | pct:'1'}})</div>
                        </div>
                    </td>
                    <td class="ar">
                        <div *ngIf="o['data']['thisMonth']">
                            <div>{{o['data']['thisMonth']['sales'] | curr:'0'}}</div>
                            <div style="font-size:smaller">({{o['data']['thisMonth']['pct'] | pct:'1'}})</div>
                        </div>
                    </td>
                    <td class="ar">
                        <div *ngIf="o['data']['thisYear']">
                            <div>{{o['data']['thisYear']['sales'] | curr:'0'}}</div>
                            <div style="font-size:smaller">({{o['data']['thisYear']['pct'] | pct:'1'}})</div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td i18n="@@total">Total</td>
                    <td class="ar">{{data.totalSales.thisBdSales | curr:'0'}}
                        <br>({{1 | pct:'1'}})</td>
                    <td class="ar">{{data.totalSales.thisWeekSales | curr:'0'}}
                        <br>({{1 | pct:'1'}})</td>
                    <td class="ar">{{data.totalSales.thisMonthSales | curr:'0'}}
                        <br>({{1 | pct:'1'}})</td>
                    <td class="ar">{{data.totalSales.thisYearSales | curr:'0'}}
                        <br>({{1 | pct:'1'}})</td>
                </tr>

            </table>
        </div>
    </div>
</div>