.login {
  font-size: 20px;
  .logo {
    // height: 300px;
    & > div {
        // width: 386px;  
        background: url(/assets/images/chef-logo.png);
        background-repeat: no-repeat;
        background-position-x: center;
        height: 300px;
        /* width: 200px; */
        background-size: contain;
    }
  }
}