<div class="flex f-rtl d-col">
    <dx-load-indicator class="as-center" *ngIf="loading" rtlEnabled="true"></dx-load-indicator>
    <div class="flex d-col" *ngIf="!loading">
        <div class="title" i18n="@@mostSoldItems">Most Sold Items</div>
        <div class="flex d-col body" *ngIf="data">
            <table class="fixedWidth">
                <tr style="font-weight:bold;">
                    <td i18n="@@department">Department</td>
                    <td i18n="@@item">Item</td>
                    <td i18n="@@sales2">Sales</td>
                    <td i18n="@@sold">Sold</td>
                </tr>
            </table>
            <table class="fixedWidth" *ngFor="let departmentData of data">
                <tr *ngFor="let dataObj of departmentData.topItems">
                    <td i18n="@@departments">{ departmentData.department.id, select, food {Food} beverages {Beverages} other {Other} }</td>
                    <td>{{dataObj.item}}</td>
                    <td>{{dataObj.itemSales | curr:'0'}}</td>
                    <td>{{dataObj.itemSold | count}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>