<ng-container *ngIf="!showData">
    <div class="text-center">
        <dx-load-indicator></dx-load-indicator>
    </div>
</ng-container>
<ng-container *ngIf="showData">
    <div class="widget p-0">
        <div class="flex d-col">
            <div class="title" style="border-radius: 3px 3px 0px 0px"><span [translate]="'monthSummary'"></span>
                {{title}}
            </div>
            <ng-container *ngIf="summary">
                <ng-container *ngFor="let service of summary">
                    <mat-expansion-panel expanded="false"
                                         style="border-radius: 0px;">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span class="font-weight-bold" style="width: 30%">{{service.name | translate}}</span>
                                <span style="width: 45%">{{(incVat ? service.totals.sales : (service.totals.sales - service.totals.vat)) | curr:'0':'':''}}</span>
                                <span *ngIf="service.name !== 'monthly'" style="width: 25%"> {{service.totals.percentage | pct: 1}}</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <table class="table table-sm">
                            <thead>
                            <tr class="header">
                                <td></td>
                                <td><span [translate]="'day.total'"></span></td>
                                <ng-container *ngFor="let orderType of service.kpis">
                                    <td>{{orderType.type | translate}}</td>
                                </ng-container>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span class="font-weight-bold" [translate]="'month.sales'"></span></td>
                                <td>{{(service.totals.sales - service.totals.vat) | curr:'0':'':'':true}} ({{service.totals.percentage | pct: 1}})</td>
                                <ng-container *ngFor="let orderType of service.kpis">
                                    <td>{{(orderType.sales - orderType.vat) | curr:'0':'':'':true}} (({{orderType.percentage | pct: 1}}))</td>
                                </ng-container>
                            </tr>
                            <tr>
                                <td><span class="font-weight-bold" [translate]="'day.salesWithTax'"></span></td>
                                <td>{{service.totals.sales | curr:'0':'':'':true}}</td>
                                <ng-container *ngFor="let orderType of service.kpis">
                                    <td>{{orderType.sales | curr:'0':'':'':true}}</td>
                                </ng-container>
                            </tr>
                            <tr *ngIf="service.totals.tip">
                                <td><span class="font-weight-bold" [translate]="'day.tips'"></span></td>
                                <td>{{service.totals.tip | curr:'0':'':'':true}}</td>
                                <ng-container *ngFor="let orderType of service.kpis">
                                    <td>{{orderType.tip | curr:'0':'':'':true}}</td>
                                </ng-container>
                            </tr>
                            <tr>
                                <td><span class="font-weight-bold" [translate]="'revenue'"></span></td>
                                <td>{{service.totals.revenue | curr:'0':'':'':true}}</td>
                                <ng-container *ngFor="let orderType of service.kpis">
                                    <td>{{orderType.revenue | curr:'0':'':'':true}}</td>
                                </ng-container>
                            </tr>
                            <tr>
                                <td><span class="font-weight-bold" [translate]="'day.dinersOrders'"></span></td>
                                <td>{{service.totals.diners | number}}</td>
                                <ng-container *ngFor="let orderType of service.kpis">
                                    <td>{{orderType.diners | number}}</td>
                                </ng-container>
                            </tr>
                            <tr>
                                <td><span class="font-weight-bold" [translate]="'day.ppa'"></span></td>
                                <td>{{service.totals.ppa | curr:'2':'':'nullify':true}}</td>
                                <ng-container *ngFor="let orderType of service.kpis">
                                    <td>{{orderType.ppa | curr:'2':'':'nullify':true}}</td>
                                </ng-container>
                            </tr>
                            <tr>
                                <td><span class="font-weight-bold" [translate]="'cancellations'"></span></td>
                                <td>{{service.totals.reductions.cancellations.amount | curr:'0':'':'nullify':true}}<span
                                        style="display: block;font-size: 12px;">({{service.totals.reductions.cancellations.percentage | pct: 1}})</span>
                                </td>
                                <ng-container *ngFor="let orderType of service.kpis">
                                    <td>{{orderType.reductions.cancellations.amount | curr:'0':'':'nullify':true}}<span
                                            style="display: block;font-size: 12px;">({{orderType.reductions.cancellations.percentage | pct: 1}})</span>
                                    </td>
                                </ng-container>
                            </tr>
                            <tr>
                                <td><span class="font-weight-bold" [translate]="'operational'"></span></td>
                                <td>{{service.totals.reductions.operational.amount | curr:'0':'':'nullify':true}}<span
                                        style="display: block;font-size: 12px;">({{service.totals.reductions.operational.percentage | pct: 1}})</span>
                                </td>
                                <ng-container *ngFor="let orderType of service.kpis">
                                    <td>{{orderType.reductions.operational.amount | curr:'0':'':'nullify':true}}<span
                                            style="display: block;font-size: 12px;">({{orderType.reductions.operational.percentage | pct: 1}})</span>
                                    </td>
                                </ng-container>
                            </tr>
                            <tr>
                                <td><span class="font-weight-bold" [translate]="'retention'"></span></td>
                                <td>{{service.totals.reductions.retention.amount | curr:'0':'':'nullify':true}}<span
                                        style="display: block;font-size: 12px;">({{service.totals.reductions.retention.percentage | pct: 1}})</span>
                                </td>
                                <ng-container *ngFor="let orderType of service.kpis">
                                    <td>{{orderType.reductions.retention.amount | curr:'0':'':'nullify':true}}<span
                                            style="display: block;font-size: 12px;">({{orderType.reductions.retention.percentage | pct: 1}})</span>
                                    </td>
                                </ng-container>
                            </tr>
                            <tr>
                                <td><span class="font-weight-bold" [translate]="'organizational'"></span></td>
                                <td>{{service.totals.reductions.organizational.amount | curr:'0':'':'nullify':true}}<span
                                        style="display: block;font-size: 12px;">({{service.totals.reductions.organizational.percentage | pct: 1}})</span>
                                </td>
                                <ng-container *ngFor="let orderType of service.kpis">
                                    <td>{{orderType.reductions.organizational.amount | curr:'0':'':'nullify':true}}<span
                                            style="display: block;font-size: 12px;">({{orderType.reductions.organizational.percentage | pct: 1}})</span>
                                    </td>
                                </ng-container>
                            </tr>
                            </tbody>
                        </table>
                    </mat-expansion-panel>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <app-month-payments></app-month-payments>
    <app-month-cancellation *ngIf="cancellation" [data] = "cancellation" [date]="date" [dataOptionMode]="false" class="widget" style="padding:0"></app-month-cancellation>
    <app-month-operational-errors *ngIf="!monthlyReportsInProgress" [data] = "monthlyReports" [date]="date" class="widget" style="padding:0"></app-month-operational-errors>
    <app-month-promotions  *ngIf="promotions" [data]="promotions" [date]="date"  class="widget" style="padding:0"></app-month-promotions>
    <app-month-retention *ngIf="retention" [data]="retention" [date]="date" class="widget" style="padding:0"></app-month-retention>
    <app-month-organizational *ngIf="organizational"  [data] = "organizational" [date]="date" class="widget" style="padding:0"></app-month-organizational>
    <app-month-waste *ngIf="wasteEod"  [data] = "wasteEod" [date]="date" class="widget" style="padding:0" ></app-month-waste>
   <app-month-most-sold-items *ngIf="mostSoldItems.length > 0" [data]= "mostSoldItems" class="widget" style="padding:0"></app-month-most-sold-items>
</ng-container>
