<!--
<div class="card p-0 month-grid dashboard-home-card shadow-card">
  <div class="card-header text-center text-white" style="font-size: 18px; font-weight: 700">
    <span [translate]="'weeklyBreakdown'"></span>
</div>
  <div class="col-12 p-0">
    <ul class="list-group p-0" *ngIf="week">// create varible
      <li class="list-group-item p-0 m-0 rounded-0">
        <div *ngIf="environment.lang === 'he'" class="col-12 mx-0 p-0"> // create varible
                            &lt;!&ndash; hebraw &ndash;&gt;
          <div class="row m-2" style="direction: ltr">
            <div class="btn-group category-picker">
              <span class="btn btn-lg btn-outline-secondary" [ngClass]="setActive('employee')"
                    (click)="changeCategory('employee')">{{tmpTranslations.get('monthViewFilters.employee')}}</span> // make it one button and all the time create a new one
              <span class="btn btn-lg btn-outline-secondary" [ngClass]="setActive('retention')"
                    (click)="changeCategory('employee')">{{tmpTranslations.get('monthViewFilters.retention')}}</span>
              <span class="btn btn-lg btn-outline-secondary" [ngClass]="setActive('operational')"
                    (click)="changeCategory('employee')">{{tmpTranslations.get('monthViewFilters.operational')}}</span>
              <span class="btn btn-lg btn-outline-secondary" [ngClass]="setActive('cancellations')"
                    (click)="changeCategory('employee')">{{tmpTranslations.get('monthViewFilters.cancellations')}}</span>
              <span class="btn btn-lg btn-outline-secondary" [ngClass]="setActive('sales')"
                    (click)="changeCategory('sales')">{{tmpTranslations.get('monthViewFilters.sales')}}</span>
            </div>
          </div>
          <div class="row m-2" style="direction: ltr">
            <span class="btn btn-lg btn-outline-secondary disabled" [translate]="'forecast'"></span>
            <span class="btn btn-lg btn-outline-secondary"
                  [ngClass]="{'active': avgPeriodComparator === 'year', 'disabled': !hasYearlyAvg}"
                  (click)="changeAvgPeriodComparator('year')" [translate]="'previousYear'">Prev. Year</span>
            <span class="btn btn-lg btn-outline-secondary"
                  [style.direction]="environment.lang === 'he' ? 'rtl' : 'ltr'"
                  [ngClass]="avgPeriodComparator === 'month' ? 'active' : ''"
                  (click)="changeAvgPeriodComparator('month')" [translate]="'fourWeek'">4 Weeks</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
-->
