dx-load-indicator {
  align-self: center;
}

.dashboard-home-card {
  h1 {
    font-size: 30px;
  }
  td {
    padding: 2px;
    border: none;
    font-size: 14px;
  }
  .icon {
    top: 1px;
    position: relative;
    height: 13px;
  }

  .sales-table {
    max-width: 175px;
  }

  .sales-comment {
    position: relative;
    top: -25px;
    left: 22px;
  }

  .sales-comment-rtl {
    position: relative;
    top: -15px;
    left: -1px;
  }

  .diners-footer-icon {
    top: 2px;
  }

  .table-padding-rtl {
    margin-right: -8px;
  }

  .card-footer {
    margin-left: 18px !important;
    margin-right: 18px !important;
  }
}
