dx-load-indicator {
  align-self: center;
}

.dashboard-home-card {
  h1 {
    font-size: 36px;
  }

  .text-dark {
    color: #002642;
  }

  .text-secondary {
    color: #979797;
  }

  .currency {
    font-size: 25px;
  }

  td {
    padding: 0px;
    border: none;
    font-size: 15px;
  }
  .icon {
    top: 1px;
    position: relative;
    height: 13px;
  }

  .sales-table {
    max-width: 175px;
  }

  .sales-comment {
    position: relative;
    top: -25px;
    left: 22px;
  }

  .sales-comment-rtl {
    position: relative;
    top: -15px;
    left: -1px;
  }

  .diners-footer-icon {
    top: 2px;
  }

  .table-padding-rtl {
    margin-right: -8px;
  }

  .card-footer {
    margin-left: 18px !important;
    margin-right: 18px !important;
  }

  mat-icon {
    width: 22px;
    height: 26px;
  }

  .up-positive {
    color: #30e430;
    text-shadow: #eeffee 0px 0px 2px;
    transform: rotateZ(-90deg) translateY(-3px) translateX(-6px);
    position: relative;
    top: -6px;
    right: 2px;
  }
  .up-negative {
    color: #ff2121;
    text-shadow: #eeffee 0px 0px 2px;
    transform: rotateZ(-90deg) translateY(-3px) translateX(-6px);
    position: relative;
    top: -6px;
    right: 2px;
  }
  .down-positive {
    color: #30e430;
    text-shadow: #eeffee 0px 0px 2px;
    transform: rotateZ(90deg) translateY(-4px) translateX(-6px);
    position: relative;
    top: 1px;
    right: 11px;
  }
  .down-negative {
    color: #ff2121;
    text-shadow: #f48f8f 0px 0px 2px;
    order: 2;
    transform: rotateZ(90deg) translateY(-4px) translateX(-6px);
    position: relative;
    top: 1px;
    right: 11px;
  }
}
