<div class="ticket-box flex d-col">

    <div class="flex j-sb">
        <!-- <span>{{'BUSINESS_MEAL' | translate}}</span> -->
        <span i18n="slips|ארוחה עסקית@@businessMeal">Business Meal></span>
        <span *ngIf="data.cashback">{{(data.amount/100)-(data.cashback/100) | number:'1.2-2'}}</span>
        <span *ngIf="!data.cashback">{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>

    <div class="flex j-sb">
        <!-- <span>{{'BEFORE_VAT' | translate}}</span> -->
        <span i18n="slips|סהכ לפני מעמ@@beforeVAT">Before VAT</span>
        <span *ngIf="data.cashback">{{((data.amount/100)-(data.tax.amount/100)-(data.cashback/100)) |
            number:'1.2-2'}}</span>
        <span *ngIf="!data.cashback">{{((data.amount/100)-(data.tax.amount/100)) | number:'1.2-2'}}</span>
    </div>

    <div class="flex j-sb">
        <!-- <span>{{'VAT' | translate}}</span> -->
        <span i18n="slips|מעמ@@vat">VAT</span>
        <span >{{(data.tax.amount/100) | number:'1.2-2'}}</span>
    </div>
    
    <div class="flex j-sb">
        <!-- <span>{{'INCLUDE_VAT' | translate}}</span> -->
        <span i18n="slips|כולל מעמ@@includeVAT">Include VAT</span>
        <span *ngIf="data.cashback">{{(data.amount/100)-(data.cashback/100) | number:'1.2-2'}}</span>
        <span *ngIf="!data.cashback">{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>

    <hr />

    <div class="flex d-col">
        <!-- <small>{{(data.amount/100) | number:'1.2-2'}} {{'PAID_IN_CREDIT_FROM' | translate}}</small> -->
        <small class="flex as-center">{{(data.amount/100) | number:'1.2-2'}}</small><small i18n="slips| שולם באשראי מ@@paidInCreditFrom">Paid in credit from</small>
        <h4 class="flex as-center">{{data.issuerName}}</h4>
    </div>

    <div class="flex j-sb" *ngIf="data.payments[0].last4">
        <!-- <span>{{'ORDERS_VIEW.last_4' | translate}}</span> -->
        <span i18n="slips|4 ספרות@@last4Digits">Last 4 Digits</span>
        <span >{{data.payments[0].last4}}</span>
    </div>

    <div class="flex j-sb" *ngIf="data.payments[0].providerTransactionId">
        <!-- <span>{{'TRANSACTION_NO' | translate}}</span> -->
        <span i18n="slips|מספר עסקה@@transactionNumber">Transaction no.</span>
        <span >{{data.payments[0].providerTransactionId}}</span>
    </div>

    <div class="flex j-sb" *ngIf="data.payments[0].confirmationNum">
        <!-- <span>{{'APPROVAL_NO' | translate}}</span> -->
        <span i18n="slips|מספר אישור@@approvalNumber">Approval no.</span>
        <span >{{data.payments[0].confirmationNum}}</span>
    </div>

    <div class="flex j-sb" *ngIf="data.cashback">
        <!-- <span>{{'TOTAL_CASHBACK' | translate}}</span> -->
        <span i18n="slips|עודף@@change">Change</span>
        <span >{{(data.cashback/100) | number:'1.2-2'}}</span>
    </div>

</div>