<div class="flex f-rtl d-col">
    <div class="title" i18n="@@mostReturnedItems">Most Returned Items</div>
    <div class="flex d-col body">
        <dx-load-indicator class="as-center" *ngIf="loading" rtlEnabled="true"></dx-load-indicator>
        <div *ngIf="!loading">
            <div *ngIf="noData" class="noData" i18n="@@noData">No Data</div>
            <div *ngIf="!noData" class="flex d-col a-center">
                <table class="chf-tbl chf-tbl-row-oriented">
                    <tr class="header">
                        <td style="width:60px;" i18n="@@department">Department</td>
                        <td i18n="@@item">Item</td>
                        <td style="width:42px;" i18n="@@prepared">Prepared</td>
                        <td style="width:70px;" i18n="@@returned">Returned</td>
                        <td style="width:50px;" i18n="@@operationalReductionsValue">Operational Reductions Value</td>
                    </tr>
                </table>
                <table class="chf-tbl chf-tbl-row-oriented" *ngFor="let departmentData of data">
                    <tr *ngFor="let dataObj of departmentData.topItems">
                        <td style="width:60px;">{{departmentData.department}}</td>
                        <td class="break">{{dataObj.itemName}}</td>
                        <td style="width:42px;">{{dataObj.itemPrepared | count}}</td>
                        <td style="width:75px;">
                            <div>{{dataObj.itemReturned | count}}</div>
                            <div>({{dataObj.itemReturnedPct | percent:'1.2-2'}})</div>
                        </td>
                        <td style="width:50px;">{{dataObj.itemReturnValue | curr:'0'}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>