@import '../../../../tabit/styles/config/colors';

:host {
    box-shadow: none;//each panel has its own box-shadow
}

.iconFilter {
    cursor: pointer;
    padding: 6px;
    border: 1px solid #b3b6ca;
    border-radius: 25px;
}

.table {
  td {
    padding: 12px 2px 12px 2px;
  }
}