<div class="f-rtl">
    <div class="title">הזמנות</div>
    <div class="body">

        <mat-accordion class="example-headers-align" *ngIf="byOrderTypes">
            <!-- <mat-expansion-panel expanded="false" (opened)="setStep(0)" hideToggle="true"> -->
            <mat-expansion-panel expanded="false" hideToggle="true" *ngFor="let orderType of byOrderTypes | hasSales">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{orderType.caption}}
                    </mat-panel-title>
                    <mat-panel-description>
                         {{orderType.sales | currency:'ILS':'symbol':'1.0-0'}}
                        <!-- <mat-icon>account_circle</mat-icon> -->
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <table class="fixedWidth">
                    <tr>
                        <td>שעת פתיחה</td>
                        <td>הזמנה מס'</td>
                        <td>מלצר</td>
                        <td>סכום</td>
                    </tr>
                    <tr *ngFor="let order of orderType.orders">
                        <td>{{order.openingTime | date:'H:mm'}}</td>
                        <td>{{order.number | number:'1.0-0'}}</td>
                        <td>{{order.waiter}}</td>
                        <td>{{order.sales | currency:'ILS':'symbol':'1.0-0'}}</td>
                    </tr>
                </table>

            </mat-expansion-panel>


        </mat-accordion>

    </div>
</div>