<div class="flex d-col a-stretch mb-2" *ngIf="openOrders && openOrders.count > 0">
    <div class="title">
        <span [translate]="'day.openOrders'">Open orders</span>
    </div>
    <div class="body flex d-col">
        <div *ngIf="!loading">
            <div *ngIf="noData" class="noData" [translate]="'day.noData'">No Data</div>
            <div *ngIf="!noData && byOrderTypes" class="flex d-col a-stretch">
                <mat-expansion-panel expanded="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="width: 90px;">
                            <span [translate]="'day.openOrders'">Open Orders</span>
                        </mat-panel-title>
                        <mat-panel-description>
                            <div class="flex a-center">
                                <div class="ar" style="width:70px">{{openOrders.totalAmount | curr:'0'}}</div>
                                <div class="ms20">
                                    {{openOrders.count | count}}
                                    &nbsp;<span [translate]="'day.orders'">Orders</span>
                                </div>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <table class="chf-tbl">
                        <tr style="background-color: #f2f2f2;font-weight: bold;">
                            <td>
                                <div class="flex a-center">
                                    <div [translate]="'dayTable.opened'">Opened</div>
                                </div>
                            </td>
                            <td>
                                <div class="flex a-center">
                                    <div [translate]="'dayTable.orderNumber'">Order #</div>
                                </div>
                            </td>
                            <!--<td>
                                <div class="flex a-center">
                                    <div [translate]="'day.server'">Server</div>
                                </div>
                            </td>-->
                            <td>
                                <div class="flex a-center j-end">
                                    <div [translate]="'dayTable.sales'">Sales</div>
                                </div>
                            </td>
                        </tr>
                        <!--(click)="openOrderClicked(openOrder)"-->
                        <tr *ngFor="let openOrder of openOrders.orders"
                            [ngClass]="{'lastViewed': lastViewed===openOrder, 'clicked': openOrder.__dayOrdersTable__clicked}">
                            <td>{{getHour(openOrder.openingTime)}}</td>
                            <td>{{openOrder.number | number:'1.0-0'}}</td>
                            <!--<td>{{openOrder.waiter}}</td>-->
                            <td class="ar">{{openOrder.sales | curr:'0'}}</td>
                        </tr>
                    </table>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</div>

<!--closed orders-->
<div class="flex d-col a-stretch">
    <div class="title">
        <span [translate]="'day.closedOrders2'">Closed orders</span>
        <span *ngIf="bdIsCurrentBd" [translate]="'day.delayed'" style="font-size: 14px; display: block;">Data delayed by ~15min</span>
    </div>
    <div class="body flex d-col">
        <div *ngIf="!loading">
            <div *ngIf="noData" class="noData" [translate]="'day.noData'">No Data</div>
            <div *ngIf="!noData && byOrderTypes" class="flex d-col a-stretch">
                <mat-expansion-panel expanded="false" hideToggle="false" (closed)="panelClosed()"
                                     *ngFor="let orderType of byOrderTypes | hasSales">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="width:90px">
                            {{orderType.caption}}
                        </mat-panel-title>
                        <mat-panel-description>
                            <div class="flex a-center">
                                <div class="ar" style="width:70px">{{orderType.salesBeforeTip | curr:'0'}}</div>
                                <div class="ms20">
                                    {{orderType.ordersCount | count}}
                                    &nbsp;<span [translate]="'day.orders'">Orders</span>
                                </div>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <table class="chf-tbl">
                        <tr style="background-color: #f2f2f2;font-weight: bold;">
                            <td (click)="sort(orderType, 'time')" style="width:55px;">
                                <div class="flex a-center">
                                    <div [translate]="'dayTable.opened'">Opened</div>
                                    <mat-icon class="sortMatIcon" *ngIf="sortBy==='time' && sortDir==='desc'">
                                        arrow_drop_down
                                    </mat-icon>
                                    <mat-icon class="sortMatIcon" *ngIf="sortBy==='time' && sortDir==='asc'">
                                        arrow_drop_up
                                    </mat-icon>
                                </div>
                            </td>
                            <td (click)="sort(orderType, 'number')" style="width:65px;">
                                <div class="flex a-center">
                                    <div [translate]="'dayTable.orderNumber'">Order #</div>
                                    <mat-icon class="sortMatIcon" *ngIf="sortBy==='number' && sortDir==='desc'">
                                        arrow_drop_down
                                    </mat-icon>
                                    <mat-icon class="sortMatIcon" *ngIf="sortBy==='number' && sortDir==='asc'">
                                        arrow_drop_up
                                    </mat-icon>
                                </div>
                            </td>
                            <td (click)="sort(orderType, 'waiter')" style="width:65px;">
                                <div class="flex a-center">
                                    <div [translate]="'day.server'">Server</div>
                                    <mat-icon class="sortMatIcon" *ngIf="sortBy==='waiter' && sortDir==='desc'">
                                        arrow_drop_down
                                    </mat-icon>
                                    <mat-icon class="sortMatIcon" *ngIf="sortBy==='waiter' && sortDir==='asc'">
                                        arrow_drop_up
                                    </mat-icon>
                                </div>
                            </td>
                            <td (click)="sort(orderType, 'sales')" style="width:55px;">
                                <div class="flex a-center j-end">
                                    <div [translate]="'dayTable.sales'">Sales</div>
                                    <mat-icon class="sortMatIcon" *ngIf="sortBy==='sales' && sortDir==='desc'">
                                        arrow_drop_down
                                    </mat-icon>
                                    <mat-icon class="sortMatIcon" *ngIf="sortBy==='sales' && sortDir==='asc'">
                                        arrow_drop_up
                                    </mat-icon>
                                </div>
                            </td>
                            <td>
                                <div class="flex d-col px-1" style="width:50px;">
                                    <div class="flex">
                                        <div class="iconFilter cancellation flex ml5 mb5"
                                             [ngClass]="{'on': iconFilterOn('cancellation')}"
                                             (click)="filter(orderType, 'cancellation')">
                                            <i *ngIf="iconFilterOn('cancellation')"
                                               class="icon iconOperationalAndCancellations"></i>
                                            <i *ngIf="!iconFilterOn('cancellation')"
                                               class="icon iconOperationalAndCancellations_off"></i>
                                        </div>
                                        <div class="iconFilter discountsAndOTH flex mb5"
                                             [ngClass]="{'on': iconFilterOn('discountsAndOTH')}"
                                             (click)="filter(orderType, 'discountsAndOTH')">
                                            <i *ngIf="iconFilterOn('discountsAndOTH')" class="icon iconRetention"></i>
                                            <i *ngIf="!iconFilterOn('discountsAndOTH')"
                                               class="icon iconRetention_off"></i>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <div class="iconFilter employees flex ml5"
                                             [ngClass]="{'on': iconFilterOn('employees')}"
                                             (click)="filter(orderType, 'employees')">
                                            <i *ngIf="iconFilterOn('employees')" class="icon iconOrganizational"></i>
                                            <i *ngIf="!iconFilterOn('employees')"
                                               class="icon iconOrganizational_off"></i>
                                        </div>
                                        <div class="iconFilter promotions flex"
                                             [ngClass]="{'on': iconFilterOn('promotions')}"
                                             (click)="filter(orderType, 'promotions')">
                                            <i *ngIf="iconFilterOn('promotions')" class="icon iconPromotions"></i>
                                            <i *ngIf="!iconFilterOn('promotions')" class="icon iconPromotions_off"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let order of orderType.orders | filterr" (click)="orderClicked(order)" class="dayReportDataRow"
                            [ngClass]="{'lastViewed': lastViewed===order, 'clicked': order.__dayOrdersTable__clicked}">
                            <td>{{getHour(order.openingTime)}}</td>

                            <td>{{order.number | number:'1.0-0'}}</td>
                            <td>{{order.waiter}}</td>
                            <td class="ar">{{order.sales | curr:'0'}}</td>
                            <td>
                                <div class="flex a-center" style="height:100%;">
                                    <i class="mh3 icon iconOperationalAndCancellations"
                                       *ngIf="order.priceReductions.cancellation > 0"></i>
                                    <i class="mh3 icon iconRetention"
                                       *ngIf="order.priceReductions.discountsAndOTH > 0"></i>
                                    <i class="mh3 icon iconOrganizational"
                                       *ngIf="order.priceReductions.employees > 0"></i>
                                    <i class="mh3 icon iconPromotions" *ngIf="order.priceReductions.promotions > 0"></i>
                                </div>
                            </td>
                        </tr>
                    </table>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</div>