mat-expansion-panel-header {
    height: 41px!important;
    font-family: inherit!important;
    font-size: 16px!important;
    font-weight: bold!important;
    mat-panel-title {
        color: #6e7482!important;
    }
    mat-panel-description {
        font-weight: normal!important;
    }
}

/deep/.mat-expansion-panel-body {
    padding: 0 10px 16px 0px!important;
}

table {
    table-layout: auto;
}

table tr td {
    padding-right: 3px!important;
    padding-left: 3px!important;         
}
table tr td:first-child {
    padding-right: 8px!important;
    padding-left: 8px!important;     
}

.iconFilter {
    padding: 5px;
    border: 1px solid #b3b6ca;
    border-radius: 25px;
    color: #b3b6ca;
    &.on {
        &.cancellation {
            mat-icon {
                color: red;
                border-color: red;
            }
        }
        &.discountsAndOTH {
            mat-icon {
                color: orange;
                border-color: orange;
            }
        }
        &.employees {
            mat-icon {
                color: blue;
                border-color: blue;
            }
        }
        &.promotions {
            mat-icon {
                color: green;
                border-color: green;
            }
        }
    }
}