<div class="f-rtl">
    <div class="title" i18n="day-orders-table@@orders">Orders</div>
    <div class="body mt5">

        <mat-accordion *ngIf="byOrderTypes">
            <mat-expansion-panel expanded="false" hideToggle="true" *ngFor="let orderType of byOrderTypes | hasSales">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{orderType.caption}}
                    </mat-panel-title>
                    <mat-panel-description>
                         {{orderType.sales | curr:'0'}}
                        <!-- <mat-icon>account_circle</mat-icon> -->
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <table class="fixedWidth">
                    <tr style="background-color: #f2f2f2;">
                        <td (click)="sort(orderType, 'time')" class="" style="width:50px;">
                            <div class="flex a-center">
                                <div i18n="day-orders-table@@opened">Opened</div>
                                <mat-icon *ngIf="sortBy==='time' && sortDir==='desc'">arrow_drop_down</mat-icon>
                                <mat-icon *ngIf="sortBy==='time' && sortDir==='asc'">arrow_drop_up</mat-icon>
                            </div>
                        </td>
                        <td (click)="sort(orderType, 'number')" class="" style="width:50px;">
                            <div class="flex a-center">
                                <div i18n="day-orders-table'@@orderNumber">Order #</div>
                                <mat-icon *ngIf="sortBy==='number' && sortDir==='desc'">arrow_drop_down</mat-icon>
                                <mat-icon *ngIf="sortBy==='number' && sortDir==='asc'">arrow_drop_up</mat-icon>
                            </div>
                        </td>
                        <td (click)="sort(orderType, 'waiter')" class="" style="width:55px;">
                            <div class="flex a-center">
                                <div i18n="day-orders-table@@waiter">Waiter</div>
                                <mat-icon *ngIf="sortBy==='waiter' && sortDir==='desc'">arrow_drop_down</mat-icon>
                                <mat-icon *ngIf="sortBy==='waiter' && sortDir==='asc'">arrow_drop_up</mat-icon>
                            </div>
                        </td>
                        <td (click)="sort(orderType, 'sales')" class="" style="width:50px;">
                            <div class="flex a-center">
                                <div i18n="day-orders-table@@sales">Sales</div>
                                <mat-icon *ngIf="sortBy==='sales' && sortDir==='desc'">arrow_drop_down</mat-icon>
                                <mat-icon *ngIf="sortBy==='sales' && sortDir==='asc'">arrow_drop_up</mat-icon>
                            </div>
                        </td>
                        <td>
                            <div class="flex d-col">
                                <div class="flex">
                                    <div class="iconFilter cancellation flex ml5 mb5" [ngClass]="{'on': iconFilterOn('cancellation')}" (click)="filter(orderType, 'cancellation')">
                                        <mat-icon>delete_forever</mat-icon>
                                    </div>
                                    <div class="iconFilter discountsAndOTH flex mb5" [ngClass]="{'on': iconFilterOn('discountsAndOTH')}" (click)="filter(orderType, 'discountsAndOTH')">
                                        <mat-icon>cake</mat-icon>
                                    </div>
                                </div>
                                <div class="flex">
                                    <div class="iconFilter employees flex ml5" [ngClass]="{'on': iconFilterOn('employees')}" (click)="filter(orderType, 'employees')">
                                        <mat-icon>local_dining</mat-icon>
                                    </div>
                                    <div class="iconFilter promotions flex" [ngClass]="{'on': iconFilterOn('promotions')}" (click)="filter(orderType, 'promotions')">
                                        <mat-icon>star_border</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr *ngFor="let order of orderType.orders | filterr" (click)="orderClicked(order)" [ngClass]="{'lastViewed': lastViewed===order}">
                        <td>{{order.openingTime | date:'H:mm'}}</td>
                        <td>{{order.number | number:'1.0-0'}}</td>
                        <td>{{order.waiter}}</td>
                        <td>{{order.sales | curr:'0'}}</td>
                        <td>
                            <mat-icon *ngIf="order.priceReductions.cancellation > 0" style="color: red;">delete_forever</mat-icon>
                            <mat-icon *ngIf="order.priceReductions.discountsAndOTH > 0" style="color: orange;">cake</mat-icon>
                            <mat-icon *ngIf="order.priceReductions.employees > 0" style="color: blue;">local_dining</mat-icon>
                            <mat-icon *ngIf="order.priceReductions.promotions > 0" style="color: green;">star_border</mat-icon>
                        </td>
                    </tr>
                </table>

            </mat-expansion-panel>


        </mat-accordion>

    </div>
</div>