<div class="ticket-box flex d-col">

    <app-order-single-invoice-data [printData]="invoice" [orderOld]="orderOld"></app-order-single-invoice-data>

    <app-order-invoice-vat [printData]="invoice"></app-order-invoice-vat>

    <hr />

    <!-- PAID BY CHEQUE -->
    <div class="row" *ngIf="data.payments[0].change.amount">
        <div class="col-8">
            <span i18n="slips@@paidByCheque">Paid by cheque</span>
        </div>
        <div class="col-3">
            <span>{{(data.amount/100) | number:'1.2-2'}}</span>
        </div>
    </div>

    <!-- CHANGE -->
    <div class="row">
        <div class="col-8">
            <span i18n="slips@@change">Change</span>
        </div>
        <div class="col-3">
            <span>{{(data.cashback/100) | number:'1.2-2'}}</span>
        </div>
    </div>

</div>