<div class="flex d-col">
    <div class="title">
        <span [translate]="'day.mostSoldItems'"></span>
    </div>
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">

           <app-most-sold-time  [summaryOption] = "false"  [data] = "allDayData" [title]="{translated:'day.allDay'}" [dataOptionMode] = "false" class="widget" style="padding:0"></app-most-sold-time>
            <app-most-sold-time  [summaryOption] = "false"  [data] = "lunchData"  [title]="{translated:'month.lunch'}" [dataOptionMode] = "false" class="widget" style="padding:0"></app-most-sold-time>
            <app-most-sold-time   [summaryOption] = "false"  [data] = "eveningData"  [title]="{translated:'month.dinner'}" [dataOptionMode] = "false" class="widget" style="padding:0"></app-most-sold-time>
            <app-most-sold-time   [summaryOption] = "false"  [data] = "nightData"  [title]="{translated:'month.night'}" [dataOptionMode] = "false" class="widget" style="padding:0"></app-most-sold-time>

        </mat-expansion-panel>
    </mat-accordion>
</div>
