<div class="ticket-box flex d-col">

    <div class="flex j-sb">
        <!-- <span>{{'BUSINESS_MEAL' | translate}}</span> -->
        <span i18n="slips|ארוחה עסקית@@businessMeal">Business Meal></span>
        <span>{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>
    <div class="flex j-sb">
        <!-- <span>{{'BEFORE_VAT' | translate}}</span> -->
        <span i18n="slips|סהכ לפני מעמ@@beforeVAT">Before VAT</span>
        <span>{{((data.amount/100)-(data.tax.amount/100)) | number:'1.2-2'}}</span>
    </div>
    <div class="flex j-sb">
        <!-- <span>{{'VAT' | translate}}</span> -->
        <span i18n="slips|מעמ@@vat">VAT</span>
        <span>{{(data.tax.amount/100) | number:'1.2-2'}}</span>
    </div>
    <div class="flex j-sb">
        <!-- <span>{{'INCLUDE_VAT' | translate}}</span> -->
        <span i18n="slips|כולל מעמ@@includeVAT">Include VAT</span>
        <span>{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>

    <hr />

    <div class="flex j-sb" *ngIf="data.payments[0].faceValue">
        <!-- <span>{{'PAID_CACHE' | translate}}</span> -->
        <span i18n="slips|התקבל במזומן@@paidInCash">Paid in cash</span>
        <span>{{(data.payments[0].faceValue/100) | number:'1.2-2'}}</span>
    </div>

    <div class="flex j-sb" *ngIf="data.payments[0].change && data.payments[0].change.amount">
        <!-- <span>{{'TOTAL_CASHBACK' | translate}}</span> -->
        <span i18n="slips|עודף@@change">Change</span>
        <span>{{(data.payments[0].change.amount/100) | number:'1.2-2'}}</span>
    </div>

</div>




