<div class="ticket-box flex d-col">

    <div class="flex j-sb">
        <!-- <span>{{'BUSINESS_MEAL' | translate}}</span> -->
        <span>ארוחה עסקית</span>
        <span>{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>
    <div class="flex j-sb">
        <!-- <span>{{'BEFORE_VAT' | translate}}</span> -->
        <span>סה"כ לפני מע"מ</span>
        <span>{{((data.amount/100)-(data.tax.amount/100)) | number:'1.2-2'}}</span>
    </div>
    <div class="flex j-sb">
        <!-- <span>{{'VAT' | translate}}</span> -->
        <span>מע"מ</span>
        <span>{{(data.tax.amount/100) | number:'1.2-2'}}</span>
    </div>
    <div class="flex j-sb">
        <!-- <span>{{'INCLUDE_VAT' | translate}}</span> -->
        <span>כולל מע"מ</span>        
        <span>{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>

    <hr />

    <div class="flex j-sb" *ngIf="data.payments[0].faceValue">
        <!-- <span>{{'PAID_CACHE' | translate}}</span> -->
        <span>התקבל במזומן</span>
        <span>{{(data.payments[0].faceValue/100) | number:'1.2-2'}}</span>
    </div>

    <div class="flex j-sb" *ngIf="data.payments[0].change && data.payments[0].change.amount">
        <!-- <span>{{'TOTAL_CASHBACK' | translate}}</span> -->
        <span>עודף</span>
        <span>{{(data.payments[0].change.amount/100) | number:'1.2-2'}}</span>
    </div>

</div>




