<div class="ticket-box flex d-col">

    <div class="flex j-sb">
        <span i18n="slips@@businessMeal">Business Meal></span>
        <span>{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>

    <div class="flex j-sb">
        <span i18n="slips@@beforeVAT">Before VAT</span>
        <span>{{((data.amount/100)-(data.tax.amount/100)) | number:'1.2-2'}}</span>
    </div>

    <div class="flex j-sb">
        <span i18n="slips@@vat">VAT</span>
        <span>{{(data.tax.amount/100) | number:'1.2-2'}}</span>
    </div>

    <div class="flex j-sb">
        <span i18n="slips@@includeVAT">Include VAT</span>
        <span>{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>

    <hr />

    <div class="flex j-sb" *ngIf="data.payments[0].faceValue">
        <span i18n="slips@@paidInCash">Paid in cash</span>
        <span>{{(data.payments[0].faceValue/100) | number:'1.2-2'}}</span>
    </div>

    <div class="flex j-sb" *ngIf="data.payments[0].change && data.payments[0].change.amount">
        <span i18n="slips@@change">Change</span>
        <span>{{(data.payments[0].change.amount/100) | number:'1.2-2'}}</span>
    </div>

</div>
