<!-- PAID IN CREDIT FROM -->
<div class="row">
    <div class="col-8">
        <span i18n="@@paidInCreditFrom">Paid in credit from</span>
        <span>{{payment.ISSUER}}</span>
    </div>
    <div class="col-3">
        <span *ngIf="payment.P_AMOUNT">{{(payment.P_AMOUNT ) | number:'1.2-2'}}</span>
    </div>
</div>


<!-- LAST 4 -->
<div class="flex j-sb d-block" *ngIf="collections.CREDIT_PAYMENTS[0].LAST_4">
    <span [translate]="'slips.last4'">LAST 4</span>
    <span>{{collections.CREDIT_PAYMENTS[0].LAST_4}}</span>
</div>

<!-- PROVIDER PAYMENT DATE -->
<div class="flex j-sb d-block" *ngIf="collections.CREDIT_PAYMENTS[0].PROVIDER_PAYMENT_DATE">
    <span i18n="@@transactionTime">Transaction Time</span>
    <span *ngIf="!isUS">{{ collections.CREDIT_PAYMENTS[0].PROVIDER_PAYMENT_DATE | date : 'dd/MM/yyyy HH:mm' }}</span>
    <span *ngIf="isUS">>{{ collections.CREDIT_PAYMENTS[0].PROVIDER_PAYMENT_DATE | date : 'MM/dd/yyyy h:mm a': '': 'en_US' }}</span>

    <!-- US format -->
    <!-- <span>{{printDataOld.PROVIDER_PAYMENT_DATE |date : 'MM/dd/yyyy HH:mm'}}</span> -->
</div>

<!-- CARD NUMBER-->
<div class="flex j-sb d-block" *ngIf="collections.CREDIT_PAYMENTS[0].PROVIDER_TRANS_ID">
    <span [translate]="'slips.cardNumber'">Card number</span>
    <span>{{ collections.CREDIT_PAYMENTS[0].PROVIDER_TRANS_ID }}</span>
</div>

<!-- PROVIDER TRANSACTIOB ID -->
<div class="flex j-sb d-block" *ngIf="collections.CREDIT_PAYMENTS[0].CONFIRMATION_NUMBER">
    <span class="text-upper" [translate]="'slips.transactionNumber'">Transaction no.</span>
    <span>{{collections.CREDIT_PAYMENTS[0].CONFIRMATION_NUMBER}}</span>
</div>

<!-- CONFIRMATION NUM -->
<div class="flex j-sb d-block" *ngIf="collections.CREDIT_PAYMENTS[0].CONFIRMATION_NUMBER">
    <span class="text-upper" [translate]="'slips.approvalNumber'">Approval no.</span>
    <span>{{collections.CREDIT_PAYMENTS[0].CONFIRMATION_NUMBER}}</span>
</div>

<!-- CHANGE -->
<div class="row" *ngIf="payment.P_CHANGE">
    <div class="col-8">
        <span i18n="@@change">Change</span>
    </div>
    <div class="col-3">
        <span *ngIf="payment.P_CHANGE">{{(payment.P_CHANGE ) | number:'1.2-2'}}</span>
    </div>
</div>