<div class="ticket-box flex d-col">

    <!-- <h4>{{'ORDERS_VIEW.giftCard' | translate}}</h4> -->
    <h4>כרטיס תשלום</h4>    

    <div class="flex j-sb">
        <!-- <span>{{'BUSINESS_MEAL' | translate}}</span> -->
        <span>ארוחה עסקית</span>        
        <span>{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>
    <div class="flex j-sb">
        <!-- <span>{{'BEFORE_VAT' | translate}}</span> -->
        <span>סה"כ לפני מע"מ</span>        
        <span>{{((data.amount/100)-(data.tax.amount/100)) | number:'1.2-2'}}</span>
    </div>
    <div class="flex j-sb">
        <!-- <span>{{'VAT' | translate}}</span> -->
        <span>מע"מ</span>        
        <span>{{(data.tax.amount/100) | number:'1.2-2'}}</span>
    </div>
    <div class="flex j-sb">
        <!-- <span>{{'INCLUDE_VAT' | translate}}</span> -->
        <span>כולל מע"מ</span>        
        <span>{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>

</div>



