<div class="ticket-box d-col">

    <app-order-single-invoice-data [printData]="invoice" [orderOld]="orderOld"></app-order-single-invoice-data>


    <app-order-invoice-vat [printData]="invoice"></app-order-invoice-vat>

    <hr />

    <!-- Paid IN CHARGE ACCOUNT FROM -->
    <div class="row">
        <div class="col-8">
            <span [translate]="'slips.paidInChargeAccountFrom'">Paid in charge account from</span>
            <span>{{data.payments[0]?.accountName}}</span>
        </div>
        <div class="col-3">
            <span>{{(data.amount/100) | number:'1.2-2'}}</span>
        </div>
    </div>

    <hr />

    <app-order-delivery-note-transaction-data [printData]="invoice"></app-order-delivery-note-transaction-data>

</div>