<div class="flex d-col">
    <div class="flex d-col" *ngIf="!loading">
        <div class="title" i18n="@@monthlyReport">{{month | date:'LLLL'}} Monthly Report</div>
        <div class="flex d-col body">
            <dx-load-indicator class="as-center" *ngIf="loading"></dx-load-indicator>
            <div *ngIf="noData" class="noData" i18n="@@noData">No Data</div>
            <div *ngIf="!noData" class="flex d-col a-center">
                <table class="chf-tbl chf-tbl-xxx-smaller chf-tbl-row-oriented">
                    <tr class="header">
                        <td i18n="@@businessDay">Business Day</td>
                        <td class="ar" i18n="@@netSales">Net Sales</td>
                        <td class="ar" ><ng-container i18n="@@diners">Diners</ng-container><br>(<ng-container i18n="@@ppa">PPA</ng-container>)</td>
                        <td class="ar" i18n="@@cancellationsValue">Voids</td>
                        <td class="ar" i18n="@@operationalErrorsValue">Operational Errors</td>
                        <td class="ar" i18n="@@retentionValue">Retention</td>
                        <td class="ar" i18n="@@organizationalValue">Employees &amp; Owners</td>
                    </tr>
                    <tr>
                        <td i18n="@@total">Total</td>
                        <td class="ar">{{mtdBusinessData.totals.netSales | curr:'0'}}</td>
                        <td class="ar">{{mtdBusinessData.totals.dinesrs}}<br>({{mtdBusinessData.totals.ppaAmount | curr:'1'}})</td>
                        <td class="ar">{{mtdBusinessData.totals.CancellationAmount | curr:'0'}}<br>({{mtdBusinessData.totals.CancellationAmount / mtdBusinessData.totals.netSales | pct:'1'}})</td>
                        <td class="ar">{{mtdBusinessData.totals.OperationalDiscountAmount | curr:'0'}}<br>({{mtdBusinessData.totals.OperationalDiscountAmount / mtdBusinessData.totals.netSales | pct:'1'}})</td>
                        <td class="ar">{{mtdBusinessData.totals.RetentionDiscountAmount | curr:'0'}}<br>({{mtdBusinessData.totals.RetentionDiscountAmount / mtdBusinessData.totals.netSales | pct:'1'}})</td>
                        <td class="ar">{{mtdBusinessData.totals.OrganizationalDiscountAmount | curr:'0'}}<br>({{mtdBusinessData.totals.OrganizationalDiscountAmount / mtdBusinessData.totals.netSales | pct:'1'}})</td>
                    </tr>
                    <tr *ngFor="let tuple of mtdBusinessData.businessDays">
                        <td>{{tuple.businessDate}}</td>
                        <td class="ar">{{tuple.netSales | curr:'0'}}</td>
                        <td class="ar">{{tuple.dinesrs}}<br>({{tuple.ppaAmount | curr:'1'}})</td>
                        <td class="ar">{{tuple.CancellationAmount | curr:'0'}}<br>({{tuple.CancellationAmount / tuple.netSales | pct:'1'}})</td>
                        <td class="ar">{{tuple.OperationalDiscountAmount | curr:'0'}}<br>({{tuple.OperationalDiscountAmount / tuple.netSales | pct:'1'}})</td>
                        <td class="ar">{{tuple.RetentionDiscountAmount | curr:'0'}}<br>({{tuple.RetentionDiscountAmount / tuple.netSales | pct:'1'}})</td>
                        <td class="ar">{{tuple.OrganizationalDiscountAmount | curr:'0'}}<br>({{tuple.OrganizationalDiscountAmount / tuple.netSales | pct:'1'}})</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>