<div class="flex d-col">
    <div class="title" [translate]="'day.monthlyReport'">Monthly Report</div>
    <mat-accordion>
        <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{month | date:'LLLL'}} - {{mtdBusinessData.totals.netSales | curr:'0'}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="chf-tbl chf-tbl-xxx-smaller chf-tbl-row-oriented">
                <tr class="header">
                    <td [translate]="'day.businessDay'">Business Day</td>
                    <td class="ar" [translate]="'day.netSales'">Net Sales</td>
                    <td class="ar" ><span [translate]="'day.diners'">Diners</span><br>(<span [translate]="'day.ppa'">PPA</span>)</td>
                    <td class="ar" [translate]="'day.cancellationsValue'">Voids</td>
                    <td class="ar" [translate]="'day.operationalErrorsValue'">Operational Errors</td>
                    <td class="ar" [translate]="'day.retentionValue'">Retention</td>
                    <td class="ar" [translate]="'day.organizationalValue'">Employees &amp; Owners</td>
                </tr>
                <tr>
                    <td [translate]="'day.total'">Total</td>
                    <td class="ar">{{mtdBusinessData.totals.netSales | curr:'0'}}</td>
                    <td class="ar">{{mtdBusinessData.totals.dinesrs}}<br>({{mtdBusinessData.totals.ppaAmount | curr:'2'}})</td>
                    <td class="ar">{{mtdBusinessData.totals.CancellationAmount | curr:'0'}}<br>({{mtdBusinessData.totals.CancellationAmount / mtdBusinessData.totals.netSales | pct:'1'}})</td>
                    <td class="ar">{{mtdBusinessData.totals.OperationalDiscountAmount | curr:'0'}}<br>({{mtdBusinessData.totals.OperationalDiscountAmount / mtdBusinessData.totals.netSales | pct:'1'}})</td>
                    <td class="ar">{{mtdBusinessData.totals.RetentionDiscountAmount | curr:'0'}}<br>({{mtdBusinessData.totals.RetentionDiscountAmount / mtdBusinessData.totals.netSales | pct:'1'}})</td>
                    <td class="ar">{{mtdBusinessData.totals.OrganizationalDiscountAmount | curr:'0'}}<br>({{mtdBusinessData.totals.OrganizationalDiscountAmount / mtdBusinessData.totals.netSales | pct:'1'}})</td>
                </tr>
                <tr *ngFor="let tuple of mtdBusinessData.businessDays">
                    <td>{{tuple.businessDate}}</td>
                    <td class="ar">{{tuple.netSales | curr:'0'}}</td>
                    <td class="ar">{{tuple.dinesrs}}<br>({{tuple.ppaAmount | curr:'2'}})</td>
                    <td class="ar">{{tuple.CancellationAmount | curr:'0'}}<br>({{tuple.CancellationAmount / tuple.netSales | pct:'1'}})</td>
                    <td class="ar">{{tuple.OperationalDiscountAmount | curr:'0'}}<br>({{tuple.OperationalDiscountAmount / tuple.netSales | pct:'1'}})</td>
                    <td class="ar">{{tuple.RetentionDiscountAmount | curr:'0'}}<br>({{tuple.RetentionDiscountAmount / tuple.netSales | pct:'1'}})</td>
                    <td class="ar">{{tuple.OrganizationalDiscountAmount | curr:'0'}}<br>({{tuple.OrganizationalDiscountAmount / tuple.netSales | pct:'1'}})</td>
                </tr>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
</div>