.app {
    font-family: "Alef", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
	-webkit-font-smoothing: antialiased;
	padding-top: 70px;
	padding-bottom: 0;
	color: #333;
	background-color: #edf1f2;

	app-card {
    	display: block;
	}
}