<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <h1>im in app</h1> -->
      <!-- <input type="text" [(ngModel)]="name"> -->
      <!-- <p>{{name}}</p>       -->
      <!-- <dx-button text="Press me" (onClick)="helloWorld()"></dx-button>       -->
      <!-- <app-dsh-gauge-1></app-dsh-gauge-1>       -->
      <app-dsh-grid-1></app-dsh-grid-1>
    </div>  
  </div>  
</div>  


