<div class="row mb-3">
    <app-month-selector style="width: 100%; margin-top: -14px;" (onDateChanged)="onDateChanged($event)"
                        (click)="openMonthPicker()"></app-month-selector>
</div>

<div class="container p-0">
    <div class="alert alert-light" *ngIf="loadingOlapData">
        <ng-container *ngIf="OlapFailed">
            <div class="text-center" [translate]="'processingData'">
                We are processing your data, please check back in a few minutes.
            </div>
        </ng-container>
        <ng-container *ngIf="!OlapFailed">
            <div class="text-center">
                <dx-load-indicator></dx-load-indicator>
                <p class="text-center saving"><span [translate]="'fetchingLatestAnalyticsData'">Fetching latest analytics data</span><span>.</span><span>.</span><span>.</span>
                </p>
            </div>
        </ng-container>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 p-0">
            <div class="col-sm-12 mb-3" *ngIf="isCurrentMonth()">
                <app-card [cardData]="currentBdCardData" (click)="onDayRequest({date: 'currentBD'})"
                          style="cursor: pointer"></app-card>
            </div>
            <div class="col-sm-12 mb-3" *ngIf="display.laborCost && isCurrentMonth()">
                <div class="row">
                    <div class="col-12">
                        <div class="labor-cost-card card text-center bg-light dashboard-home-card shadow-card rounded-0">
                            <div class="card-header font-weight-bold">Labor Cost</div>
                            <div class="card-body p-0 m-0">
                                <div class="row px-3">
                                    <div class="col-4 px-0" (click)="onDayRequest({date: 'currentBD'})">
                                        <div class="card bg-white text-center">
                                            <h6 class="mb-0 pt-2">Today</h6>
                                            <div class="card-body p-2">
                                                <h5>{{laborCostCard.today.percentage | pct:'1'}}</h5>
                                                <p class="card-text small">{{laborCostCard.today.cost | curr:'0'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 px-1" (click)="onDayRequest({date: 'currentBD'})">
                                        <div class="card bg-white text-center">
                                            <h6 class="mb-0 pt-2">This Week</h6>
                                            <div class="card-body p-2">
                                                <h5>{{laborCostCard.week.percentage | pct:'1'}}</h5>
                                                <p class="card-text small">{{laborCostCard.week.cost | curr:'0'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 px-0" (click)="openOverTimeDialog()">
                                        <div class="card bg-white text-center">
                                            <h6 class="mb-0 pt-2">Overtime Notice</h6>
                                            <div class="card-body p-2">
                                                <h5>{{laborCostCard.overtime.count}}</h5>
                                                <p class="btn btn-info btn-sm pb-0 mb-0">Show</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!loadingOlapData && showPreviousDay && isCurrentMonth()" class="col-sm-12 mb-3">
                <app-card [cardData]="previousBdCardData" (click)="onDayRequest({date: 'previousBD'})"
                          style="cursor: pointer"></app-card>
            </div>
            <div *ngIf="!loadingOlapData && display.weekToDate && isCurrentMonth()" class="col-sm-12 mb-3">
                <app-card [cardData]="weekToDateCard" (click)="openWeekPicker()"
                          style="cursor: pointer"></app-card>
            </div>
            <div *ngIf="!loadingOlapData && showForecast && isCurrentMonth()" class="col-sm-12 mb-3">
                <app-card [cardData]="forecastCardData"></app-card>
            </div>
            <div class="col-sm-12 mb-3">
                <app-card id="monthSummary" *ngIf="showSummary" [cardData]="summaryCardData"
                          (click)="openMonthPicker()"></app-card>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 p-0">
            <div class="col-12">
                <app-month-view *ngIf="!loadingOlapData" (onDayRequest)="onDayRequest($event)"
                                (onMonthCardClick)="openMonthPicker()"></app-month-view>
            </div>
        </div>
    </div>
</div>