<!--
<div calss="flex d-col">
  <div class="title">
    <span>// put here the object that change all the time</span>
    <mat-accordion displayMode="flat" multi class="mat-table">
        <section matSort clas="mat-elevation z2 mat-header-row">
          <span class="mat-header-cell" mat-sort-header="Name">Name</span>
          <span class="mat-header-cell" mat-sort-header="Qantity">Qantity</span>
          <span class="mat-header-cell" mat-sort-header="Amount">Amount</span>
        </section>
      <mat-expansion-panel> &lt;!&ndash;*ngFor="let item of items | async"&ndash;&gt;> &lt;!&ndash; put here the araay thats need to go back&ndash;&gt;
      <mat-expansion-panel-header class="mat-row">
        <span class="mat-row">&lt;!&ndash;put here the first item &ndash;&gt;</span>
        <span class="mat-row">&lt;!&ndash;put here the second item &ndash;&gt;</span>
        <span class="mat-row">&lt;!&ndash;put here the third item &ndash;&gt;</span>
      </mat-expansion-panel-header>
      <div><pre>{{item | json}}</pre></div> &lt;!&ndash; bring all the json after sorting &ndash;&gt;
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
-->
