<div class="b-b bg-white animated fadeInDown">

  <div class="dash-container pv20">
    <div class="font-bold text-base text-center mb10">*{{'managerDash.DASH_SALES_EXP' | tmpTranslate}}</div>
    <!-- ============================================================================================
     filters
     ============================================================================================ -->
    <div>
      <div class="row">
        <div class="col-sm-3 col-xs-6">
          <div class="form-group">
            <label class="text-xs">{{'managerDash.Orders' | tmpTranslate}}</label>
            <div>
              <!--<select class="form-control input-lg text-lg" ng-model="criteria.orderFilter" ng-change="criteria.setOrderFilter(criteria.showNetPrices, true)"
                      ng-options="opt.value as opt.text for opt in criteria.orderFilterOpts"></select>-->

              <select class="form-control form-control-lg" [(ngModel)]="criteria.orderFilter"
                      (change)="setOrderFilter(criteria.showNetPrices, true)">
                <option *ngFor="let opt of criteria.orderFilterOpts" [ngValue]="opt.value">{{opt.text}}</option>
              </select>

            </div>
          </div>
        </div>

        <div class="col-sm-3  col-xs-6">
          <div class="form-group">
            <label class="text-xs">{{'managerDash.Net/Gross' | tmpTranslate}}</label>
            <div>
              <!--<select class="form-control input-lg text-lg" ng-model="criteria.showNetPrices" ng-change="criteria.toggleNetGross(criteria.showNetPrices, true)"
                      ng-options="opt.value as opt.text for opt in criteria.netGrossOpts"></select>-->

              <select class="form-control form-control-lg" [(ngModel)]="criteria.showNetPrices"
                      (change)="toggleNetGross(criteria.showNetPrices, true)">
                <option *ngFor="let opt of criteria.netGrossOpts" [ngValue]="opt.value">{{opt.text}}</option>
              </select>

            </div>
          </div>
        </div>

        <div class="col-sm-3  col-xs-6">
          <div class="form-group">
            <label class="text-xs">{{'managerDash.Goal' | tmpTranslate}}</label>
            <input type="number" class="form-control form-control-lg text-center numeric-font" id="txtGoal"
                   name="input" [(ngModel)]="criteria.dinerAvgGoalParsed" (change)="calcGoal()"
                   readonly max="1000" min="0" />
          </div>
        </div>

        <div class="col-sm-3  col-xs-6">
          <div class="form-group">
            <label class="text-xs">{{'managerDash.CHOOSE_BY_TIMES' | tmpTranslate}}</label>
            <button type="button" class="btn btn-dark btn-lg btn-block" (click)="doSettings()" style="font-size:18px;">
              {{'managerDash.' + (criteria.timeMode | mapList:db.timeOptions:'value':'textSmall') | tmpTranslate}}
              <span *ngIf="criteria.timeMode == 'start'">{{criteria.dateFrom | date:'HH:mm'}}</span>
              <span *ngIf="criteria.timeMode == 'end'">{{criteria.dateTo | date:'HH:mm'}}</span>
            </button>
          </div>
        </div>

      </div>
    </div>
    <!--end filters-->


    <div class="pos-rlt">
      <div class="pos-abt bg-dark text-white pa5 text-center text-base" style="width:150px; left:50%; margin-left:-85px; border-radius:50px; top:-15px; z-index:1">{{'managerDash.SEATED_ORDERS' | tmpTranslate}}</div>
      <hr />
    </div>

    <!-- TOTALS-->
    <div>
      <div class="hbox">
        <div class="hcol b-far text-center v-top pos-rlt">
          <div class="text-xxl" [ngClass]="{'text-xl':MDS.isHandset}">
            <span class="numeric-cell">{{criteria.totals.orders}}</span>
          </div>
          <small class="text-faded">
            {{criteria.orderFilter | mapList:criteria.orderFilterOpts:'value':'text'}}
          </small>
        </div>

        <div class="hcol b-far text-center  v-top pos-rlt">
          <div class="text-xxl" [ngClass]="{'text-xl':MDS.isHandset}">
            <span class="numeric-cell">{{criteria.totals.diners}}</span>
          </div>
          <small class="text-faded">{{'managerDash.Diners' | tmpTranslate}}</small>
        </div>

        <div class="hcol b-far text-center v-top pos-rlt">
          <div class="text-xxl" [ngClass]="{'text-xl':MDS.isHandset}">
            <span class="numeric-cell">{{criteria.totals.total | currencyFraction}}</span>
          </div>
          <small class="text-faded">
            {{criteria.showNetPrices | mapList:criteria.netGrossOpts:'value':'text'}}
          </small>
        </div>

        <div class="hcol  text-center  v-top pos-rlt">
          <div class="numeric-cell text-xxl text-center" [ngClass]="{'text-xl':MDS.isHandset}">

            <span *ngIf="!MDS.isHandset && criteria.totals.dinerAvg" class="badge m-near-sm inline text-lg v-top mt5 hidden-sm-down {{criteria.totals.dinerAvg | PPOKPI:criteria.dinerAvgGoal:criteria.dinerAvgGoalAlert}}"
                  style="border-radius:5px">
              {{criteria.totals.goalDiff | KPIGoal}}
            </span>
            {{criteria.totals.total == 0 ? 0 : criteria.totals.dinerAvg | currencyFraction:'1'}}
            <span *ngIf="MDS.isHandset && criteria.totals.dinerAvg" class="badge m-near-sm inline text-lg v-top mt5 hidden-sm-down {{criteria.totals.dinerAvg | PPOKPI:criteria.dinerAvgGoal:criteria.dinerAvgGoalAlert}}"
                  style="border-radius:5px">
              {{criteria.totals.goalDiff | KPIGoal}}
            </span>

          </div>
          <small class="text-faded">PPA</small>
        </div>
      </div>
    </div>
    <!--end totals-->
  </div>

</div>


<div class="dash-container sales-container mt15">
  <ul class="nav nav-tabs sales-tabs mt15" role="tablist">
    <li class="nav-item text-xl">
      <a class="nav-link" [ngClass]="{'active':criteria.viewerMode == 'diner'}" (click)="criteria.viewerMode = 'diner'">{{'managerDash.By Diners' | tmpTranslate}}</a>
    </li>

    <li class="nav-item text-xl">
      <a class="nav-link"  [ngClass]="{'active':criteria.viewerMode === 'items'}" (click)="criteria.viewerMode = 'items'">
        {{'managerDash.By Items Responsibility' | tmpTranslate}}
        <button class="btn btn-default btn-lg ms5 hidden-sm-down" *ngIf="criteria.viewerMode == 'items'" (click)="criteria.itemSelectionCollapsed = !criteria.itemSelectionCollapsed"
                style="width:33px; height:30px; padding:0;">
          <mat-icon>{{criteria.itemSelectionCollapsed ? 'expand_more' : 'expand_less'}}</mat-icon>
        </button>

        <button class="btn btn-info btn-lg ms5 hidden-sm-down" *ngIf="criteria.viewerMode == 'items'" (click)="toggleItemSectionMeasure()"
                style="width:33px; height:30px; padding:0;">
          {{criteria.itemSelectionMeasure == 'c' ? '#' : '$'}}
        </button>

      </a>
    </li>
    <li class="nav-item text-xl">
      <a class="nav-link" [ngClass]="{'active':criteria.viewerMode === 'itemsSales'}" (click)="criteria.viewerMode = 'itemsSales'">
        {{'managerDash.By Items Sales' | tmpTranslate}}
        <button class="btn btn-light btn-lg ms5 hidden-sm-down" *ngIf="criteria.viewerMode == 'itemsSales'" (click)="criteria.itemSelectionCollapsed = !criteria.itemSelectionCollapsed"
                style="width:33px; height:33px; padding:0;">
          <mat-icon>{{criteria.itemSelectionCollapsed ? 'expand_more' : 'expand_less'}}</mat-icon>
        </button>
        <button class="btn btn-info btn-lg ms5 hidden-sm-down" *ngIf="criteria.viewerMode == 'itemsSales'" (click)="toggleItemSectionMeasure()"
                style="width:33px; height:30px; padding:0;">
          {{criteria.itemSelectionMeasure == 'c' ? '#' : '$'}}
        </button>
      </a>
    </li>
  </ul>


  <div class="tab-content" style="background-color:#fff; border:1px solid #ddd; border-width:0 1px 1px 1px">
    <!-- ============================================================================================
        by diner
    ============================================================================================ -->
    <div class="animated fadeInUp ng-leave-instant" *ngIf="criteria.viewerMode == 'diner'">
      <div>
        <!--<div class="pa10 b-b b-darkgray visible-xs text-xs">{{'managerDash.SORT_BY' | tmpTranslate}}</div>-->
        <div class="no-more-tables block-header">
          <table class="table table-log no-margin" ts-wrapper>
            <thead>
              <tr>
                <th ts-criteria="waiterName" class="b-dark">{{'managerDash.SERVER' | tmpTranslate}}</th>
                <th ts-criteria="orders">{{'managerDash.Orders' | tmpTranslate}}</th>
                <th ts-criteria="diners">{{'managerDash.Diners' | tmpTranslate}}</th>
                <th ts-criteria="total" ts-default="descending">{{'managerDash.Total' | tmpTranslate}}</th>
                <th ts-criteria="dinerAvg">PPA</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of criteria.dinersAVG" ts-repeat [ngClass]="{'text-l-t':criteria.excludedUsers.indexOf(order.waiter) != -1}">
                <td class="no-more-tables-header" *ngxInit="criteria.excludedUsers.indexOf(order.waiter) != -1 as wexcluded">
                  <div class="d-flex flex-row cur-pointer" (click)="toggleWaiter(order.waiter)">
                    <div class="me5 thumb-xs avatar">
                      <img src="{{order.photoUrl}}" style="height:34px" alt="..." *ngIf="!wexcluded">
                      <img src="assets/images/icons/circle-with-cross.svg" style="height:34px" alt="..." *ngIf="wexcluded">
                    </div>
                    <div>
                      <div style="line-height:40px" class="text-s" [ngClass]="{'text-l-t':wexcluded}">
                        {{order.waiterName}}
                      </div>
                    </div>
                  </div>
                </td>
                <td class="numeric-cell text-lg" [attr.aria-label]="'managerDash.Orders' | tmpTranslate">
                  {{order.orders}}
                </td>
                <td class="numeric-cell text-lg" [attr.aria-label]="'managerDash.Diners' | tmpTranslate">
                  {{order.diners}}
                </td>
                <td class="numeric-cell text-lg" [attr.aria-label]="'managerDash.Total' | tmpTranslate">
                  {{order.total | currencyFraction}}
                </td>
                <td class="numeric-cell text-lg" [attr.aria-label]="PPA">
                  <span class="badge me10 font-normal text-center inline text-lg  {{order.dinerAvg | PPOKPI:criteria.dinerAvgGoal:criteria.dinerAvgGoalAlert}}"
                        style="width:60px" style="border-radius:8px">
                    {{order.goalDiff | KPIGoal:1}}
                  </span>
                  <span class="inline" style="width:40px"> <!--[ngClass]="{'text-l-t':wexcluded}"-->
                    {{order.dinerAvg | currencyFraction:'1'}}
                  </span>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--end by diner-->
    <!-- ============================================================================================
        by item
    ============================================================================================ -->
    <div class="animated fadeInUp ng-leave-instant" *ngIf="criteria.viewerMode == 'items' || criteria.viewerMode == 'itemsSales'">
      <div>
        <div style="position:relative">
          <!-- ============================================================================================
              item buckets
          ============================================================================================ -->

          <div class="hidden-sm-down pa10 b-b" [ngxCollapse]="criteria.itemSelectionCollapsed">
            <div>
              <div class="pv10">
                <div class="row">
                  <div class="col-sm-3 " *ngFor="let cItems of criteria.itemGroups; let $index=index">
                    <div class="b" (click)="generateItemsGroup(cItems,$index, $event)">
                      <div>
                        <button class="btn btn-dark btn-block text-ellipsis no-radius">{{cItems.name}}</button>
                      </div>
                      <div>
                        <div class="cell-inner">
                          <div class="" *ngFor="let sub of cItems.subs">
                            <!--| orderBy:'fullName'-->
                            <div class="b-b clearfix pa5" [ngClass]="{'bg-info':sub.items}" (click)="toggleSubExpanded(cItems, sub, $event)">
                              <span class="badge pull-right flip numeric-cell">{{sub.count}}</span>
                              {{sub.fullName}}
                            </div>
                            <div *ngIf="sub.items" [ngxCollapse]="!sub.expanded">
                              <div class="b-b clearfix pa5 bg-light" *ngFor="let item of sub.items">
                                <!--| orderBy:'name'-->
                                <span class="badge pull-right flip numeric-cell">{{item.count}}</span>
                                {{item.name}}
                              </div>
                            </div>
                          </div>
                          <div class="b-b clearfix pa5" *ngFor="let item of cItems.items">
                            <!--| orderBy:'name'-->
                            <span class="badge pull-right flip numeric-cell">{{item.count}}</span>
                            {{item.name}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 " *ngIf="criteria.itemGroups.length < 4">
                    <div class="b" stylex="height:120px">
                      <div>
                        <button class="btn btn-info btn-block no-radius" (click)="generateItemsGroup(null,null)">{{'managerDash.Add New Group' | tmpTranslate}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!--end item buckets-->
          <!--<div class="pa10 b-b b-darkgray visible-xs text-xs">{{'managerDash.SORT_BY' | tmpTranslate}}</div>-->
          <div class="no-more-tables block-header">


            <!--start items owner view mode-->
            <table class="table table-log no-margin" ts-wrapper *ngIf="criteria.viewerMode == 'items' && !criteria.changingSales">
              <thead>
                <tr>
                  <th ts-criteria="waiterName">{{'managerDash.WAITER' | tmpTranslate}}</th>
                  <th ts-criteria="diners" ts-default="descending">{{'managerDash.Diners' | tmpTranslate}}</th>
                  <th *ngFor="let group of criteria.itemGroups">{{group.name}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of criteria.itemsAVG" ts-repeat [ngClass]="{'font-bold bg-light':order.isTotal, 'text-l-t':criteria.excludedUsers.indexOf(order.waiter) != -1}">
                  <td class="no-more-tables-header" *ngxInit="criteria.excludedUsers.indexOf(order.waiter) != -1 as wexcluded">
                    <div class="d-flex flex-row" ng-click="toggleWaiter(order.waiter)">
                      <div class="thumb-xs avatar me5">
                        <img src="{{order.photoUrl}}" style="height:34px" alt="..." *ngIf="!wexcluded">
                        <img src="assets/images/icons/circle-with-cross.svg" style="height:34px" alt="..." *ngIf="wexcluded">
                      </div>
                      <div>
                        <div style="line-height:40px">
                          {{order.waiterName}}
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="numeric-cell text-lg" [attr.aria-label]="'managerDash.Diners' | tmpTranslate">
                    {{order.diners}}
                  </td>
                  <td class="numeric-cell text-lg" *ngFor="let group of criteria.itemGroups; let $index=index" [attr.aria-label]="group.name">

                    <!-- AVG -->
                    <span *ngIf="criteria.itemSelectionMeasure === 'c'"> {{order[criteria.itemSelectionMeasure + '_group_' + $index] }} </span>

                    <!-- CURRENCY -->
                    <span *ngIf="criteria.itemSelectionMeasure === 'v'"> {{order[criteria.itemSelectionMeasure + '_group_' + $index] | number:'1.2-2' }} </span>

                  </td>
                </tr>
              </tbody>
            </table>
            <!--end items owner view mode-->
            <!--start items sales view mode-->
            <table class="table table-log no-margin" ts-wrapper *ngIf="criteria.viewerMode == 'itemsSales' && !criteria.changingSales">
              <thead>
                <tr>
                  <th ts-criteria="waiterName">{{'managerDash.WAITER' | tmpTranslate}}</th>
                  <th *ngFor="let group of criteria.itemGroups">{{group.name}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of criteria.ItemsSales" ts-repeat [ngClass]="{'font-bold bg-light':order.isTotal, 'text-l-t':criteria.excludedUsers.indexOf(order.waiter) != -1}">
                  <td class="no-more-tables-header" *ngxInit="criteria.excludedUsers.indexOf(order.waiter) != -1 as wexcluded">
                    <div class="d-flex flex-row" ng-click="toggleWaiter(order.waiter)">
                      <div class="thumb-xs avatar me5">
                        <img src="{{order.photoUrl}}" style="height:34px" alt="..." *ngIf="!wexcluded">
                        <img src="assets/images/icons/circle-with-cross.svg" style="height:34px" alt="..." *ngIf="wexcluded">
                      </div>
                      <div style="line-height:40px">
                        {{order.waiterName}}
                      </div>
                    </div>
                  </td>
                  <td class="numeric-cell text-lg" *ngFor="let group of criteria.itemGroups; let $index=index" [attr.aria-label]="group.name">

                    <!-- AVG -->
                    <span *ngIf="criteria.itemSelectionMeasure === 'c'"> {{order[criteria.itemSelectionMeasure + '_group_' + $index] }} </span>

                    <!-- CURRENCY -->
                    <span *ngIf="criteria.itemSelectionMeasure === 'v'"> {{order[criteria.itemSelectionMeasure + '_group_' + $index] | number:'1.2-2' }} </span>

                  </td>
                </tr>
              </tbody>
            </table>
            <!--end items sales view mode-->

          </div>
        </div>
      </div>
    </div>
    <!--end by items-->
  </div>
</div>
