<div mat-dialog-title class="bb">
  <div class="d-flex justify-content-between">
      <div style="width:50px"></div>

      <div class="form-group">
        <input type="text" name="groupName" class="form-control input-lg" [(ngModel)]="group.name" placeholder="{{'managerDash.GROUP_NAME' | tmpTranslate}}" maxlength="14" required>
      </div>

      <button mat-icon-button (click)="cancel()">
        <mat-icon aria-label="Close Dialog">close</mat-icon>
      </button>

  </div>
</div>
<div mat-dialog-content class="dx-rtl" style="padding-bottom:15px;">
  <div>
    <div class="row">
      <div class="col-sm-6">
        <div class="scroll-y" style="max-height:500px">
          <dx-tree-view id="cat-treeview"
                        [items]="catTree"
                        keyExpr="_id"
                        searchExpr="name"
                        searchTimeout="400"
                        [selectAllText]="'XXX'"
                        (onItemRendered)="onItemRendered($event)"
                        (onItemSelectionChanged)="selectionChanged($event)"
                        (onOptionChanged)="treeOptionChanged($event)"
                        [expandNodesRecursive]="false"
                        showCheckBoxesMode="normal"
                        [selectNodesRecursive]="false"
                        [searchEnabled]="true"
                        searchMode="contains"
                        onItemSelectionChanged="selectionChanged($event)">
            <div *dxTemplate="let data of 'item'">
              {{data.name}}
            </div>
          </dx-tree-view>
        </div>
      </div>
      <div class="col-sm-6">
        <div>
          <div class="selected-data">
            <span>{{"managerDash.GATEGORIES" | tmpTranslate}}</span>
            <dx-list id="checked-categories" [items]="group.subs"  [noDataText]="'managerDash.NO_GATEGORIES_SELECTED' | tmpTranslate">
              <dxi-item *ngFor="let item of group.subs; let $index = index" (click)="removeSub(item, $index)">
                <div class="d-flex align-items-center">
                  <mat-icon>delete</mat-icon>
                  <div>{{item.name}}</div>
                </div>
              </dxi-item>
            </dx-list>
          </div>
          <div class="selected-data mt5">
            <span>{{"managerDash.ITEMS" | tmpTranslate}}</span>
            <dx-list id="checked-categories" [items]="group.items" [noDataText]="'managerDash.NO_ITEMS_SELECTED' | tmpTranslate">
              <dxi-item *ngFor="let item of group.items; let $index = index" (click)="removeItem(item, $index)">
                <div class="d-flex align-items-center">
                  <mat-icon>delete</mat-icon>
                  <div>{{item.name}}</div>
                </div>
              </dxi-item>
            </dx-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="bt">
  <button mat-raised-button (click)="cancel()">{{"managerDash.Cancel" | tmpTranslate}}</button>
  <div class="flex-grow-1"></div>
  <button mat-raised-button color="warn" (click)="remove()">{{"managerDash.Remove" | tmpTranslate}}</button>
  <button mat-raised-button color="primary" (click)="apply()">{{"managerDash.Apply" | tmpTranslate}}</button>
</div>

