<div dir="ltr" style="width: 100%; z-index: 100000" id="daySelector">
    <button id="month" type="button" class="btn btn-lg btn-outline-secondary rounded-0" style="width: 100%" (click)="picker.open()" [ngClass]="getPickerBackground(dayFromDatabase)">
        <mat-icon class="float-left" style="position: relative; top:4px;">calendar_today</mat-icon>
        {{currentValue | date:'fullDate':currentValue.format('ZZ')}}
        <span *ngIf="dayFromDatabase?.holiday" class="font-weight-light" style="font-size: 14px; position: relative; top:2px; display: block; margin: -8px">{{dayFromDatabase?.holiday}}</span>
    </button>
    <input matInput [matDatepicker]="picker" [max]="datePickerMaxDate" (dateChange)="changeDate($event)" type="hidden">
    <mat-datepicker touchUi  #picker [startAt]="currentValue.format()"></mat-datepicker>
</div>