/* #daySelector {
    position: sticky;
    top: 0;
} */

.dx-calendar-navigator a.disable i {
    color: rgba(128, 128, 128, 0.5);
}

.widget {
    padding: 0;
    background-color: transparent;
}

a.dx-calendar-navigator-next-month, a.dx-calendar-navigator-previous-month {
    background-color: #edf1f2;
}