<div class="flex d-col">
    <div class="title">
        <span [translate]="'' + title.translated"></span>
    </div>
    <mat-accordion>
        <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header [ngClass]="getCssColorClass()">
                <mat-panel-title>
               {{summary.actions}} &nbsp; <span [translate]="'' + summary.connect "></span> &nbsp;{{summary.total}}
            </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="dataOptionMode == true" class ="btn-group category-picker" role="group" style="width:100%">
                <button class="btn btn-outline-secondary" style="width:50%" (click)="changeData(getDataOption().PRIMARY)" [ngClass]="{'btnClicked':currentDataOption == getDataOption().PRIMARY}" ><span [translate]="'' + options.opt1"></span></button>
                <button class="btn btn-outline-secondary" style="width:50%" (click)="changeData(getDataOption().ALTERNATIVE)" [ngClass]="{'btnClicked':currentDataOption ==  getDataOption().ALTERNATIVE}"><span [translate]="'' + options.opt2"></span></button>
            </div>
            <table class="table table-sm">
                <tr class="header">
                    <td *ngFor = "let column of columns">
                        <div class="flex a-center">
                            <div><span [translate]="'' + column.translated"></span></div>
                        <!--    <mat-icon class="sortMatIcon" *ngIf="sortBy==='waiter' && sortDir==='desc'">arrow_drop_down</mat-icon>
                            <mat-icon class="sortMatIcon" *ngIf="sortBy==='waiter' && sortDir==='asc'">arrow_drop_up</mat-icon>-->
                        </div>
                    </td>
                </tr>
                <tr
                        *ngFor="let tuple of data"
                        class="dayReportDataRow"
                >
                    <td *ngFor="let column of columns">
                        {{tuple[column.dataKey]}}
                    </td>

                </tr>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
</div>

