<div class="flex d-col">
    <div *ngIf ="summaryOption == true" class="title">
        <span [translate]="'' + title.translated"></span>
    </div>

    <mat-accordion>
        <mat-expansion-panel [expanded]="false" (opened)="selectedOption='primary'">
            <mat-expansion-panel-header [ngStyle]="{'background-color':getCssColorClass()}">
                <mat-panel-title>
                    <span style="font-weight: bold; font-size: 18px !important" *ngIf="summaryOption == true">{{summary.actions | number}}&nbsp;<span [translate]="'' + summary.connect "></span>&nbsp;{{summary.total | curr:'0':'':'nullify'}}</span>
                    <span style="font-weight: bold" *ngIf ="summaryOption == false" [translate]="'' + title.translated"></span>

                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="dataOptionMode==true" class ="btn-group category-picker" role="group" style="width:100%; padding: 5px 12px 5px ">
                <button class="btn btn-outline-secondary" style="width:50%; border-radius: 0 0.25rem 0.25rem 0; margin-left: 4px" (click)="selectedOption = 'primary'" [ngClass]="{'btnClicked':selectedOption == 'primary'}" ><span [translate]="'' + options.primary"></span></button>
                <button class="btn btn-outline-secondary" style="width:50%; border-radius: 0.25rem 0 0 0.25rem;" (click)="selectedOption = 'alt'" [ngClass]="{'btnClicked': selectedOption == 'alt'}"><span [translate]="'' + options.alt"></span></button>
            </div>
            <table class="table table-sm">

               <tr class="header">
                   <td *ngFor="let column of columns[selectedOption]" (click)="sort(column.dataKey)" [style.width]="column.width">
                       <div class="flex a-center">
                           <span [translate]="'' + column.translated"></span>
                           <mat-icon class="sortMatIcon" *ngIf="sortKey=== column.dataKey && sortDir==='desc'">arrow_drop_down</mat-icon>
                           <mat-icon class="sortMatIcon" *ngIf="sortKey=== column.dataKey && sortDir==='asc'">arrow_drop_up</mat-icon>
                       </div>
                   </td>

               </tr>

                <tr *ngFor="let tuple of data[selectedOption]" class="dayReportDataRow" (click)="showReportDialog(tuple)" style="line-height: 30px !important; cursor:pointer;">
                    <td *ngFor="let column of columns[selectedOption]; let i = index">
                        <span *ngIf="i == 0">{{tuple[column.dataKey]}}</span>
                        <span *ngIf="column.dataType === 'currency' && i!=0">{{tuple[column.dataKey] | curr:'0'}}</span>
                        <span *ngIf="column.dataType === 'number' && i!=0">{{tuple[column.dataKey] | number}}<br>{{column.additionalDataKey ? '(' + tuple[column.additionalDataKey] + '% )':''}}</span>
                        <span *ngIf="column.dataType === 'item' && i!=0">{{tuple[column.dataKey]}}</span>
                    </td>
                </tr>
                <mat-dialog-content>
                    <mat-dialog-actions></mat-dialog-actions>
                </mat-dialog-content>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
</div>

