<div class="widget">
    <div class="title">הכנסות</div>
    <div class="flex f-rtl d-col body">
        <div class="table">
            <div class="flex d-row tblRow">
                <div class="flex" style="width:25%"></div>
                <div class="flex" style="width:25%">{{rows.header.morning}}</div>
                <div class="flex" style="width:25%">{{rows.header.afternoon}}</div>
                <div class="flex" style="width:25%">{{rows.header.evening}}</div>
            </div>
            <div class="flex d-row tblRow">
                <div class="flex" style="width:25%">סועדים</div>
                <div class="flex" style="width:25%">{{rows.diners.morning | number : '1.0-0'}}</div>
                <div class="flex" style="width:25%">{{rows.diners.afternoon | number : '1.0-0'}}</div>
                <div class="flex" style="width:25%">{{rows.diners.evening | number : '1.0-0'}}</div>
            </div>
            <div class="flex d-row tblRow">
                <div class="flex" style="width:25%">PPA</div>
                <div class="flex" style="width:25%">{{rows.ppa.morning | number : '1.2-2'}}</div>
                <div class="flex" style="width:25%">{{rows.ppa.afternoon | number : '1.2-2'}}</div>
                <div class="flex" style="width:25%">{{rows.ppa.evening | number : '1.2-2'}}</div>
            </div>
        </div>
    </div>
</div>