<div class="f-rtl">
    <div class="title">הכנסות</div>
    <div class="flex body">
        <table class="fixedWidth" [ngClass]="{'hLarge':hSize==='large', 'hxLarge':hSize==='xlarge'}" *ngIf="show">
            <tr>
                <td></td>
                <td>סה"כ</td>
                <td *ngFor="let shift of byTypeByShiftArr[0].byShift">{{shift.shiftName}}</td>
            </tr>
            <tr *ngFor="let orderType of byTypeByShiftArr" (click)="onRowClick(orderType)">
                <td>{{orderType.orderType}}</td>
                <td>
                    <span>{{orderType.total | number:'1.0-0'}}</span>
                    <span [innerHTML]="currencySymbol"></span>
                </td>
                <td *ngFor="let shift of orderType.byShift">
                    <span>{{shift.sales | number:'1.0-0'}}</span>&nbsp;
                    <span [innerHTML]="currencySymbol"></span>
                </td>
            </tr>
            <tr class="tblTotalRow">
                <td>סה"כ</td>
                <td>
                    <span>{{total | number:'1.0-0'}}</span>
                    <span [innerHTML]="currencySymbol"></span>
                </td>
                <td *ngFor="let sumVal of summary">
                    <span>{{sumVal | number:'1.0-0'}}</span>&nbsp;
                    <span [innerHTML]="currencySymbol"></span>
                </td>
            </tr>
        </table>
    </div>
</div>