<div class="f-rtl">
    <div class="title">הכנסות</div>
    <div class="flex d-col body">
        <div class="table">
            <div class="flex d-row tblRow">
                <div class="flex" style="width:25%"></div>
                <div class="flex d-col" style="width:25%">
                    <i class="mb5 icon-daily-morning"></i>
                    <span>{{rows.header.morning}}</span>
                </div>
                <div class="flex d-col" style="width:25%">
                    <i class="mb5 icon-daily-afternoon"></i>
                    <span>{{rows.header.afternoon}}</span>
                </div>
                <div class="flex d-col" style="width:25%">
                    <i class="mb5 icon-daily-evening"></i>
                    <span>{{rows.header.evening}}</span>
                </div>
            </div>
            <div class="flex d-row tblRow" *ngIf="rows.seated.morning || rows.seated.afternoon || rows.seated.evening">
                <div class="flex" style="width:25%">בישיבה</div>
                <div class="flex" style="width:25%">{{rows.seated.morning | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
                <div class="flex" style="width:25%">{{rows.seated.afternoon | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
                <div class="flex" style="width:25%">{{rows.seated.evening | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
            </div>
            <div class="flex d-row tblRow" *ngIf="rows.counter.morning || rows.counter.afternoon || rows.counter.evening">
                <div class="flex" style="width:25%">דלפק</div>
                <div class="flex" style="width:25%">{{rows.counter.morning | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
                <div class="flex" style="width:25%">{{rows.counter.afternoon | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
                <div class="flex" style="width:25%">{{rows.counter.evening | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
            </div>
            <div class="flex d-row tblRow" *ngIf="rows.ta.morning || rows.ta.afternoon || rows.ta.evening">
                <div class="flex" style="width:25%">לקחת</div>
                <div class="flex" style="width:25%">{{rows.ta.morning | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
                <div class="flex" style="width:25%">{{rows.ta.afternoon | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
                <div class="flex" style="width:25%">{{rows.ta.evening | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
            </div>
            <div class="flex d-row tblRow" *ngIf="rows.delivery.morning || rows.delivery.afternoon || rows.delivery.evening">
                <div class="flex" style="width:25%">משלוח</div>
                <div class="flex" style="width:25%">{{rows.delivery.morning | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
                <div class="flex" style="width:25%">{{rows.delivery.afternoon | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
                <div class="flex" style="width:25%">{{rows.delivery.evening | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
            </div>
            <div class="flex d-row tblRow" *ngIf="rows.other.morning || rows.other.afternoon || rows.other.evening">
                <div class="flex" style="width:25%">אחר</div>
                <div class="flex" style="width:25%">{{rows.other.morning | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
                <div class="flex" style="width:25%">{{rows.other.afternoon | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
                <div class="flex" style="width:25%">{{rows.other.evening | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
            </div>
            <div class="flex d-row tblRow" *ngIf="rows.returns.morning || rows.returns.afternoon || rows.returns.evening">
                <div class="flex" style="width:25%">החזר</div>
                <div class="flex" style="width:25%">{{rows.returns.morning | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
                <div class="flex" style="width:25%">{{rows.returns.afternoon | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
                <div class="flex" style="width:25%">{{rows.returns.evening | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
            </div>
            <div class="flex d-row tblRow tblTotalRow">
                <div class="flex" style="width:25%">סה"כ</div>
                <div class="flex" style="width:25%">{{rows.summary.morning | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
                <div class="flex" style="width:25%">{{rows.summary.afternoon | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
                <div class="flex" style="width:25%">{{rows.summary.evening | number:'1.0-0'}}&nbsp;<div class="flex" [innerHTML]="currencySymbol"></div></div>
            </div>
        </div>
    </div>
</div>