<div class="f-rtl">
    <div class="title">הכנסות</div>
    <div class="flex d-col body">
        <div class="table">
            <div class="flex d-row tblRow">
                <div class="flex" style="width:25%"></div>
                <div class="flex d-col" style="width:25%">
                    <i class="mb5 icon-daily-morning"></i>
                    <span>{{rows.header.morning}}</span>
                </div>
                <div class="flex d-col" style="width:25%">
                    <i class="mb5 icon-daily-afternoon"></i>
                    <span>{{rows.header.afternoon}}</span>
                </div>
                <div class="flex d-col" style="width:25%">
                    <i class="mb5 icon-daily-evening"></i>
                    <span>{{rows.header.evening}}</span>
                </div>
            </div>
            <div class="flex d-row tblRow">
                <div class="flex" style="width:25%">בישיבה</div>
                <div class="flex" style="width:25%">{{rows.seated.morning | currency:'ILS':'symbol':'1.0-0'}}</div>
                <div class="flex" style="width:25%">{{rows.seated.afternoon | currency:'ILS':'symbol':'1.0-0'}}</div>
                <div class="flex" style="width:25%">{{rows.seated.evening | currency:'ILS':'symbol':'1.0-0'}}</div>
            </div>
            <div class="flex d-row tblRow">
                <div class="flex" style="width:25%">דלפק</div>
                <div class="flex" style="width:25%">{{rows.counter.morning | currency:'ILS':'symbol':'1.0-0'}}</div>
                <div class="flex" style="width:25%">{{rows.counter.afternoon | currency:'ILS':'symbol':'1.0-0'}}</div>
                <div class="flex" style="width:25%">{{rows.counter.evening | currency:'ILS':'symbol':'1.0-0'}}</div>
            </div>
            <div class="flex d-row tblRow">
                <div class="flex" style="width:25%">TA</div>
                <div class="flex" style="width:25%">{{rows.ta.morning | currency:'ILS':'symbol':'1.0-0'}}</div>
                <div class="flex" style="width:25%">{{rows.ta.afternoon | currency:'ILS':'symbol':'1.0-0'}}</div>
                <div class="flex" style="width:25%">{{rows.ta.evening | currency:'ILS':'symbol':'1.0-0'}}</div>
            </div>
            <div class="flex d-row tblRow">
                <div class="flex" style="width:25%">משלוחים</div>
                <div class="flex" style="width:25%">{{rows.delivery.morning | currency:'ILS':'symbol':'1.0-0'}}</div>
                <div class="flex" style="width:25%">{{rows.delivery.afternoon | currency:'ILS':'symbol':'1.0-0'}}</div>
                <div class="flex" style="width:25%">{{rows.delivery.evening | currency:'ILS':'symbol':'1.0-0'}}</div>
            </div>
            <div class="flex d-row tblRow">
                <div class="flex" style="width:25%">אחר</div>
                <div class="flex" style="width:25%">{{rows.other.morning | currency:'ILS':'symbol':'1.0-0'}}</div>
                <div class="flex" style="width:25%">{{rows.other.afternoon | currency:'ILS':'symbol':'1.0-0'}}</div>
                <div class="flex" style="width:25%">{{rows.other.evening | currency:'ILS':'symbol':'1.0-0'}}</div>
            </div>
            <div class="flex d-row tblRow tblTotalRow">
                <div class="flex" style="width:25%">סה"כ</div>
                <div class="flex" style="width:25%">{{rows.summary.morning | currency:'ILS':'symbol':'1.0-0'}}</div>
                <div class="flex" style="width:25%">{{rows.summary.afternoon | currency:'ILS':'symbol':'1.0-0'}}</div>
                <div class="flex" style="width:25%">{{rows.summary.evening | currency:'ILS':'symbol':'1.0-0'}}</div>
            </div>
        </div>
    </div>
</div>