mat-card {
    cursor: pointer;
    margin-bottom: 20px;

    padding: 10px 10px;
    height: 100px;
    overflow: hidden;
    // max-height: 100px;
    // min-height: 100px;
    mat-card-content {
        font-size: 18px;
        word-wrap: break-word;
    }

    &.selected {
        background-color: #3A5675;
        color: white;
    }
}