<div class="f-rtl flex d-col login">
  <div *ngIf="orgs && orgs.length>9" class="flex" style="padding:15px 15px 0 15px;">
    <mat-form-field style="width:100%;">
      <input
        matInput
        placeholder="Filter"
        i18n-placeholder="@@filter"
        (keyup)='keyUp.next($event.target.value)'
        >
    </mat-form-field>
  </div>
  <div class="flex f-wrap" style="margin-top: 15px;">
    <mat-card (click)="selectOrg(org)" [ngClass]="{'selected': org===selectedOrg}" *ngFor="let org of orgsFiltered">
      <mat-card-content>{{org.name}}</mat-card-content>
    </mat-card>
    <div *ngIf="orgsFiltered?.length===0" i18n="@@noOrgs">Your user is not authorized to any Restaurants. Please contact support.</div>
  </div>
</div>