@import '../../tabit/styles/config/frame';

.orgsFilter {
    // padding: 15px 15px 0 15px;
    mat-form-field {
        width:100%;
    }
}

.orgsCards {
    overflow: auto;
    // -webkit-overflow-scrolling: touch;

    $cardSize: 29vmin;
    $cardsPerRow: 3;
    // $cardMargin: (100 - (2 * $contentPadding) - ($cardSize * $cardsPerRow)) / ($cardsPerRow * 2);
    mat-card {
        cursor: pointer;
        padding: 2vmin;
        width: $cardSize;
        height: $cardSize;
        // margin: 0 $cardMargin ($cardMargin * 2) $cardMargin;
        margin-bottom: 10px;
        overflow: hidden;
        mat-card-content {
            font-size: 5vmin;
            word-wrap: break-word;
        }

        &.selected {
            background-color: #3A5675;
            color: white;
        }
    }
}