<div class="MediaExchange flex d-col j-center a-center">

    <div *ngIf="mediaExchangeData.P_NAME" class="flex bold-txt">
        <span>{{mediaExchangeData.P_NAME}}</span>
    </div>
    <div *ngIf="mediaExchangeData.CARD_NUMBER" class="flex bold-txt">
        <span i18n="@@cardNo">Card No.</span>&nbsp;
        <span>{{mediaExchangeData.CARD_NUMBER }}</span>
    </div>
    <div *ngIf="mediaExchangeData.P_AMOUNT" class="flex bold-txt">
        <span i18n="@@amount">Amount</span>:&nbsp;
        <span>{{mediaExchangeData.P_AMOUNT | number:'1.2-2'}}</span>
    </div>
    <div *ngIf="mediaExchangeData.BALANCE_AMOUNT" class="flex bold-txt">
        <span i18n="@@balanceAmount">Balance</span>:&nbsp;
        <span>{{mediaExchangeData.BALANCE_AMOUNT | number:'1.2-2'}}</span>
    </div>
    <div *ngIf="mediaExchangeData.PRINT_MESSAGE" class="flex center-txt">
        <div [innerHTML]="mediaExchangeData.PRINT_MESSAGE"></div>
    </div>

</div>