<div class="ticket-box d-col">

    <small i18n="slips|הוחזר בהמחאה@@returnedInCheque">Returned in cheque</small>
    <!-- <h4>{{'RETURNED_CHEQUE' | translate}}</h4> -->

    <div class="flex j-sb">
        <!-- <span>{{'BUSINESS_MEAL' | translate}}</span> -->
        <span i18n="slips|ארוחה עסקית@@businessMeal">Business Meal></span>
        <span>{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>

    <div class="flex j-sb">
        <!-- <span>{{'BEFORE_VAT' | translate}}</span> -->
        <span i18n="slips|סהכ לפני מעמ@@beforeVAT">Before VAT</span>
        <span>{{((data.amount/100)-(data.tax?.amount/100)) | number:'1.2-2'}}</span>
    </div>

    <div class="flex j-sb">
        <!-- <span>{{'VAT' | translate}}</span> -->
        <span i18n="slips|מעמ@@vat">VAT</span>
        <span>{{(data.tax?.amount/100) | number:'1.2-2'}}</span>
    </div>

    <div class="flex j-sb">
        <!-- <span>{{'INCLUDE_VAT' | translate}}</span> -->
        <span i18n="slips|כולל מעמ@@includeVAT">Include VAT</span>
        <span>{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>

</div>





