<div class="ticket-box d-col">

    <app-order-invoice-vat [printData]="invoice"></app-order-invoice-vat>

    <hr />

    <!-- RETURNED IN CHEQUE -->
    <div class="row">
        <div class="col-8">
            <span i18n="slips@@ReturnedInCheque">Returned in cheque</span>
        </div>
        <div class="col-3">
            <span *ngIf="data.cashback">{{(data.amount/100)-(data.cashback/100) | number:2}}</span>
            <span *ngIf="!data.cashback">{{(data.amount/100) | number:2}}</span>
        </div>
    </div>

    <!-- CHANGE -->
    <div class="row">
        <div class="col-8">
            <span i18n="slips@@Change">Change</span>
        </div>
        <div class="col-3">
            <span>{{(data.cashback/100) | number:2}}</span>
        </div>
    </div>

</div>