$stickyDayHeight: 30px;

.widget {
    z-index: 1;
}

app-day-selector {
    &.daySelectorFixed {
        position:fixed!important;
        top:0!important;
        left: 0!important;
        right: 0!important;
        height:50px!important;
        z-index: 10000!important;
        background-color: yellowgreen!important;
        display:block!important;
    }
}

// app-day-selector {
//     display:block!important;
//     position:sticky!important;
//     // position:fixed!important;
//     top:0!important;
//     left: 0!important;
//     right: 0!important;
//     height:50px!important;
//     z-index: 10000!important;
//     background-color: yellowgreen!important;
// }

// .app-day-selector {
//     // display:block!important;
//     position:sticky;

//     // position: -webkit-sticky;
//     // position:fixed!important;
//     top:0!important;
//     // left: 0!important;
//     // right: 0!important;
//     height:50px!important;
//     z-index: 10000!important;
//     background-color: yellowgreen!important;
// }

.stickyDay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    height: $stickyDayHeight;
    z-index: 100;
}

.stickyDayVisible {
    height: $stickyDayHeight;
}

.drill {
    position:fixed;
    bottom:0;
    right:0;
    left:0;
    max-width: 990px;
    margin: 0 auto;
    height:100%;
    background-color: #edf1f2;
    overflow-y:auto;overflow-x:hidden;
    .header {
            background-color: #414e5f;
            color: #d4d7dc;
            font-size: 18px;
            height: 65px;
            padding: 0 15px;
    }
    .body {
        // padding: 15px;
    }
}

/deep/table {
    font-size: 14px;
}

/deep/.widget {
    padding: 0;
    .title {

    }
    .body {
        padding: 0px;
        & > table {
            tr {
                td {
                    padding: 8px 3px;
                    &:first-child {
                        padding-right: 12px;//TODO localize
                    }
                    &:last-child {
                        padding-left: 12px;//TODO localize
                    }
                }
                &.header {
                    font-weight: bold;
                    background-color: #eaecee;
                }
            }
        }
    }
}