<div class="row">
  <div class="col-md-12">        
    
    <app-day-selector 
      *ngIf="daySelectorOptions"
      class="widget noPadding" 
      #daySelector 
      [currentValue]="day" 
      [options]="daySelectorOptions"
      (onDateChanged)="onDateChanged($event)"
    ></app-day-selector>
    
    <app-day-pie-chart class="widget blueAccent" #dayPieChart></app-day-pie-chart>

    <app-day-orders-table class="widget" style="padding-bottom: 0px;" *ngIf="orders" [lastViewed]="drilledOrder" [orders]="orders"
      (onOrderClicked)="onOrderClicked($event)"></app-day-orders-table>

    <app-day-sales-table 
      class="widget"
      title="Day Summary"
      i18n-title="@@daySummary"
      [totalSales]="KPIs?.totalSales"
      [byOrderType]="KPIs?.byOrderType">
    </app-day-sales-table>

    <div *ngIf="KPIs">
      <app-day-sales-table       
        *ngFor="let key of getKeys(KPIs.byShiftByOrderType)"
        class="widget" 
        [title]="key.name" 
        [totalSales]="KPIs.byShiftByOrderType.get(key).totalSales" 
        [byOrderType]="KPIs.byShiftByOrderType.get(key).byOrderType">
      </app-day-sales-table>
    </div>

    <app-day-sales-by-sub-department-table
      class="widget"
      [salesBySubDepartment]="salesBySubDepartment"
    ></app-day-sales-by-sub-department-table>

    <app-most-sold-items-table
       class="widget" 
       [itemsData]="itemsData"
    ></app-most-sold-items-table>

    <app-most-returned-items-table
      class="widget"
      [itemsData]="itemsData"
    ></app-most-returned-items-table>

    <app-payments-table
      class="widget"
      [bd]="day"
      [paymentsData]="paymentsData"
    ></app-payments-table>

    <!-- <app-day-sales-type-table 
      class="widget" 
      #daySalesTypeTable
      (onRowClicked)="onGoToOrders($event, 'orderType')"
      >
    </app-day-sales-type-table>

    <app-day-diners-table 
      class="widget" 
      *ngIf="dinersTable.show"
      [data$]="dinersTableData$"
      ></app-day-diners-table> -->

    <!-- <app-day-shifts class="widget greyAccent" #dayShifts></app-day-shifts>       -->

  </div>
</div>



<div class="flex d-col drill" *ngIf="drill">
  <div class="flex s-0 j-sb a-center header">
    <div class="flex j-start" style="width:80%;">
      <div style="color:white">{{drillTlogTime | date:'d/M/yy H:mm'}}</div>
    </div>
    <div class="flex j-end" style="width:20%;">
      <button mat-icon-button (click)="closeDrill()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
  </div>
  <div class="flex g-1 body">    
    <app-order-view style="width:100%;" [tlogId]="drillTlogId"></app-order-view>
  </div>
</div>
