@import '../../../tabit/styles/config/frame';
@import '../../../tabit/styles/config/colors';


// :host {
//     position: relative;//for the drill that is absolute positioned
//     display: block;
//     height: 100%;
// }
$matAccordionHeaderColor: #C5CCD4;

::ng-deep.dayReportDataRow {
  line-height: 14px;
}

::ng-deep.mat-expansion-panel {
  border-radius: 0px !important;

  .mat-expansion-panel-header {
    font-family: inherit!important;
    font-size: 18px!important;
    font-weight: bold!important;
    padding: 0 12px!important;
  }

  .mat-expansion-panel-header-description {
    color: $fontColor!important;
  }
}

::ng-deep.mat-expansion-panel-body {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.widget {
  z-index: 1;
}

.dayView {
  padding-top: $secondaryToolbarHeight;
  app-day-selector {
    &.daySelectorFixed {
      position: fixed;
      top: $toolbarHeight;
      @media #{$iphone-X-portrait-mq} {
        top: $iphone-X-notch-px + $toolbarHeight;
      }
      @media #{$iphone-6-7-8-portrait-mq} {
        top: $iphone-6-7-8-status-bar-px + $toolbarHeight;
      }
      @media #{$iphone-6-7-8-plus-portrait-mq} {
        top: $iphone-6-7-8-plus-status-bar-px + $toolbarHeight;
      }
      @media #{$ipad-portrait-mq} {
        top: $ipad-status-bar-px + $toolbarHeight;
      }
      left: 0;
      right: 0;
      height: $secondaryToolbarHeight;
      z-index: 10000;
      display: block;
    }
  }
}

.anchor {
  top: -120px;
  @media #{$iphone-X-portrait-mq} {
    top: -1 * ($iphone-X-notch-px + 120px);
  }
  @media #{$iphone-6-7-8-portrait-mq} {
    top: -1 * ($iphone-6-7-8-status-bar-px + 120px);
  }
  @media #{$iphone-6-7-8-plus-portrait-mq} {
    top: -1 * ($iphone-6-7-8-plus-status-bar-px + 120px);
  }
  @media #{$ipad-portrait-mq} {
    top: -1 * ($ipad-status-bar-px + 120px);
  }
}

.drill {
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: $toolbarHeight;
  @media #{$iphone-X-portrait-mq} {
    padding-top: $iphone-X-notch-px + $toolbarHeight;
  }
  @media #{$iphone-6-7-8-portrait-mq} {
    padding-top: $iphone-6-7-8-status-bar-px + $toolbarHeight;
  }
  @media #{$iphone-6-7-8-plus-portrait-mq} {
    padding-top: $iphone-6-7-8-plus-status-bar-px + $toolbarHeight;
  }
  @media #{$ipad-portrait-mq} {
    padding-top: $ipad-status-bar-px + $toolbarHeight;
  }
  background-color: #edf1f2;
  overflow: hidden;
  // -webkit-overflow-scrolling: touch;This caused bad behaviour with the fixed order-view - on ios user was able to scroll to see the view beneath. removing this solved the problem, and momentum scrolling is still working on ios.
}

.widget {
  padding: 0;
}

/deep/ .widget {
  .body {
    padding: 0px;
  }
}

@keyframes blink {
  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: .2;
  }
  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: 1;
  }
  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: .2;
  }
}

.saving span {
  /**
   * Use the blink animation, which is defined above
   */
  animation-name: blink;
  /**
   * The animation should take 1.4 seconds
   */
  animation-duration: 1.4s;
  /**
   * It will repeat itself forever
   */
  animation-iteration-count: infinite;
  /**
   * This makes sure that the starting style (opacity: .2)
   * of the animation is applied before the animation starts.
   * Otherwise we would see a short flash or would have
   * to set the default styling of the dots to the same
   * as the animation. Same applies for the ending styles.
   */
  animation-fill-mode: both;
}

.saving span:nth-child(2) {
  /**
   * Starts the animation of the third dot
   * with a delay of .2s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .2s;
}

.saving span:nth-child(3) {
  /**
   * Starts the animation of the third dot
   * with a delay of .4s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .4s;
}