<div class="container px-0">
    <div class="flex d-col dayView">
        <app-day-selector
                class="widget noPadding daySelectorFixed"
                [currentValue]="day"
                [dayFromDatabase]="dayFromDatabase"
                [percentageChange]="cardData?.averages?.weekly?.change"
                [options]="daySelectorOptions"
                (onDateChanged)="onDateChanged($event)">
        </app-day-selector>

        <div [hidden]="hasData">
            <div class="card">
                <div class="card-body bg-white">
                    <div *ngIf="hasNoDataForToday">
                        <div>
                            <div class="text-center" [translate]="'day.noDataAvailableForToday'">No data available for
                                today
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!hasNoDataForToday">
                        <div class="text-center">
                            <dx-load-indicator></dx-load-indicator>
                            <p class="text-center saving"><span
                                    [translate]="'fetching'">Fetching</span><span>.</span><span>.</span><span>.</span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div [hidden]="!hasData">

            <div class="col-12 px-0 mb-2" *ngIf="cardData?.sales">
                <app-card [cardData]="cardData"></app-card>
            </div>

            <div class="widget" *ngIf="display.laborCost && laborCost">
                <div class="flex d-col">
                    <div class="title"><span [translate]="'laborCost'">Labor Cost</span></div>
                    <div class="flex d-col body">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="justify-content-between">
                                        <span class="labor-header">Day</span>
                                        <span class="labor-cost">{{laborCost.today.cost | curr:'2'}}</span><span class="labor-percentage">{{getPercentage(laborCost.today.cost, laborCost.sales.today) | pct:'1'}}<div class="small">({{laborCost.sales.today | curr:'0'}})</div></span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-accordion [multi]="true">
                                    <ng-container *ngFor="let assignment of laborCost.today.byAssignments">
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title class="justify-content-between small font-weight-normal">
                                                    <span class="labor-header">{{assignment.name || 'NA'}}</span>
                                                    <span class="labor-cost">{{assignment.cost | curr:'2'}}</span><span class="labor-percentage">{{getPercentage(assignment.cost, laborCost.sales.today) | pct:'1'}}</span>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>

                                            <table class="chf-tbl chf-tbl-row-oriented chf-tbl-smaller dayReportDataRow">
                                                <tr class="header">
                                                    <td>Name</td>
                                                    <td class="align-end">Cost</td>
                                                    <td class="align-end">Percentage</td>
                                                </tr>
                                                <ng-container *ngFor="let user of assignment.users">
                                                    <tr>
                                                        <td>{{user.name}}</td>
                                                        <td class="align-end">{{user.cost | curr:'2'}}</td>
                                                        <td class="align-end">{{getPercentage(user.cost, laborCost.sales.today) | pct:'1'}}</td>
                                                    </tr>
                                                </ng-container>
                                            </table>
                                        </mat-expansion-panel>
                                    </ng-container>
                                </mat-accordion>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="justify-content-between">
                                        <span class="labor-header">Week</span>
                                        <span class="labor-cost">{{laborCost.week.cost | curr:'2'}}</span><span class="labor-percentage">{{getPercentage(laborCost.week.cost, laborCost.sales.week) | pct:'1'}}<div class="small">({{laborCost.sales.week | curr:'0'}})</div></span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-accordion [multi]="true">
                                    <ng-container *ngFor="let assignment of laborCost.week.byAssignments">
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title class="justify-content-between small font-weight-normal">
                                                    <span class="labor-header">{{assignment.name || 'NA'}}</span>
                                                    <span class="labor-cost">{{assignment.cost | curr:'2'}}</span><span class="labor-percentage">{{getPercentage(assignment.cost, laborCost.sales.week) | pct:'1'}}</span>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>

                                            <table class="chf-tbl chf-tbl-row-oriented chf-tbl-smaller dayReportDataRow">
                                                <tr class="header">
                                                    <td>Name</td>
                                                    <td class="align-end">Cost</td>
                                                    <td class="align-end">Percentage</td>
                                                </tr>
                                                <ng-container *ngFor="let user of assignment.users">
                                                    <tr>
                                                        <td>{{user.name}}</td>
                                                        <td class="align-end">{{user.cost | curr:'2'}}</td>
                                                        <td class="align-end">{{getPercentage(user.cost, laborCost.sales.week) | pct:'1'}}</td>
                                                    </tr>
                                                </ng-container>
                                            </table>
                                        </mat-expansion-panel>
                                    </ng-container>
                                </mat-accordion>
                            </mat-expansion-panel>


                        </mat-accordion>
                    </div>
                </div>
            </div>

            <app-day-orders-table
                    class="widget"
                    style="padding-bottom: 0px;"
                    [lastViewed]="drilledOrder"
                    [orders]="orders"
                    [bdIsCurrentBd]="bdIsCurrentBd"
                    [todayOpenOrders]="openOrders"
                    [inProcessSalesAmount]="inProcessSalesAmount"
                    (onOrderClicked)="onOrderClicked($event)"
                    (onOpenOrderClicked)="onOpenOrderClicked($event)"
            ></app-day-orders-table>

            <div class="widget">
                <div class="flex d-col">
                    <div class="title"><span [translate]="'day.sales3'">Sales</span>&nbsp;<span
                            *ngIf="day.isSame(today, 'day')" [translate]="'day.closedOrders'">(closed orders)</span>
                    </div>
                    <div class="flex d-col body">
                        <mat-accordion [multi]="true">
                            <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span [translate]="'day.salesByHour'">Sales by hour</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <app-day-hourly-sales
                                        [data]="salesByHour">
                                </app-day-hourly-sales>
                            </mat-expansion-panel>
                            <mat-expansion-panel expanded="true" *ngIf="dailySummaryTblData">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span *ngIf="day.isSame(today, 'day')" [translate]="'day.closedSummary'">Closed orders summary</span>
                                        <span *ngIf="!day.isSame(today, 'day')" [translate]="'day.daily'">Daily</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <app-day-sales-table
                                        [data]="dailySummaryTblData?.data"
                                        [globalSalesIncludingVat]="dailySummaryTblData?.globalSalesIncludingVat">
                                </app-day-sales-table>
                            </mat-expansion-panel>
                            <ng-container *ngFor="let tblData of byShiftSummaryTblsData">
                                <mat-expansion-panel expanded="true" *ngIf="tblData && tblData.data.length">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <ng-container>{{tblData?.title}}</ng-container>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <app-day-sales-table
                                            [title]="tblData?.title"
                                            [data]="tblData?.data"
                                            [globalSalesIncludingVat]="tblData?.globalSalesIncludingVat">
                                    </app-day-sales-table>
                                </mat-expansion-panel>
                            </ng-container>
                        </mat-accordion>
                    </div>
                </div>
            </div>

            <app-payments-table
                    class="widget"
                    [bd]="day"
                    [paymentsData]="paymentsData"
            ></app-payments-table>

            <div id="cancellations" style="position: relative;" class="anchor"></div>
            <app-cancellations-table *ngIf="cancellationsData && cancellationsData.length"
                                     class="widget"
                                     [cancellationsData]="cancellationsData"
                                     [lastViewed]="drilledOrderNumber"
                                     (onOrderClicked)="onOrderClicked_orderNumber($event)"
                                     [category]="category"
                                     [dayFromDatabase]="dayFromDatabase"
            ></app-cancellations-table>

            <div id="operational" style="position: relative;" class="anchor"></div>
            <app-operational-errors-table *ngIf="operationalErrorsData && operationalErrorsData.length"
                                          class="widget"
                                          [operationalErrorsData]="operationalErrorsData"
                                          [lastViewed]="drilledOrderNumber"
                                          (onOrderClicked)="onOrderClicked_orderNumber($event)"
                                          [category]="category"
                                          [dayFromDatabase]="dayFromDatabase"
            ></app-operational-errors-table>

            <div id="retention" style="position: relative;" class="anchor"></div>
            <app-retention-table *ngIf="retentionData && retentionData.length"
                                 class="widget"
                                 [retentionData]="retentionData"
                                 [lastViewed]="drilledOrderNumber"
                                 (onOrderClicked)="onOrderClicked_orderNumber($event)"
                                 [category]="category"
                                 [dayFromDatabase]="dayFromDatabase"
            ></app-retention-table>

            <div id="employee" style="position: relative;" class="anchor"></div>
            <app-organizational-table *ngIf="organizationalData && organizationalData.length"
                                 class="widget"
                                 [organizationalData]="organizationalData"
                                 [lastViewed]="drilledOrderNumber"
                                 (onOrderClicked)="onOrderClicked_orderNumber($event)"
                                 [category]="category"
                                 [dayFromDatabase]="dayFromDatabase"
            ></app-organizational-table>

            <app-waste-table *ngIf="wasteData && wasteData.length"
                             class="widget"
                             [wasteData]="wasteData"
                             [lastViewed]="drilledOrderNumber"
                             (onOrderClicked)="onOrderClicked_orderNumber($event)"
                             [category]="category"
                             [dayFromDatabase]="dayFromDatabase"
            ></app-waste-table>

            <app-day-refund *ngIf="!dailyReportsInProgress && refunds.isShowing === true"  (onOrderClicked)="onOrderClicked($event)" [data] = "refunds.data" class="widget" style="padding:0"></app-day-refund>

            <app-day-sales-by-sub-department-table
                    class="widget"
                    [bd]="day"
                    [salesBySubDepartment]="salesBySubDepartment"
            ></app-day-sales-by-sub-department-table>

            <!--Most sold items -->

            <div class="widget">
                <div class="flex d-col">
                    <div class="title" [translate]="'day.mostSoldItems'">Top Selling Items by Category</div>
                    <div class="flex d-col body">
                        <mat-accordion>
                            <mat-expansion-panel expanded="false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span [translate]="'day.allDay'">All day</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <app-most-sold-items-table
                                        class="widget"
                                        [itemsData]="mostSoldItems"
                                ></app-most-sold-items-table>
                            </mat-expansion-panel>
                            <ng-container *ngFor="let tblData of mostSoldItemsByShift">
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <ng-container>{{tblData.title}}</ng-container>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <app-most-sold-items-table
                                            class="widget"
                                            [itemsData]="tblData.mostSoldItems"
                                    ></app-most-sold-items-table>
                                </mat-expansion-panel>
                            </ng-container>
                        </mat-accordion>
                    </div>
                </div>
            </div>

            <app-most-returned-items-table
                    class="widget"
                    [itemsData]="mostReturnedItems"
            ></app-most-returned-items-table>

            <app-month-summary-table *ngIf="mtdBusinessData && mtdBusinessData.totals"
                                     class="widget"
                                     [month]="day"
                                     [mtdBusinessData]="mtdBusinessData"
            ></app-month-summary-table>
        </div>
    </div>
    <div class="card text-center" *ngIf="user.isStaff && hasData">
        EOD: {{metaData?.isEod == '1' ? 'Yes' : 'No'}} |
        Balanced: {{metaData?.isBalanced == '1' ? 'Yes' : 'No'}}
    </div>
</div>
<div class="container" *ngIf="drill">
    <div class="flex d-col drill">
        <app-order-view style="width:100%;" [orderNumber]="drilledOrderNumber" [order]="drilledOrder" [openOrder]="drilledOpenOrder" [drillType]="drillType"></app-order-view>
    </div>
</div>

