<div class="ticket-box d-col">
    
    <div class="flex j-sb">
        <!-- <span>{{'BUSINESS_MEAL' | translate}}</span> -->
        <span i18n="slips|ארוחה עסקית@@businessMeal">Business Meal></span>
        <span>{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>

    <div class="flex j-sb">
        <!-- <span>{{'BEFORE_VAT' | translate}}</span> -->
        <span i18n="slips|סהכ לפני מעמ@@beforeVAT">Before VAT</span>
        <!-- <span>{{((data.amount/100)-($ctrl.selectedInvoice.tax.amount/100)) | number:'1.2-2'}}</span> -->
        <span>{{data.amount/100 | number:'1.2-2'}}</span>

    </div>

    <div class="flex j-sb">
        <!-- <span>{{'VAT' | translate}}</span> -->
        <span i18n="slips|מעמ@@vat">VAT</span>
        <span>{{(data.tax?.amount/100) | number:'1.2-2'}}</span>
    </div>

    <div class="flex j-sb">
        <!-- <span>{{'INCLUDE_VAT' | translate}}</span> -->
        <span i18n="slips|כולל מעמ@@includeVAT">Include VAT</span>
        <span>{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>

    <hr />

    <div class="flex d-col a-center">
        <!-- <small>{{'RETURND_IN_CHARCHACCOUNT_FROM' | translate}}</small> -->
        <small i18n="slips|הוחזר בהקפה מ@@returnedInChargeAccountFrom">Returned in charge account from</small>
        <h4>{{data.payments[0]?.accountName}}</h4>
    </div>

    <div class="flex j-sb" *ngIf="data.companyName.length>0">
        <!-- <span>{{'COMPANY_NAME' | translate}}</span> -->
        <span i18n="slips|שם חברה@@companyName">Company name</span>
        <span>{{data.companyName}}</span>
    </div>

    <div class="flex j-sb" *ngIf="data.cardNum.length>0">
        <!-- <span>{{'CARD_NO' | translate}}</span> -->
        <span i18n="slips|מספר כרטיס@@cardNumber">Card number</span>
        <span>{{data.cardNum}}</span>
    </div>

    <div class="flex j-sb" *ngIf="data.providerTransactionId.length>0">
        <!-- <span>{{'TRANSACTION_NO' | translate}}</span> -->
        <span class="text-upper" i18n="slips|מספר עסקה@@transactionNumber">Transaction no.</span>
        <span>{{data.providerTransactionId}}</span>
    </div>
    
    <div class="flex j-sb" *ngIf="data.confirmationNum.length>0">
        <!-- <span>{{'APPROVAL_NO' | translate}}</span> -->
        <span class="text-upper" i18n="slips|מספר אישור@@approvalNumber">Approval no.</span>
        <span>{{data.confirmationNum}}</span>
    </div>

</div>





