/deep/.sortMatIcon {
    width: 18px!important;
}

/deep/.mat-calendar-header {
    direction: rtl;
}

.header-organization-name {
  font-size: 4vw;
}

@media screen and (min-width: 500px) {
  .header-organization-name {
    font-size: 22px;
  }
}