$oldDashBG: #edf1f2;

.sidenav {
    height: 100%;
    width: 300px;
    background-color: #d4d9dd;
    .user {
        padding: 15px;
        background-color: #414e5f;
        color: white;
    }
    .buttons {
        padding: 20px;
        mat-slide-toggle {
            margin-bottom: 20px;
        }
        button {
            font-size: 17px;
            cursor: pointer;
            margin-bottom: 10px;
            height: 60px;
        }
    }
}

mat-sidenav-content {
    background-color: $oldDashBG;
    .header {
        // background-color: #363636;
        // color: rgb(157, 157, 157);
        background-color: #414e5f;
        color:#d4d7dc;
        font-size: 18px;
        height: 65px;
        padding: 0 15px;
    }
    .body {
        padding: 15px;
    }
}