<mat-sidenav-container style="height:100%;">

  <mat-sidenav #sidenav mode="over">
    <div class="flex f-rtl d-col sidenav">
      <div class="flex d-col user">
        <button mat-fab disabled style="background-color:white;color: black;font-weight:bold;">{{userInitials}}</button>
        <div class="mt10 mb10">{{user?.firstName}} {{user?.lastName}}</div>
        <div>{{org?.name}}</div>
      </div>
      <div class="flex d-col buttons">
        <mat-slide-toggle class="" color="primary" [checked]="vat" [disabled]="false" (change)="vatChange($event)" i18n="owners-dashboard|maam@@vat">VAT</mat-slide-toggle>
        <button mat-raised-button [routerLink]="['/restaurants']" [queryParams]="{ m: 's'}">
          <span i18n="owners-dashboard|המסעדות שלי@@mySites">My Sites</span>
        </button>
        <button mat-raised-button (click)="logout()">
          <span i18n="owners-dashboard|התנתק@@logout">Logout</span>
        </button>    
      </div>
    </div>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <div class="flex f-rtl j-sb a-center header">
      <div class="flex j-start" style="width:20%;">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      </div>      
      <div class="flex d-col aj-center" style="width:80%;">
        <div style="color:white">{{org?.name}}</div>
        <div *ngIf="!vat" style="color:white;font-size:12px;">(<span i18n="owners-dashboard|הנתונים ללא מעמ@@excludingVAT">Data excluding VAT</span>)</div>
      </div>
      <div class="flex j-end" style="width:20%;">
        <!-- <pre>{{router.routerState}}</pre> -->
        <button mat-icon-button *ngIf="router.url != '/owners-dashboard/home'" routerLink="/owners-dashboard/home">
        <!-- <button mat-icon-button *ngIf="router.url != '/owners-dashboard/home'" (click)="goBack()">         -->
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>
    </div>
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>