<mat-sidenav-container (swiperight)="env.lang === 'he' ? sidenav.close() : sidenav.open()">

    <mat-sidenav class="flex d-col" #sidenav mode="over"
                 (swiperight)="env.lang === 'he' ? sidenav.close() : sidenav.open()">
        <div class="s-0 flex d-col header">
            <button mat-fab disabled style="background-color:white;color: black;font-weight:bold;">
                {{this.sideNavConfig.header.userInitials}}
            </button>
            <div class="mt10 mb10">{{this.sideNavConfig.header.user?.firstName}}
                {{this.sideNavConfig.header.user?.lastName}}
            </div>
            <div>{{this.sideNavConfig.header.org?.alias || this.sideNavConfig.header.org?.name}}</div>
        </div>
        <div class="g-1 flex d-col content">
            <button class="s-0" *ngIf="this.sideNavConfig.content.showMySitesBtn" mat-raised-button
                    [routerLink]="['/restaurants', { m: 's'}]">
                <span [translate]="'menu.mySites'">My Sites</span>
            </button>
            <button class="s-0" mat-raised-button [routerLink]="['/managers-dashboard']">
                <span [translate]="'menu.managerDashboard'">Manager Dashboard</span>
            </button>
            <button class="s-0" mat-raised-button (click)="settings(); sidenav.toggle();">
                <span [translate]="'menu.personalSettings'">Personal Settings</span>
            </button>
            <button class="s-0" *ngIf="this.sideNavConfig.content.showLogoutBtn" mat-raised-button (click)="logout()">
                <span [translate]="'menu.logout'">Logout</span>
            </button>
            <div *ngIf="debug" class="g-1 flex d-col"
                 style="word-break: break-all;text-align: left;padding: 5px;background-color: white;overflow: auto;">
                <div class="mb5" *ngFor="let logEntry of logArr"
                     [ngStyle]="{'color': logEntry.type==='error' ? 'red' : 'black'}">{{logEntry.message}}
                </div>
            </div>
            <div class="versions s-0 flex d-col a-center" style=" margin-top: auto;">
                <div>chef v{{appVersions?.chef}}</div>
                <div>chef-w v{{appVersions?.wrapper}}</div>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="flex j-sb a-center toolbar" id="main-toolbar" (swipeleft)="env.lang === 'he' ? sidenav.open() : sidenav.close()">
            <div class="flex j-start ps15" style="width:15%">
                <button
                        *ngIf="toolbarConfig.menuBtn.show"
                        mat-icon-button
                        (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <button style="height: 70px; width: 70px;"
                        *ngIf="toolbarConfig.left.back.showBtn"
                        mat-icon-button
                        (click)="toolbarConfig.left.back.onGoBackClicked()">
                    <mat-icon>{{env.tbtLocale==='he-IL' ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}}</mat-icon>
                </button>
            </div>
            <div class="flex d-col aj-center" style="width:70%; white-space:nowrap">
                <div class="flex a-center" style="color:white" (click)="refresh()">
                    <div>{{toolbarConfig.center.caption}}</div>
                    <button *ngIf="toolbarConfig.center.showRefresh" style="color: #c2c9d4;" mat-icon-button>
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
                <div *ngIf="toolbarConfig.center.showVatComment && !vat" style="color:white;font-size:12px;">(<span [translate]="'menu.excludingVAT'">Data excluding VAT</span>)
                </div>
                <div *ngIf="toolbarConfig.center.showVatComment && vat" style="color:white;font-size:12px;">(<span [translate]="'menu.includingVAT'">Data including VAT</span>)
                </div>
            </div>
            <div class="flex j-end pe15" style="width:15%">
                <button style="height: 70px; width: 70px;"
                        *ngIf="toolbarConfig.home.show"
                        mat-icon-button
                        (click)="toolbarConfig.home.goHome()">
                    <mat-icon>{{env.tbtLocale==='he-IL' ? 'home' : 'home'}}</mat-icon>
                </button>
            </div>
        </div>
        <div class="contentFixed">
            <div class="content" id="main-content" (swipeleft)="env.lang === 'he' ? sidenav.open() : sidenav.close()">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>
