<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over">
    <button mat-menu-item>
      <span (click)="logout()">התנתק</span>
    </button>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <div class="flex f-rtl a-center header">
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <div *ngIf="org">{{org.name}}</div>
      
      <button mat-button color="accent" *ngIf="router.url != '/owners-dashboard/home'" routerLink="/owners-dashboard/home">חזור</button>
    </div>
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

  <!-- </div> -->
<!-- </div> -->
</mat-sidenav-container>