<ul class="list-group p-0" *ngIf="data">
    <li class="list-group-item py-1">
        <div class="row flex a-center" style="cursor: pointer">
            <div class="col-2 justify-content-center">
                <span [translate]="'day.hour'">Hour</span>
            </div>
            <div class="col-6"></div>
            <div class="col-4 text-center px-0">
                <span [translate]="'day.sales3'">Sales</span> <br />
                (<span [translate]="'day.fourWeekAvg'">4W Avg.</span>)
            </div>
        </div>
    </li>
    <ng-container *ngFor="let day of data">
        <li class="list-group-item py-0" *ngIf="day.salesNetAmount" style="height: 38px;">
            <div class="row flex a-center" style="cursor: pointer">
                <div class="col-3">
                    <div style="font-weight: bold">{{getHour(day.hour)}}</div>
                    <div style="line-height: 10px;">
                        <span>{{getPercentage(day).toFixed(0)}}%</span>
                    </div>
                </div>

                <div class="col-7 px-1" style="height: 28px;">
                    <div class="progress rounded-0" style="height: 6px;" [style.width]="outerWidth(day) + '%'">
                        <div class="progress-bar progress-bar-animated rounded-0" role="progressbar"
                             style="width: 100%; background-color: #d6d9dc"></div>
                    </div>
                    <div class="progress rounded-0" [style.width]="innerAndOuterWidth(day) + '%'"
                         style="background-color: #d6d9dc">
                        <div class="progress-bar progress-bar-animated rounded-0"
                             [ngClass]="getProgressBarBackground(day)" role="progressbar"
                             [style.width]="progressBarWidth(day) + '%'" style="font-size: 16px;">
                        </div>
                    </div>
                    <div class="progress rounded-0" style="height: 6px;" [style.width]="outerWidth(day) + '%'">
                        <div class="progress-bar progress-bar-animated rounded-0" role="progressbar"
                             style="width: 100%; background-color: #d6d9dc"></div>
                    </div>
                </div>

                <div class="col-2 px-0">
                    <div>&nbsp;<span [innerHtml]="day.salesNetAmount | currency:'0':'':'':false"></span></div>
                    <div style="line-height: 10px;">(<span style="font-size: 12px;" [innerHtml]="getAvgValue(day) | currency:'0':'':'':true"></span>)</div>
                </div>
            </div>
        </li>
    </ng-container>
</ul>