<div class="ticket-box d-col">

    <div class="flex j-sb">
        <span i18n="slips@@businessMeal">Business Meal></span>
        <span>{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>

    <div class="flex j-sb">
        <span i18n="slips@@beforeVAT">Before VAT</span>
        <span>{{((data.amount/100)-(data.tax?.amount/100)) | number:'1.2-2'}}</span>
    </div>

    <div class="flex j-sb">
        <span i18n="slips@@vat">VAT</span>
        <span>{{(data.tax?.amount/100) | number:'1.2-2'}}</span>
    </div>

    <div class="flex j-sb">
        <span i18n="slips@@includeVAT">Include VAT</span>
        <span>{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>

    <hr />

    <div class="flex d-col a-center">
        <small i18n="slips@@returnedInCreditFrom">Returned in credit from</small>
        <h4>{{data.issuerName}}</h4>
    </div>

    <div class="flex j-sb" *ngIf="data.payments[0]?.last4.length>0">
        <span i18n="slips@@card">Card</span>
        <span>{{data.payments[0]?.last4}}</span>
    </div>

    <div class="flex j-sb" *ngIf="data.payments[0]?.providerTransactionId.length>0">
        <span i18n="slips@@transactionNumber">Transaction no.</span>
        <span>{{data.payments[0]?.providerTransactionId}}</span>
    </div>

    <div class="flex j-sb" *ngIf="data.payments[0]?.confirmationNum.length>0">
        <span i18n="slips@@approvalNumber">Approval no.</span>
        <span>{{data.payments[0]?.confirmationNum}}</span>
    </div>

</div>

