<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <!-- reactive form + material design: -->
    <form class="flex d-col" [formGroup]="fgtPswForm" novalidate>
        <mat-form-field style="width:100%">
            <input matInput type="email" placeholder="{{env.lang === 'he' ? 'מייל' : 'Email'}}" formControlName="email" required autofocus>
            <button mat-button *ngIf="fgtPswForm.value.email" matSuffix mat-icon-button aria-label="Clear" (click)="fgtPswForm.patchValue({email: ''})">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="email.invalid && email.value && (email.dirty || email.touched)">
                <div *ngIf="email.errors.email" i18n="login@@illegalEmail">{{env.lang === 'he' ? 'כתובת מייל לא חוקית' : 'Illegal email'}}</div>
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">{{env.lang === 'he' ? 'בטל' : 'Cancel'}}</button>
    <button mat-button (click)="onOkClick()" cdkFocusInitial [disabled]="fgtPswForm.invalid">{{env.lang === 'he' ? 'שלח' : 'Send'}}</button>
</div>