<div class="ticket-box d-col">
    
    <h4 i18n="slips@@returnedWithCash">Returned in Cash</h4>
    <!-- <h4>{{'RETURNED_CACHE' | translate}}</h4> -->

    <div class="flex j-sb">
        <!-- <span>{{'BUSINESS_MEAL' | translate}}</span> -->
        <span i18n="slips@@businessMeal">Business Meal></span>        
        <span>{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>
    
    <div class="flex j-sb">
        <!-- <span>{{'BEFORE_VAT' | translate}}</span> -->
        <span i18n="slips@@beforeVAT">Before VAT</span>        
        <span>{{((data.amount/100)-(data.tax?.amount/100)) | number:'1.2-2'}}</span>
    </div>
    
    <div class="flex j-sb">
        <!-- <span>{{'VAT' | translate}}</span> -->
        <span i18n="slips@@vat">VAT</span>
        <span>{{(data.tax?.amount/100) | number:'1.2-2'}}</span>
    </div>

    <div class="flex j-sb">
        <!-- <span>{{'INCLUDE_VAT' | translate}}</span> -->
        <span i18n="slips@@includeVAT">Include VAT</span>
        <span>{{(data.amount/100) | number:'1.2-2'}}</span>
    </div>

</div>





