<div class="ticket-box d-col">

    <!-- RETURN AMOUNT -->
    <div class="flex d-row  j-sb">
        <div class="flex g-4 row-txt">
            <span i18n="@@return">Return</span>
        </div>
        <div class="flex g-1 row-amount">
            <span>{{(data.amount/100) | number:'1.2-2'}}</span>
        </div>
    </div>

    <!-- BEFORE VAT -->
    <div class="flex d-row j-sb">
        <div class="flex g-4 row-txt">
            <span i18n="slips@@beforeVAT">Before VAT</span>
        </div>
        <div class="flex g-1 row-amount">
            <span>{{((data.amount/100)-(data.tax?.amount/100)) | number:'1.2-2'}}</span>
        </div>
    </div>

    <!-- VAT -->
    <div class="flex d-row j-sb">
        <div class="flex g-4 row-txt">
            <span i18n="slips@@vat">VAT</span>
        </div>
        <div class="flex g-1 row-amount">
            <span>{{(data.tax?.amount/100) | number:'1.2-2'}}</span>
        </div>
    </div>

    <!-- INCLUDE VAT -->
    <div class="flex d-row j-sb">
        <div class="flex g-4 row-txt">
            <span i18n="slips@@includeVAT">Include VAT</span>
        </div>
        <div class="flex g-1 row-amount">
            <span>{{(data.amount/100) | number:'1.2-2'}}</span>
        </div>
    </div>

    <hr />

    <!-- RETURN IN CASH FROM -->
    <div class="flex d-row a-center">
        <div class="flex g-4 row-txt">
            <span i18n="slips@@returnInCash">Returned in cash</span>
        </div>
        <div class="flex g-1 row-amount">
            <span>{{(data.amount/100) | number:'1.2-2'}}</span>
        </div>
    </div>


</div>