/* You can add global styles to this file, and also import other style files */
@import "fonts";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./tabit-material-theme.scss";

@import "./tabit/styles/config/colors";

$baseText: #343E56;

$oldDashBG: #edf1f2;

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: $baseText;
  background-color: black;
  overflow:hidden;//TLA
}
:focus {outline:none}//TLA
::-webkit-scrollbar {display:none}//TLA


/* TLA: */
body::-webkit-scrollbar {display:none}


// h1,h2,h3,h4 {display:block;padding:0;margin:0;font-weight:normal}TLA

/* TLA: */
// app-root {position:fixed;top:0;left:0;width:100vw;height:100vh;overflow:hidden}

// TLA:
.mat-button:hover .mat-button-focus-overlay {opacity:0!important}

button {cursor:pointer}//TLA


.widget {
  display: block;
  padding: 15px 12px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #343E56;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

  &.fullWidth {
    padding: 15px 0;
  }

  &.blueAccent {
    background-color: #3A5675;
    color: #fff;

    dx-load-indicator {
      .dx-loadindicator-segment {
        background-color: #fff;
      }
    }
  }
  &.greyAccent {
    background-color: #6e7482;
    color: #fff;
  }

  &.noPadding {
    padding: 0;
    background-color: transparent;
  }

  .title {
    font-size: 20px;
    color: white;
    background-color: #3a5675;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.2);
  }

  .body {

    .noData {
      text-align: center;
    }

    table {
      color: $fontColor;

      &.fixedWidth {
        table-layout: fixed;
        width: 100%;
      }

      tr {
        border-bottom: 1px solid #eaeff0;

        &.lastViewed {
          background-color: #b8cbdf;
        }

        &.tblTotalRow {
          font-weight: bold;
        }

        td {
          padding: 8px 0px;
          &:first-child {
            font-weight: bold;
          }
        }
      }
    }

    .table {
      color: $fontColor;
      .tblRow {
        padding: 8px 0px;
        border-bottom: 1px solid #eaeff0;

        &.tblTotalRow {
          font-weight: bold;
        }
      }
    }
  }
}

table {
  font-family: 'Assistant', sans-serif;
}

html[dir=rtl] {
  mat-card-content {
    text-align: start;
  }
}

.dx-widget, dx-datagrid, dx-pie-chart, dx-chart {
  font-family: 'Assistant', sans-serif !important;
}

dx-chart svg text {
  font-family: 'Assistant', sans-serif !important;
}

dx-pie-chart svg text {
  font-family: 'Assistant', sans-serif !important;
}

$navigatorHeight: 50px;
$navigatorBtnWidth: 50px;
.dx-calendar-navigator {
  height: $navigatorHeight;
  .dx-calendar-caption-button {
    right: $navigatorBtnWidth;
    left: $navigatorBtnWidth;
  }
  .dx-calendar-navigator-next-view, .dx-calendar-navigator-previous-view {
    width: $navigatorBtnWidth;
  }
}

.dx-datagrid {
  .dx-datagrid-headers {
    border: none;
  }
  .dx-row {
    border-top: none !important;
    border-bottom: none !important;
    &.dx-header-row > td, &.dx-data-row > td {
      padding: 8px 1px; //was 8px 5px
      font-size: 15px; //was 16px
      font-weight: normal;

    }
    &.dx-header-row > td {
      line-height: 40px;
      color: #aaa;
      border-bottom: 1px solid #aaa;
    }
    &.dx-data-row > td {
      line-height: 30px;
      color: $fontColor;
      border-top: 1px solid #eaeff0;
    }
    &:first-child {
      &.dx-data-row > td {
        border-top: none;
      }
    }
  }
}

$iconSize: 20px;
i.icon {
  width: $iconSize;
  height: $iconSize;
  display: block;
  background-repeat: no-repeat;
  &.iconOperationalAndCancellations {
    background: url(https://chef-cordova-prod.herokuapp.com/assets/icons/OperationalAndCancellation.svg);
  }
  &.iconRetention {
    background: url(https://chef-cordova-prod.herokuapp.com/assets/icons/Retention.svg);
  }
  &.iconOrganizational {
    background: url(https://chef-cordova-prod.herokuapp.com/assets/icons/Organizational.svg);
  }
  &.iconPromotions {
    background: url(https://chef-cordova-prod.herokuapp.com/assets/icons/Promotion.svg);
  }

  &.iconOperationalAndCancellations_off {
    background: url(https://chef-cordova-prod.herokuapp.com/assets/icons/OperationalAndCancellation_off.svg);
  }
  &.iconRetention_off {
    background: url(https://chef-cordova-prod.herokuapp.com/assets/icons/Retention_off.svg);
  }
  &.iconOrganizational_off {
    background: url(https://chef-cordova-prod.herokuapp.com/assets/icons/Organizational_off.svg);
  }
  &.iconPromotions_off {
    background: url(https://chef-cordova-prod.herokuapp.com/assets/icons/Promotion_off.svg);
  }
}


.daySelectorFixed {
    #daySelector {
        justify-content: center;
        .dx-widget.dx-calendar-navigator {
        }
    }
}

//https://quickleft.com/blog/4-steps-to-minimizing-rendering-issues-in-cordova-applications/
* {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
    color: rgba(0, 0, 0, 0.54);
}

@import 'tabit/styles/util';
@import 'tabit/styles/flex';
@import 'tabit/styles/frame';
