/* You can add global styles to this file, and also import other style files */

@import "fonts";
    

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./tabit-material-theme.scss";

$baseText: #343E56;
$greyText: #6e7482;

$oldDashBG: #edf1f2;

// https://stackoverflow.com/questions/2338102/override-browser-form-filling-and-input-highlighting-with-html-css
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px $oldDashBG inset!important; /* Change the color to your own background color */
    -webkit-text-fill-color: $baseText!important;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px $oldDashBG inset!important;
    -webkit-text-fill-color: $baseText!important;
} 

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    color: $baseText;
    //background-color: $oldDashBG;
    background-color: black;

}

::-webkit-scrollbar {
    height: 10px;
    width: 0px;
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
::-webkit-scrollbar-corner {
    background: #000;
}



.widget {
    display: block;
    padding: 15px 12px;
    margin-bottom: 10px;
    background-color: #fff;
    color: #343E56;
    
    &.fullWidth {
        padding: 15px 0;
    }

    &.blueAccent {
        background-color: #3A5675;
        color: #fff;

        dx-load-indicator {
            .dx-loadindicator-segment {
                background-color: #fff;
            }
        }
    }
    &.greyAccent {
        background-color: #6e7482;
        color: #fff;
    }

    &.noPadding {
        padding: 0;
        background-color: transparent;
    }

    .title {
        font-size: 16px;
        font-weight: bold;
        text-align: center;        
    }

    .body {
        
        table {
            color: $greyText;

            &.fixedWidth {
                table-layout: fixed;
                width: 100%;
            }

            tr {
                border-top: 1px solid #eaeff0;
                &:first-child {
                    border-top: none;
                }                
                
                &.tblTotalRow {
                    font-weight: bold;
                }

                td {
                    padding: 8px 0px;
                    &:first-child {
                        background: linear-gradient(90deg, white,white 20%, rgba(143, 193, 220, 0.25) 20%,rgba(143, 193, 220, 0.25) 20%);
                        padding: 8px 5px!important;
                    }
                }
            }
        }

        .table {
            color: $greyText;
            .tblRow {
                padding: 8px 0px;
                border-top: 1px solid #eaeff0;
                &:first-child {
                    border-top: none;
                }

                &.tblTotalRow {
                    font-weight: bold;
                }
            }
        }
    }
}


html[dir=rtl] {
    mat-card-content {
        text-align: start;
    }
}

.dx-widget, dx-datagrid, dx-pie-chart, dx-chart {
    font-family: 'Assistant', sans-serif!important;
}
dx-chart svg text {
    font-family: 'Assistant', sans-serif!important;
}
dx-pie-chart svg text {
    font-family: 'Assistant', sans-serif!important;
}

$navigatorHeight: 50px;
$navigatorBtnWidth: 50px;
.dx-calendar-navigator {
    height: $navigatorHeight;
    .dx-calendar-caption-button {
        right: $navigatorBtnWidth;
        left: $navigatorBtnWidth;
    }
    .dx-calendar-navigator-next-view, .dx-calendar-navigator-previous-view {
        width: $navigatorBtnWidth;
    }
}

.dx-datagrid {
    .dx-datagrid-headers {
        border: none;
    }
    .dx-row {
        border-top: none!important;
        border-bottom: none!important;
        &.dx-header-row > td, &.dx-data-row > td {
            padding: 8px 1px;//was 8px 5px
            font-size: 15px;//was 16px
            font-weight: normal;

        }
        &.dx-header-row > td {
            line-height: 40px;
            color: #aaa;
            border-bottom: 1px solid #aaa;
        }
        &.dx-data-row > td {
            line-height: 30px;
            color: #6E7482;
            border-top: 1px solid #eaeff0;
        }
        &:first-child {
            &.dx-data-row > td {
                border-top: none;
            }
        }
    }
}

@import 'tabit/styles/util';
@import 'tabit/styles/flex';