/* You can add global styles to this file, and also import other style files */

//https://stackoverflow.com/questions/46465888/custom-font-import-in-angular4
// $dashboard-daily-woff-font-path: "./fonts/archistico_bold-webfont.woff";
// $dashboard-daily-woff2-font-path: "./fonts/archistico_bold-webfont.woff2";
$font-family-brand: 'archisticobold';

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./tabit-material-theme.scss";

$baseText: #343E56;
$greyText: #6e7482;

$oldDashBG: #edf1f2;
$galsBGColor: hsl(36, 100%, 78%);

// https://stackoverflow.com/questions/2338102/override-browser-form-filling-and-input-highlighting-with-html-css
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px $oldDashBG inset!important; /* Change the color to your own background color */
    -webkit-text-fill-color: $baseText!important;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px $oldDashBG inset!important;
    -webkit-text-fill-color: $baseText!important;
} 

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Alef", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    color: $baseText;
    background-color: $oldDashBG;

}

::-webkit-scrollbar {
    height: 10px;
    width: 0px;
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
::-webkit-scrollbar-corner {
    background: #000;
}



.widget {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    color: #343E56;
    &.blueAccent {
        background-color: #3A5675;
        color: #fff;
    }
    &.greyAccent {
        background-color: #6e7482;
        color: #fff;
    }

    &.card {
        height: 120px;
    }

    .title {
        font-size: 18px;
        font-weight: bold;
        text-align: center;        
    }

    .body {
        .table {
            color: $greyText;
            .tblRow {
                padding: 8px 0px;
                border-top: 1px solid #eaeff0;
                &:first-child {
                    border-top: none;
                }

                &.tblTotalRow {
                    font-weight: bold;
                }
            }
        }
    }
}

@import 'tabit/styles/util';
@import 'tabit/styles/flex';