

.dash-content{
  padding-left:0 !important;
  padding-right:0 !important;
  padding-bottom:0 !important;
}

.dash-pos-buttons{
    position:absolute;
    right:10px;
    top: -12px;
    .rtl &{
      right:auto;
      left:10px;
    }
}


