<mat-sidenav-container class="rtl">

  <mat-sidenav class="flex d-col" #sidenav mode="over">
    <div class="s-0 flex d-col header">
      <button mat-fab disabled style="background-color:white;color: black;font-weight:bold;">{{this.sideNavConfig.header.userInitials}}</button>
      <div class="mt10 mb10">{{this.sideNavConfig.header.user?.firstName}} {{this.sideNavConfig.header.user?.lastName}}</div>
      <div>{{this.sideNavConfig.header.org?.alias || this.sideNavConfig.header.org?.name}}</div>
    </div>
    <div class="g-1 flex d-col content">
      <button class="s-0" *ngIf="this.sideNavConfig.content.showMySitesBtn" mat-raised-button [routerLink]="['/restaurants', { m: 's'}]">
        <span i18n="owners-dashboard@@mySites">My Sites</span>
      </button>
      <button class="s-0" mat-raised-button [routerLink]="['/owners-dashboard/home']">
        <span i18n="owners-dashboard@@ownerDashboard">Owner Dashboard</span>
      </button>
      <button class="s-0" *ngIf="this.sideNavConfig.content.showLogoutBtn" mat-raised-button (click)="logout()">
        <span i18n="owners-dashboard@@logout">Logout</span>
      </button>

      <div class="versions s-0 flex d-col a-center" style="margin-top: auto;">
        <div>chef v{{appVersions?.chef}}</div>
        <div>chef-w v{{appVersions?.wrapper}}</div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="flex j-sb a-center toolbar">
      <div class="flex j-start ps15" style="width:20%">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      </div>
      <div class="flex d-col aj-center" style="width:60%;">
        <div class="flex a-center" style="color:white" (click)="refresh()">
          <div>{{toolbarConfig.center.caption}}</div>
          <button *ngIf="toolbarConfig.center.showRefresh" style="color: #c2c9d4;" mat-icon-button>
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </div>
      <div class="flex j-end pe15" style="width:20%" i18n="@@introductionHeader">

      </div>
    </div>
    <!--START CONTENT-->
    <div class="contentFixed">
      <div class="content">

        <div class="wrapper-sm" *ngIf="MDS.isHandset"></div>
        <div class="pos-rlt" style="margin:0 auto; max-width:1024px">
          <ul class="nav-tabs-dash-main nav nav-tabs m-t" role="tablist">
            <li class="nav-item text-xl">
              <a class="nav-link" [class.active]="criteria.report == 'dayly'" (click)="criteria.report = 'dayly'">
                <ng-container i18n="manager-dash@@DaylyReport">Dayly Report</ng-container>
              </a>
            </li>
            <li class="nav-item text-xl">
              <a class="nav-link" [class.active]="criteria.report == 'sales'" (click)="criteria.report = 'sales'">
                <ng-container i18n="manager-dash@@SalesReport">Sales Report</ng-container>
              </a>
            </li>
          </ul>

          <div class="dash-pos-buttons">


            <button mat-fab color="primary">Primary</button>
            <button mat-fab color="accent">Accent</button>
            <button mat-fab color="warn">Warn</button>


            <!--<div class="hbox">
              <div class="hcol v-middle" *ngIf="!isSmallMedia">
                <div class="m-far">
                  <button class="btn btn-default btn-block no-padder-hX  btn-addon" ng-click="doBusinessDate()">
                    <i class="fa fa-calendar"></i>
                    <ng-container *ngIf="MDS.isDateClosed">{{MDS.businessDate | date}}</ng-container>
                    <ng-container *ngIf="!MDS.isDateClosed" i18n="@@Today">Today</ng-container>
                  </button>
                </div>

              </div>

              <div class="hcol v-bottom text-far" *ngIf="isSmallMedia">
                <div class="text-xs font-bold inline text-center" style="width:60px; white-space:nowrap">
                  <ng-container *ngIf="MDS.isDateClosed">{{MDS.businessDate | date}}</ng-container>
                  <ng-container *ngIf="!MDS.isDateClosed" i18n="@@Today">Today</ng-container>
                </div>
                <button class="btn btn-rounded btn-lg btn-icon btn-dark" style="width:60px; height:60px;" ng-click="doBusinessDate()">
                  <img src="images/calendar.svg" style="width:30px; height:30px" />
                </button>

              </div>
              <div class="hcol v-bottom text-far" style="width:65px">
                <button class="btn btn-rounded btn-lg btn-icon btn-dark" style="width:60px; height:60px;" ng-click="doDataUpdate()" ng-disabled="MDS.isDateClosed">
                  <img src="images/cycle.svg" [ngClass]="{'image-spin':criteria.refreshing}" style="width:40px; height:40px" />
                </button>
              </div>
            </div>-->
          </div>


        </div>

        <h2>[{{criteria.loaded}} | {{criteria.report == 'dayly'}}]</h2>

        <div class="pos-rlt" *ngIf="!criteria.loaded">
          <app-manager-dashboard-dayly *ngIf="criteria.report === 'dayly'"
                                       class="animated pos-out fade-in-down" [criteria]="criteria" [db]="db">
          </app-manager-dashboard-dayly>

          <app-manager-dashboard-sales *ngIf="criteria.report == 'sales'"
                                       class="animated pos-out fade-in-down" [criteria]="criteria" [db]="db">
          </app-manager-dashboard-sales>

        </div>

      </div>
    </div>
    <!--END CONTENT-->
  </mat-sidenav-content>
</mat-sidenav-container>
