<div class="flex f-rtl d-col">
    <dx-load-indicator class="as-center" *ngIf="loading" rtlEnabled="true"></dx-load-indicator>
    <div class="flex d-col" *ngIf="!loading">
        <div class="title" i18n="@@payments">Payments</div>
        <div class="flex d-col body">
            <table class="fixedWidth">
                <tr class="header">
                    <td i18n="@@payment">Payment</td>
                    <td>{{bd | date:'dd/MM/yyyy'}}</td>
                    <td class="pctCell">%</td>
                    <td i18n="@@monthlyTotal">Monthly Total</td>
                    <td class="pctCell">%</td>
                </tr>
            </table>
            <table class="fixedWidth">
                <tr class="totalRow">
                    <td i18n="@@totalPayments">Total Payments</td>
                    <td>{{data.totalPayments.today | curr:'1':'':'nullify'}}</td>
                    <td class="pctCell">{{data.totalPayments.todayPct | pct:'1':'nullify'}}</td>
                    <td>{{data.totalPayments.mtd | curr:'1':'':'nullify'}}</td>
                    <td class="pctCell">{{data.totalPayments.mtdPct | pct:'1':'nullify'}}</td>
                </tr>
            </table>
            <table class="fixedWidth" *ngFor="let accountTypeData of data.byAccountType">
                <tr class="accountTypeRow">
                    <td>{{accountTypeData.accountType}}</td>
                    <td>{{accountTypeData.totalPayments.today | curr:'1':'':'nullify'}}</td>
                    <td class="pctCell">{{accountTypeData.totalPayments.todayPct | pct:'1':'nullify'}}</td>
                    <td>{{accountTypeData.totalPayments.mtd | curr:'1':'':'nullify'}}</td>
                    <td class="pctCell">{{accountTypeData.totalPayments.mtdPct | pct:'1':'nullify'}}</td>
                </tr>
                <tr *ngFor="let accountData of accountTypeData.byAccount" class="accountRow">
                    <td>{{accountData.account}}</td>
                    <td>{{accountData.totalPayments.today | curr:'1':'':'nullify'}}</td>
                    <td class="pctCell">{{accountData.totalPayments.todayPct | pct:'1':'nullify'}}</td>
                    <td>{{accountData.totalPayments.mtd | curr:'1':'':'nullify'}}</td>
                    <td class="pctCell">{{accountData.totalPayments.mtdPct | pct:'1':'nullify'}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>