<div class="flex d-col">
    <div class="title" [translate]="'day.payments'">Payments</div>
    <mat-accordion>
        <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span [translate]="'day.paymentsReport'">Payments report</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="chf-tbl chf-tbl-x-smaller">
                <tr class="header">
                    <td [translate]="'day.method'">Method</td>
                    <td class="ar" [translate]="'day.daily'">Daily</td>
                    <td class="ar" [translate]="'day.monthly'">Monthly</td>
                </tr>
                <tr class="totalRow" *ngIf="data">
                    <td [translate]="'day.total'">Total</td>
                    <td class="ar">{{data.paymentsKpis.daily | curr:'0':'':'nullify':true}}</td>
                    <td class="ar">{{data.paymentsKpis.monthly | curr:'0':'':'nullify':true}}</td>
                </tr>
                <ng-container *ngIf="data">
                    <ng-container *ngFor="let accountGroupObj of data.byAccountGroup">
                        <ng-container *ngIf="accountGroupObj">
                            <tr class="accountTypeRow">
                                <td>{{accountGroupObj.accountGroup}}</td>
                                <td class="ar" dir="ltr">{{accountGroupObj.paymentsKpis.daily | curr:'0':'':'nullify':true}}<span style="display: block">({{accountGroupObj.paymentsKpis.dailyPrc | pct:'1'}})</span></td>
                                <td class="ar" dir="ltr">{{accountGroupObj.paymentsKpis.monthly | curr:'0':'':'nullify':true}}<span style="display: block">({{accountGroupObj.paymentsKpis.monthlyPrc | pct:'1'}})</span></td>
                            </tr>
                            <tr *ngFor="let clearerNameObj of accountGroupObj.byClearerName" class="accountRow">
                                <td>&nbsp;&nbsp;{{clearerNameObj.clearerName}}</td>
                                <td class="ar" dir="ltr">{{clearerNameObj.paymentsKpis.daily | curr:'0':'':'nullify':true}}<span *ngIf="clearerNameObj.paymentsKpis.daily" style="display: block">({{clearerNameObj.paymentsKpis.dailyPrc | pct:'1'}})</span></td>
                                <td class="ar" dir="ltr">{{clearerNameObj.paymentsKpis.monthly | curr:'0':'':'nullify':true}}<span *ngIf="clearerNameObj.paymentsKpis.monthly" style="display: block">({{clearerNameObj.paymentsKpis.monthlyPrc | pct:'1'}})</span></td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
</div>