/deep/.order-ticket {
	hr {
		border: 0;
    	border-top: 1px solid #eee;
	}

	.offer-line {}
	.item-line {
		font-weight: normal;
		.item-name {
			padding-right: 40px;
		}
	}
	.negative {
		display: inline-block;
		direction: ltr;
		text-align: right;
		width: 100%;
	}

	background-color: #fff;
	min-height: 200px;
	font-family: "Courier New", Courier, monospace;
	color: #000;
	font-weight: bold;
	border-radius: 4px;
	border: 1px solid #ddd;
	position: relative;

	.order-ticket-body {
		padding: 20px 8px;
		min-height: 350px;

		hr {
			margin: 15px 0;
		}
	}

	.ticket-box {
		padding: 11px 0;

		h3 {
			font-size: 22px;
			padding: 0;
			margin: 0;
		}

		font-size: 14px;
		&.common {
			font-size: 17px;
		}


	}

	.order-ticket-body > .ticket-box:last-child {
		border-bottom-width: 0;
	}

	.ticket-box.border-none {
		border-bottom-width: 0
	}

	.tax {
		font-size: smaller;

		.title {
			padding: 0 25px;
		}
	}

	.change {
		padding: 10px 0;
	}

	.returnOrder {
		font-weight: 600;
		font-size: 23px;
		letter-spacing: 3px;
	}

	.fs-12{
		font-size: 12px;
	}

	.space-line {
		height: 8px;
	}

	.te {
		padding-top: 10px;

		.fs-24 {
			font-size: 24px;
		}

		.fs-16 {
			font-size: 14px;
		}

		.text-bold {
			font-weight: 600;
		}

		.text {
			font-size: 10px;
		}
	}

}