<div class="flex j-sb a-center dialog-toolbar">
    <div class="flex j-start ps15" style="width:15%">
        <button mat-icon-button style="height: 70px; width: 70px;" (click)="bottomSheetRef.dismiss();">
            <mat-icon>{{env.tbtLocale==='he-IL' ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}}</mat-icon>
        </button>
    </div>
    <div class="flex d-col aj-center" style="width:70%;">
        <div class="flex a-center" style="color:white">
            <div>{{ownersDashboardService.toolbarConfig.center.caption}}</div>
        </div>
        <div *ngIf="!incTax" style="color:white;font-size:12px;">(<span [translate]="'menu.excludingVAT'">Data excluding VAT</span>)
        </div>
        <div *ngIf="incTax" style="color:white;font-size:12px;">(<span [translate]="'menu.includingVAT'">Data including VAT</span>)
        </div>
    </div>
    <div class="flex j-end pe15" style="width:15%">
        <button style="height: 70px; width: 70px;"
                mat-icon-button
                (click)="goHome()">
            <mat-icon>{{env.tbtLocale==='he-IL' ? 'home' : 'home'}}</mat-icon>
        </button>
    </div>
</div>
<div class="dialog-content-fixed">
    <div class="dialog-content">
        <div class="month-picker-dialog">
            <div class="col mb-3 p-0" *ngFor="let month of months">
                <app-card (click)="select($event, month)" [cardData]="month.summary" class="picker-card-container" style="cursor: pointer"></app-card>
            </div>
        </div>
    </div>
</div>
