@import '../../../../tabit/styles/config/frame';
@import '../../../../tabit/styles/config/colors';

.selected {
  background-color: #BDBDBD;
}

.month-picker-dialog {
  font-family: 'Assistant', sans-serif;
}

::ng-deep.card {
  font-family: 'Assistant', sans-serif;
}

::ng-deep.mat-bottom-sheet-container {
  font-family: 'Assistant', sans-serif !important;
  max-height: 100vh;
  height: 100vh;
  width: 100% !important;
  max-width: 100% !important;
  padding: 0px !important;
}

.month-picker-backdrop {
  opacity: 0;
}

.dialog-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: $toolbarHeight;
  overflow: hidden;
  z-index: 1;

  background-color: $headerBgColor;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  box-sizing: content-box;
  @media #{$iphone-X-portrait-mq} {
    padding-top: $iphone-X-notch-px;
  }
  @media #{$iphone-6-7-8-portrait-mq} {
    padding-top: $iphone-6-7-8-status-bar-px;
  }
  @media #{$iphone-6-7-8-plus-portrait-mq} {
    padding-top: $iphone-6-7-8-plus-status-bar-px;
  }
  @media #{$ipad-portrait-mq} {
    padding-top: $ipad-status-bar-px;
  }

}

.dialog-content-fixed {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  .dialog-content {
    padding: ($toolbarHeight + $contentPadding) $contentPadding $contentPadding $contentPadding;
    @media #{$iphone-X-portrait-mq} {
      padding: ($iphone-X-notch-px + $toolbarHeight + $contentPadding) $contentPadding $contentPadding $contentPadding;
    }
    @media #{$iphone-6-7-8-portrait-mq} {
      padding: ($iphone-6-7-8-status-bar-px + $toolbarHeight + $contentPadding) $contentPadding $contentPadding $contentPadding;
    }
    @media #{$iphone-6-7-8-plus-portrait-mq} {
      padding: ($iphone-6-7-8-plus-status-bar-px + $toolbarHeight + $contentPadding) $contentPadding $contentPadding $contentPadding;
    }
    @media #{$ipad-portrait-mq} {
      padding: ($ipad-status-bar-px + $toolbarHeight + $contentPadding) $contentPadding $contentPadding $contentPadding;
    }

    background-color: $contentBgColor;
    width: 100vw;
    height: calc(100vh - 1px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}