<div class="flex d-col f-rtl order-view" style="position:relative">
  <!-- https://github.com/angular/material2/issues/5269 -->
  <mat-tab-group class="flex d-col" style="height:100%">
    <mat-tab label="Tab 1">
      <ng-template mat-tab-label>
        <mat-icon>filter_none</mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <div class="tab slips">
          <div *ngIf="!show" class="flex aj-center" style="width:100%;height:100%;">
            <dx-load-indicator rtlEnabled="true"></dx-load-indicator>
          </div>
          <app-order-slips 
            *ngIf="show"
            [order]="order" 
            [orderOld]="orderOld" 
            [printDataOld]="printDataOld"
            [ORDERSVIEW]="ORDERS_VIEW"
            >
          </app-order-slips>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Tab 2">
      <ng-template mat-tab-label>
        <mat-icon>list</mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <div class="tab details">
          <div *ngIf="!show" class="flex aj-center" style="width:100%;height:100%;">
            <dx-load-indicator rtlEnabled="true"></dx-load-indicator>
          </div>
          <app-order-details
            *ngIf="show"
            [order]="order" 
            [orderOld]="orderOld"
            [ORDERSVIEW]="ORDERS_VIEW"
          >
          </app-order-details>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <div class="flex a-center ph10 flags" style="position:absolute;top: 0;left: 0;height:48px;">
    <mat-icon *ngIf="order?.priceReductions?.cancellation > 0" style="color: red;">delete_forever</mat-icon>
    <mat-icon *ngIf="order?.priceReductions?.discountsAndOTH > 0" style="color: orange;">cake</mat-icon>
    <mat-icon *ngIf="order?.priceReductions?.employees > 0" style="color: blue;">local_dining</mat-icon>
    <mat-icon *ngIf="order?.priceReductions?.promotions > 0" style="color: green;">star_border</mat-icon>
  </div>
</div>

