<div class="row">
  <div class="col-md-12">      
    
    <app-order-bill [order]="order" [orderOld]="orderOld" [printDataOld]="printDataOld"></app-order-bill>
    <!-- order selector? -->
    
    <!-- order-bill -->
    <!-- order-club-members -->
    <!-- order-order-invoice -->
    <!-- order-details -->


    <!-- <app-day-selector class="widget noPadding" #daySelector [currentValue]="day" (onDateChanged)="onDateChanged($event)"></app-day-selector>
    <app-day-pie-chart class="widget blueAccent" #dayPieChart></app-day-pie-chart>
    <app-day-sales-type-table 
      class="widget" 
      #daySalesTypeTable
      (onRowClicked)="onGoToOrders($event, 'orderType')"
      >
    </app-day-sales-type-table>
    <app-day-diners-table 
      class="widget" 
      *ngIf="dinersTable.show"
      [data$]="dinersTableData$"
      ></app-day-diners-table>
    <app-day-orders-table 
      class="widget fullWidth"
      *ngIf="orders"
      [orders]="orders"
      ></app-day-orders-table>
    <app-day-shifts class="widget greyAccent" #dayShifts></app-day-shifts>       -->

  </div>
</div>


